@font-face {
	font-family: "rei";
	src: url('rei.eot') format("embedded-opentype"), url('rei.woff') format("woff"), url('rei.ttf') format("truetype"), url('rei.svg') format("svg");
}
.iconfont { font-family: "rei"; font-style: normal; font-weight: normal; cursor: default; }
/* ::::: https://a.alipayobjects.com/excashier/front/1.0.0/front-old.css ::::: */

html { color: rgb(0, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0px; padding: 0px; }
audio, canvas, video { display: inline-block; }
body, button, input, select, textarea { font: 12px/1.5 tahoma,arial,宋体; }
input, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0px; }
th { text-align: inherit; }
fieldset, img { border: 0px none; }
iframe { display: block; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 500; }
ol, ul { list-style: outside none none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }
q::before, q::after { content: ""; }
a:hover { text-decoration: underline; }
ins, a { text-decoration: none; }
.fn-clear::after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
.fn-clear {  }
body .fn-hide { display: none; }
.fn-left, .fn-right { display: inline; }
.fn-left { float: left; }
a { color: rgb(0, 102, 187); }
html body .ft-orange, html body .ft-green { font-family: tahoma,verdana,arial; }
html body .ft-orange { color: rgb(255, 102, 0); }
html body .ft-center { text-align: center; }
html body .ft-bold { font-weight: 700; }
.ft-break { word-wrap: break-word; word-break: break-all; }
html body .fn-left { float: left; }
html body .fn-mr5 { margin-right: 5px; }
html body .fn-ml5 { margin-left: 5px; }
label, label:focus, label:hover, label:active { border: 0px none; outline: medium none; }
.mi-form-item { padding: 0px 0px 20px 170px; margin: 0px; }
.mi-label { padding: 3px 0px 6px; width: 170px; float: left; margin-left: -170px; vertical-align: middle; text-align: right; color: rgb(77, 77, 77); font-size: 14px; position: relative; }
.mi-input, .mi-textarea, .mi-form .mi-securitycore .mi-checkcode-input { border-width: 1px; border-style: solid; border-color: rgb(166, 166, 166) rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(77, 77, 77); font: 400 12px tahoma,arial,宋体; padding: 7px 4px; vertical-align: top; width: 210px; }
.mi-form-item .mi-input:focus, .mi-form-item .mi-textarea:focus, .mi-form-item .mi-input-focus, .mi-form-item .mi-textarea-focus, .mi-form-item-focus .mi-input, .mi-form-item-focus .mi-textarea, .mi-form .ui-securitycore .ui-checkcode-input:focus { color: rgb(77, 77, 77); border-color: rgb(0, 119, 255); outline: 1px solid rgb(140, 221, 255); }
.mi-form-explain { color: rgb(166, 166, 166); padding: 3px 0px 0px; font-size: 12px; }
.mi-button { display: inline-block; padding: 0px; text-decoration: none ! important; text-align: center; overflow: visible; vertical-align: middle; position: relative; }
.mi-button-text { border: 0px none; float: left; cursor: pointer; }
.mi-button-sblue, .mi-button-swhite, .mi-button-sorange, .mi-button-sblue-hover, .mi-button-swhite-hover, .mi-button-sorange-hover, .mi-button-sblue-disabled, .mi-button-swhite-disabled, .mi-button-sorange-disabled, .mi-button-mblue, .mi-button-mwhite, .mi-button-morange, .mi-button-mblue-hover, .mi-button-mwhite-hover, .mi-button-morange-hover, .mi-button-mblue-disabled, .mi-button-mwhite-disabled, .mi-button-morange-disabled, .mi-button-lblue, .mi-button-lwhite, .mi-button-lorange, .mi-button-lblue-hover, .mi-button-lwhite-hover, .mi-button-lorange-hover, .mi-button-lblue-disabled, .mi-button-lwhite-disabled, .mi-button-lorange-disabled, .mi-button-text { padding: 0px 0px 0px 4px; background: transparent url('2jqij9rjrr.png') no-repeat scroll 0px 0px; }
.mi-button-text { padding: 0px 4px 0px 0px; background-position: right 0px; }
.mi-button-lblue .mi-button-text, .mi-button-lorange .mi-button-text, .mi-button-lwhite .mi-button-text { height: 34px; color: rgb(255, 255, 255); font: 700 14px/1.4 宋体,黑体,verdana; }
a.mi-button-lblue .mi-button-text, a.mi-button-lwhite .mi-button-text, a.mi-button-lorange .mi-button-text { padding: 8px 19px 4px 16px; height: 22px; }
.mi-button-lwhite { background-position: 0px -462px; }
.mi-button-lwhite .mi-button-text { background-position: right -462px; color: rgb(77, 77, 77); }
.mi-button-lorange { background-position: 0px -532px; }
.mi-button-lorange .mi-button-text { background-position: right -532px; }
a.mi-button-lwhite:hover, .mi-button-lwhite-hover { background-position: 0px -497px; }
a.mi-button-lwhite:hover .mi-button-text, .mi-button-lwhite-hover .mi-button-text { background-position: right -497px; }
a.mi-button-lorange:hover, .mi-button-lorange-hover { background-position: 0px -567px; }
a.mi-button-lorange:hover .mi-button-text, .mi-button-lorange-hover .mi-button-text { background-position: right -567px; }
.topbar { width: 100%; height: 26px; background: transparent url('ozlou0mhd.png') repeat-x scroll 0px 0px; }
.topbar .topbar-wrap { background: transparent url('ozlou0mhd.png') repeat-x scroll 0px 0px; width: 950px; margin: 0px auto; }
.topbar .topbar-wrap a, .topbar .topbar-wrap span { float: right; color: rgb(255, 255, 255); padding: 4px 15px; background: transparent url('ozupukvet.png') no-repeat scroll 0px 7px; }
.topbar .topbar-wrap .topbar-link-last { padding-right: 0px; }
.topbar .topbar-wrap .topbar-link-first { padding-left: 0px; background: transparent none repeat scroll 0px 0px; }
#header { width: 100%; height: 40px; margin-top: 15px; }
#footer { margin-top: 20px; text-align: center; width: 100%; padding: 10px 0px; }
#footer #ServerNum { color: rgb(255, 255, 255); }
.mi-notice { font-size: 14px; border: 1px solid rgb(225, 225, 202); background-color: rgb(255, 255, 255); }
.mi-notice-titleonly { border: 0px none; }
.mi-notice-titleonly .mi-notice-title { margin: 0px; }
.mi-notice-success .mi-notice-title { background-color: rgb(237, 255, 204); }
.mi-notice-success .iconfont { color: rgb(51, 204, 51); }
.mi-notice-error .mi-notice-title { background-color: rgb(252, 238, 232); border-color: rgb(246, 200, 181); }
.mi-notice-error .iconfont { color: rgb(255, 51, 51); }
.mi-notice-title { min-height: 34px; padding: 25px 43px 21px 88px; border: 1px solid rgb(225, 225, 202); margin: -1px; position: relative; }
.mi-notice-title .iconfont { font-size: 38px; line-height: 38px; float: left; margin: -4px 0px 0px -51px; }
.mi-notice-title h3 { color: rgb(60, 60, 60); font-weight: 700; font-size: 16px; padding: 4px 0px 0px; }
.mi-notice-explain-other { border-top: 1px dashed rgb(238, 238, 238); color: rgb(77, 77, 77); margin: 0px 15px; padding: 14px 0px 16px 69px; }
.mi-notice-title .mi-notice-explain-other { padding: 14px 0px 0px; margin: 0px; border-top: 0px none; }
.teForm { padding: 20px 0px 0px 20px; }
.mi-form-item { padding: 0px 0px 20px 100px; }
a { color: rgb(0, 136, 204); }
.mi-input-account { width: 162px; padding: 7px 10px; }
.aside-link { margin: 3px 0px 3px 4px; display: inline-block; }
.fn-hide { display: none; }
.fg-pwd-area { margin-left: 4px; }
.alipay-agreement { width: 600px; height: 270px; padding: 10px; text-align: center; }
.alipay-agreement-content { height: 230px; width: 600px; margin-bottom: 5px; }
.user-login-account { padding: 1px 0px 6px; font-size: 14px; margin: 4px 0px 0px; font-weight: 700; font-family: verdana,Arial; color: rgb(255, 151, 0); word-break: break-all; word-wrap: break-word; }
.topbar { width: 100%; height: 26px; background: transparent url('ozlou0mhd.png') repeat-x scroll 0px 0px; }
.topbar .topbar-wrap { background: transparent url('ozlou0mhd.png') repeat-x scroll 0px 0px; width: 950px; margin: 0px auto; }
.topbar .topbar-wrap a, .topbar .topbar-wrap span { float: right; color: rgb(255, 255, 255); padding: 4px 15px; background: transparent url('ozupukvet.png') no-repeat scroll 0px 7px; }
.topbar .topbar-wrap .topbar-link-last { padding-right: 0px; }
.topbar .topbar-wrap .topbar-link-first { padding-left: 0px; background: transparent none repeat scroll 0px 0px; }
#header { width: 100%; height: 40px; margin-top: 15px; }
.mi-form-item { position: relative; width: 350px; }
.mi-input-account { height: 24px; width: 328px; font-size: 14px; }
.mi-label { width: 350px; text-align: left; margin-left: 0px; }
.fg-pwd-area { position: absolute; top: -3px; right: 0px; }
.newBtn-orange, .newBtn-blue { display: block; width: 110px; height: 38px; line-height: 38px; text-align: center; color: rgb(254, 254, 254); font-size: 14px; font-weight: 700; cursor: pointer; margin: 0px auto; border-radius: 3px; }
.newBtn-long { width: 348px; }
.newBtn-blue { border: 1px solid rgb(15, 164, 219); background: rgb(0, 174, 239) none repeat scroll 0% 0%; }
.newBtn-blue:hover { line-height: 36px; text-decoration: none; background: rgb(5, 181, 247) none repeat scroll 0% 0%; }
.newBtn-orange span, .newBtn-blue span { display: block; border: 0px none; height: 38px; cursor: pointer; }
.newBtn-blue:hover span { height: 36px; border: 1px solid rgb(75, 202, 249); }
#partner { background-color: rgb(247, 247, 247); margin-top: 10px; padding: 20px 0px 16px; text-align: center; }
.login-title { width: 100%; }
.login-title-left { float: left; font-size: 20px; background-color: rgb(255, 255, 255); text-decoration: none; }
.login-title .lt-text { color: rgb(0, 0, 0); font-size: 20px; background-color: rgb(255, 255, 255); }
.login-title .rt-text { font-size: 16px; font-weight: 700; text-decoration: none; color: rgb(21, 137, 202); }
.login-title-right { float: right; font-size: 16px; line-height: 33px; text-decoration: none; }
.login-title-area { border-bottom: 2px solid rgb(203, 203, 203); position: relative; height: 30px; margin: 50px 0px 20px; padding: 2px 0px; }
@font-face {
	font-family: "rei";
	src: url('rei_001.eot') format("embedded-opentype"), url('rei_001.woff') format("woff"), url('rei_001.ttf') format("truetype"), url('rei_001.svg') format("svg");
}
.iconfont { font-family: rei; font-style: normal; font-weight: 400; cursor: default; }
.ft-yh { font-family: 微软雅黑,黑体,宋体; }
.orderDetail-base { background-color: rgb(239, 244, 255); border-bottom: 3px solid rgb(163, 181, 219); padding: 16px 20px; position: relative; }
.ui-tip { background: rgb(232, 232, 232) none repeat scroll 0% 0%; position: absolute; z-index: 9999; }
.ui-tip .ui-icon-dialog-arrow, .ui-privilege-tip .ui-icon-dialog-arrow { background: transparent url('3lprsalror.png') no-repeat scroll 999px 999px; }
.order-item table { table-layout: fixed; width: 680px; }
.order-item table td { word-wrap: break-word; }
#J-orderDetail .first { font-weight: 700; font-size: 14px; display: block; margin-bottom: 10px; margin-top: 4px; }
#J-orderDetail .ajax-Account th { white-space: nowrap; }
.order-extand-explain .create-time { margin-left: 20px; }
.order-extand-explain .explain-trigger-area { cursor: pointer; }
#order .ui-detail { width: 100%; position: absolute; z-index: 100; }
#order.order-bow .ui-detail { background-color: rgb(222, 234, 255); border-width: 0px 0px 3px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(133, 174, 212); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.order-detail-container { width: 680px; }
.ui-detail-iframe-fix { position: absolute; z-index: 0; left: 0px; top: 0px; opacity: 0; }
.od-more-cnt { position: relative; z-index: 1; width: 685px; line-height: 22px; padding-bottom: 20px; padding-left: 23px; }
#order { position: relative; margin-top: 15px; }
.orderDetail-base { padding: 16px 23px; position: relative; }
#order.order-bow .orderDetail-base { background-color: rgb(222, 234, 255); border-bottom: 3px solid rgb(133, 174, 212); color: rgb(36, 77, 117); }
.order-extand-explain .create-time { margin-left: 15px; }
.commodity-message-row { height: 22px; overflow: hidden; padding-top: 14px; }
.commodity-message-row .second, .commodity-message-row .first { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.commodity-message-row .first { font-weight: 700; font-size: 14px; float: left; }
.commodity-message-row .second { margin-left: 20px; float: left; margin-top: 1px; }
.commodity-message-row .long-content { max-width: 400px; }
.commodity-message-row .short-content { max-width: 165px; }
.payAmount-area { position: absolute; bottom: 16px; right: 23px; text-align: right; z-index: 1; }
.payAmount-area .amount-font-22 { font-size: 22px; line-height: 22px; color: rgb(255, 102, 0); }
.ui-tip .ui-icon-dialog-arrow { background-position: -2px -13px; height: 16px; left: -6px; margin-top: 12px; text-indent: -999px; top: 0px; width: 9px; z-index: 1; }
.ui-tip .ui-dialog-head-text { padding: 10px 12px 0px; position: relative; color: rgb(77, 77, 77); }
.ui-dialog-head-text span { font-weight: 700; }
.ui-tip .ui-dialog-content { padding: 5px; }
.ui-dialog-container { height: 100%; position: relative; }
.ui-icon-dialog-arrow { position: absolute; left: 50%; background-repeat: no-repeat; }
.ui-tip .ui-dialog-content { padding: 5px 12px 10px; }
.ui-tip .ui-dialog-container { background-color: rgb(255, 255, 255); margin: 2px; border: 1px solid rgb(179, 179, 179); width: 308px; z-index: 1; }
#container { width: 950px; margin: 0px auto; overflow: hidden; }
html { color: rgb(77, 77, 77); }
.ft-red { color: red; }
.alieditContainer * { vertical-align: bottom; }
.alieditContainer { display: inline-block; width: 184px; height: 24px; vertical-align: bottom; position: relative; }
.mi-form-explain { height: 18px; }
.mi-label { padding: 1px 0px 6px; }
span.btn { display: inline-block; line-height: 100%; text-align: left; text-decoration: none; vertical-align: middle; }
span.btn, span.btn input, span.btn button { background-image: url('187hqtmqdp.png'); background-repeat: repeat-x; border: medium none; cursor: pointer; outline: medium none; }
span.btn-ok, span.btn-ok-hover, span.btn-ok-disabled { border: 1px solid rgb(215, 76, 0); font-family: SimSun; font-size: 14px; padding: 1px; }
span.btn-ok { background-position: 0px 0px; margin-left: 0px; }
span.btn-ok button, span.btn-ok input, span.btn-ok-hover button, span.btn-ok-hover input { color: rgb(255, 255, 255); font-weight: 700; height: 29px; line-height: 28px; padding: 0px 16px 3px; }
span.btn-ok button, span.btn-ok input { background-position: 0px -70px; font-family: SimSun; height: 29px; }
.sub-th { width: 66px; }
.order { z-index: 2; }
.ui-detail { padding-top: 0px; }
.ui-tip .ui-dialog-container { width: 360px; }
#footer { background-color: rgb(255, 255, 255); }
.ui-poptip { color: rgb(219, 124, 34); z-index: 101; font-size: 12px; line-height: 1.5; }
.ui-poptip-shadow { background-color: rgba(229, 169, 107, 0.15); border-radius: 2px; padding: 2px; }
.ui-poptip-container { position: relative; background-color: rgb(255, 252, 239); border: 1px solid rgb(255, 187, 118); border-radius: 2px; padding: 5px 15px; }
.ui-poptip::after, .ui-poptip-shadow::after, .ui-poptip-container::after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
.ui-poptip-arrow { position: absolute; z-index: 10; }
.ui-poptip-arrow em, .ui-poptip-arrow span { position: absolute; width: 0px; height: 0px; border-color: rgba(255, 255, 255, 0); border-style: solid; overflow: hidden; top: 0px; left: 0px; }
.ui-poptip-arrow-10 { left: -6px; top: 10px; }
.ui-poptip-arrow-10 em { top: 0px; left: -1px; border-right-color: rgb(255, 187, 118); border-width: 6px 6px 6px 0px; }
.ui-poptip-arrow-10 span { border-right-color: rgb(255, 252, 239); border-width: 6px 6px 6px 0px; }
:root .ui-poptip-shadow {  }
.ui-poptip-white { color: rgb(51, 51, 51); }
.ui-poptip-white .ui-poptip-shadow { background-color: rgba(0, 0, 0, 0.05); }
.ui-poptip-white .ui-poptip-container { background-color: rgb(255, 255, 255); border: 1px solid rgb(177, 177, 177); }
.ui-poptip-white .ui-poptip-arrow-10 em { border-right-color: rgb(177, 177, 177); }
.ui-poptip-white .ui-poptip-arrow-10 span { border-right-color: rgb(255, 255, 255); }
.qrpay-discount-tip { width: 160px; text-align: left; display: none; position: absolute; }
.qrpay-discount-container { padding: 5px; }
.qrcode-independence, .qrcode-integration { width: 300px; margin: 0px auto; }
.qrcode-independence .qrcode-header, .qrcode-integration .qrcode-header, .qrcode-cross .qrcode-header { padding: 50px 0px 10px; margin: 0px auto; display: inline-block; }
.qrcode-integration .qrcode-header { width: 185px; }
.qrcode-integration .qrcode-img-area { width: 220px; margin: 0px auto; position: relative; height: 185px; }
.ui-loading { width: 50px; height: 50px; background-repeat: no-repeat; background-image: url('m9uql3tuh.gif'); text-align: center; line-height: 50px; font-size: 11px; color: rgb(119, 119, 119); }
.qrcode-integration .qrcode-loading { position: absolute; top: 36%; left: 38%; }
.qrcode-foot { height: 65px; padding: 10px 0px; display: none; }
.qrcode-explain { margin: 0px; font-size: 14px; }
.qrcode-explain a:hover { text-decoration: none; }
.qrcode-notice { width: 230px; margin: 0px auto; }
.qrcode-notice .qrcode-notice-title { padding: 10px 3px 11px 63px; text-align: left; border-radius: 3px; }
.qrcode-notice .qrcode-notice-iconfont { margin: 2px 0px 0px -51px; }
.qrcode-notice .qrcode-notice-explain { font-size: 12px; color: gray; padding: 0px; }
.qrcode-area .ft-16 { font-size: 16px; }
.qrcode-area .qrpay-crash-icon { font-size: 38px; color: rgb(255, 153, 0); }
.ui-poptip {  }
.qrcode-discount-privilege { background-color: rgb(255, 255, 255); height: auto; padding: 5px 0px; }
.discount-list { color: rgb(166, 166, 166); }
.discount-list .discount-item { margin-bottom: 8px; }
.discount-list .action-rt, .action-rt { line-height: 14px; height: 14px; font-size: 12px ! important; background-color: rgb(255, 255, 255) ! important; border: 1px solid rgb(30, 115, 193); color: rgb(30, 115, 193); margin-right: 2px; display: inline-block; }
.discount-list .rt-discount { padding: 0px 2px; }
.action-rt .action-rt-type { background-color: rgb(30, 115, 193); display: inline-block; color: rgb(255, 255, 255); height: 14px; line-height: 14px; padding: 0px 2px; }
.discount-list .discount-desc { border-top: 1px dashed rgb(230, 230, 230); padding-top: 6px; position: static; }
/* ::::: https://a.alipayobjects.com/al/alice.components.security-core-2.1-src.css ::::: */

.fn-hide, .hidden { display: none; }
.alieditContainer * { vertical-align: bottom; }
.alieditContainer { display: inline-block; width: 184px; height: 24px; vertical-align: bottom; position: relative; }
.ui-securitycore .ui-form-item::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
:-moz-placeholder { color: rgb(178, 178, 178) ! important; }
#header { height: 60px; background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(217, 217, 217); margin-top: 0px; }
#header .header-title { width: 250px; height: 60px; float: left; }
#header .logo-title { font-size: 16px; font-weight: normal; font-family: "Microsoft YaHei",微软雅黑,"宋体"; border-left: 1px solid rgb(103, 109, 112); color: rgb(103, 109, 112); height: 20px; float: left; margin-top: 15px; margin-left: 10px; padding-top: 10px; padding-left: 10px; }
.header-container { width: 950px; margin: 0px auto; }
body, #footer { background-color: rgb(239, 240, 241); }
#footer #ServerNum { color: rgb(239, 240, 241); }
#order.order-bow .orderDetail-base, #order.order-bow .ui-detail { border-bottom: 3px solid rgb(187, 187, 187); background: rgb(239, 240, 241) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
.order-ext-trigger { position: absolute; right: 20px; bottom: 0px; height: 22px; padding: 2px 8px 1px; font-weight: 700; border-top: 0px none; background: rgb(179, 179, 179) none repeat scroll 0% 0%; z-index: 100; color: rgb(255, 255, 255); }
#partner { margin-top: 0px; padding-top: 0px; background-color: rgb(239, 240, 241); }
#order.order-bow .orderDetail-base, #order.order-bow .ui-detail { border-bottom: 3px solid rgb(179, 179, 179); }
.payAmount-area { bottom: 36px; }
.alipay-logo { display: block; width: 114px; position: relative; left: 0px; top: 10px; float: left; height: 40px; background-position: 0px 0px; background-repeat: no-repeat; background-image: url('t1hhfgxxvexxxxxxxx.png'); }
body #onlineService { display: none; }
.arale-tip-1_2_2 .ui-poptip::after, .arale-tip-1_2_2 .ui-poptip-shadow::after, .arale-tip-1_2_2 .ui-poptip-container::after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
.ibox { position: absolute; display: none; background-color: rgba(0, 0, 0, 0.5); border: 0px none; padding: 6px; }
:root .ibox {  }
.ibox-close { color: rgb(153, 153, 153); cursor: pointer; display: block; font-family: tahoma; font-size: 24px; font-weight: 700; height: 18px; line-height: 14px; position: absolute; right: 16px; text-decoration: none; top: 16px; z-index: 10; }
.ibox-close:hover { color: rgb(102, 102, 102); text-shadow: 0px 0px 2px rgb(170, 170, 170); }
.ibox-title { height: 45px; font-size: 16px; font-family: 微软雅黑,黑体,宋体; font-weight: 700; line-height: 46px; border-bottom: 1px solid rgb(225, 225, 225); color: rgb(77, 77, 77); text-indent: 20px; background: transparent -moz-linear-gradient(center top , rgb(252, 252, 252), rgb(249, 249, 249)) repeat scroll 0% 0%; }
.quick-empty-parent { position: relative; }
.quick-empty { display: none; cursor: pointer; position: absolute; top: 30px; right: 12px; font-size: 24px; }
.quick-empty:hover { color: rgb(102, 102, 102); text-shadow: 0px 0px 2px rgb(170, 170, 170); }
.email-suggest-out { border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; font: 12px/20px Tahoma; }
/* ::::: https://a.alipayobjects.com/u/css/201402/2ACTshL8Vh.css ::::: */

#onlineService { display: inline; position: fixed; z-index: 991; top: 228px; right: 0px; }
#onlineService a { outline: 0px none; }
#onlineService a img { border: 0px none; }
.ui-securitycore .ui-label, .mi-label { text-align: left; height: auto; padding: 0px 0px 8px; display: block; margin: 0px; width: auto; float: none; font: 14px/1.5 tahoma,arial,宋体; }
.mobile-form .ui-securitycore .ui-form-item-counter .ui-form-field::after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
#container .alieditContainer { width: 348px; height: 38px; }
#container .alieditContainer .ui-input { width: 324px; padding: 7px 10px; font-size: 14px; height: 20px; line-height: 24px; }
#container .alieditContainer .ui-input:focus { color: rgb(77, 77, 77); border-color: rgb(0, 119, 255); outline: 1px solid rgb(140, 221, 255); }
.t-contract-container { width: 76%; }
.user-login-account { font-size: 16px; }
.alipay-agreement { width: 600px; height: 270px; padding: 10px; text-align: center; }
.alipay-agreement-content { height: 230px; width: 600px; margin-bottom: 5px; }
#container .order-timeout-notice { margin-top: 30px; display: none; }
.login-panel .fn-mb8 { margin-bottom: 8px; }
.login-panel .fn-mt8 { margin-top: 8px; }
.order-area { position: relative; z-index: 10; }
.cashier-center-container { overflow: hidden; position: relative; z-index: 1; width: 950px; min-height: 460px; background-color: rgb(255, 255, 255); border-bottom: 3px solid rgb(179, 179, 179); }
.cashiser-switch-wrapper { width: 1800px; }
.cashier-center-view { position: relative; width: 803px; }
.cashier-center-view.view-pc { display: block; }
.cashier-center-view.view-pc .loginBox { padding: 60px 0px 20px 238px; width: 350px; margin: 0px; }
.loginBox .login-title-area { margin: 0px 0px 30px; }
.login-title .rt-text { font-size: 14px; }
.teForm { padding: 0px; }
.mi-form-item { padding: 0px 0px 12px; }
.submitContainer { margin-top: 6px; }
.view-switch { width: 146px; height: 400px; padding-top: 126px; background-color: rgb(230, 230, 230); cursor: pointer; -moz-user-select: none; }
.view-switch.qrcode-show { border-left: 1px solid rgb(217, 217, 217); border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.switch-tip { text-align: center; }
.switch-tip-font { font-size: 16px; font-family: tahoma,arial,"微软雅黑","宋体"; }
.switch-tip-icon { position: relative; z-index: 10; display: block; margin-top: 4px; font-size: 78px; color: rgb(166, 166, 166); cursor: pointer; }
.switch-tip-btn { display: block; width: 106px; height: 36px; margin: 6px auto 0px; border: 1px solid rgb(15, 164, 219); background-color: rgb(0, 174, 239); border-radius: 5px; font-size: 12px; font-weight: 400; line-height: 36px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; }
.switch-tip-btn:hover { color: rgb(255, 255, 255); text-decoration: none; }
.switch-pc-tip .switch-tip-icon { position: relative; z-index: 10; margin-top: 4px; font-size: 78px; }
.switch-tip-icon-wrapper { position: relative; }
.switch-tip-icon-wrapper::before { content: ""; position: absolute; left: 47px; top: 24px; z-index: 0; width: 50px; height: 70px; background-color: rgb(255, 255, 255); }
.switch-qrcode-tip .switch-tip-icon-wrapper::before { left: 38px; top: 25px; width: 70px; height: 47px; }
.switch-tip-icon-img { position: absolute; left: 58px; top: 35px; z-index: 11; }
.switch-qrcode-tip .switch-tip-icon-img { left: 48px; top: 39px; }
#container .standardPwdContainer { width: 348px; height: 38px; }
#container .standardPwdContainer .ui-input { width: 324px; padding: 7px 10px; font-size: 14px; height: 20px; line-height: 24px; }
#container .standardPwdContainer .ui-input:focus { color: rgb(77, 77, 77); border-color: rgb(0, 119, 255); outline: 1px solid rgb(140, 221, 255); }
.qrcode-area { margin: 0px auto; position: relative; }
.qrcode-integration .qrcode-header { display: block; width: auto; margin: 75px 0px 16px; padding: 0px; }
.qrcode-header-money { font-size: 26px; font-weight: 700; color: rgb(255, 102, 0); }
.qrcode-integration .qrcode-img-area { width: 168px; height: 168px; text-align: center; }
.qrcode-img-area.qrcode-img-crash { height: 220px; }
.qrcode-integration .qrcode-loading { top: 70px; left: 60px; }
.qrcode-integration .qrcode-img-wrapper { position: relative; width: 168px; height: auto; min-height: 168px; margin: 0px auto; padding: 6px; border: 1px solid rgb(211, 211, 211); box-shadow: 1px 1px 1px rgb(204, 204, 204); }
.qrcode-img-area .qrcode-busy-icon { padding-top: 15px; }
.qrcode-img-area .qrcode-busy-text { margin-top: 20px; }
a.mi-button-lwhite .mi-button-text { padding: 8px 39px 4px 36px; }
.qrcode-img-area .mi-button { margin-top: 40px; }
.qrcode-img-explain { padding: 10px 0px 6px; }
.qrcode-img-explain img { margin-left: 20px; margin-top: 5px; }
.qrcode-img-explain div { margin-left: 10px; }
.qrcode-foot { text-align: center; }
.qrcode-downloadApp, .qrcode-downloadApp:hover, .qrcode-downloadApp:active, .qrcode-explain a.qrcode-downloadApp:hover { font-size: 12px; color: rgb(166, 166, 166); text-decoration: underline; }
.qrguide-area { position: absolute; top: 62px; left: 505px; width: 204px; height: 183px; cursor: pointer; }
.qrguide-area .qrguide-area-img { display: block; position: absolute; bottom: 0px; left: 0px; z-index: -1; }
.qrguide-area .qrguide-area-img.active { z-index: 10; }
.qrguide-area .qrguide-area-img.background { z-index: 9; }
.qrcode-notice .qrcode-notice-title { padding: 10px 10px 11px 63px; }
.anti-fishing { width: 450px; padding: 15px; }
.anti-fishing h3 { font-size: 14px; font-weight: bold; margin: 8px 0px; padding: 3px 8px 3px 0px; }
.anti-fishing p { padding: 8px 0px; }
.anti-fishing ul { padding: 0px 0px 0px 20px; }
.anti-fishing li { padding: 5px 0px; }
.anti-fishing li input { margin: 0px 5px 0px 0px; vertical-align: middle; }
span.btn { display: inline-block; line-height: 100%; text-align: left; text-decoration: none; vertical-align: middle; }
span.btn, span.btn input, span.btn button { background-image: url('187hqtmqdp.png'); background-repeat: repeat-x; border: medium none; cursor: pointer; outline: medium none; }
span.btn-ok, span.btn-ok-hover, span.btn-ok-disabled { border: 1px solid rgb(215, 76, 0); font-family: SimSun; font-size: 14px; padding: 1px; }
span.btn-ok { background-position: 0px 0px; margin-left: 0px; }
span.btn-ok button, span.btn-ok input, span.btn-ok-hover button, span.btn-ok-hover input { color: rgb(255, 255, 255); font-weight: bold; height: 29px; line-height: 28px; padding: 0px 16px 3px; }
span.btn-ok button, span.btn-ok input { background-position: 0px -70px; font-family: SimSun; height: 29px; }
.view-case { padding: 8px 0px 10px 20px; }
.copyright, .copyright a, .copyright a:hover { color: rgb(128, 128, 128); }
