/* ::::: http://store.res.meizu.com/resources/php/store/static/common/pkg/site-base.css?_dv=2016906 ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
small { font-size: 80%; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
body { font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体"; font-size: 14px; }
img { vertical-align: top; }
h1, h2, h3, h4, h5, h6, ul, ol, dl, dt, dd, p { margin: 0px; padding: 0px; list-style: outside none none; font-weight: 400; }
address, cite, dfn, em, var { font-style: normal; }
a { text-decoration: none; outline: 0px none; }
a:focus { outline: 0px none; }
.mzcontainer { width: 1240px; margin: 0px auto; }
.mzcontainer::before, .mzcontainer::after, .clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix {  }
.clearfix::after { content: " "; clear: both; height: 0px; visibility: hidden; display: block; }
.site-topbar { background: rgb(250, 250, 252) none repeat scroll 0% 0%; position: relative; z-index: 200; }
.topbar-nav { float: left; }
.topbar-nav a, .topbar-link { padding: 12px 0px; color: rgb(102, 102, 102); font-size: 12px; margin-right: 40px; display: inline-block; text-decoration: none; transition: color 0.2s linear 0s; }
.topbar-info { float: right; }
.topbar-info li a { margin-right: 0px; padding-left: 20px; padding-right: 20px; }
.topbar-nav a:hover, .topbar-link:hover { color: rgb(0, 195, 245); }
.topbar-right { position: relative; float: right; min-width: 500px; }
.topbar-info li { float: left; }
.topbar-info-msg { position: relative; display: none; }
.topbar-order-msg { position: relative; }
.msg-tag { position: absolute; left: 42px; top: 10px; height: 6px; width: 6px; background: rgb(247, 61, 61) none repeat scroll 0% 0%; border-radius: 50%; display: none; }
.topbar-order-msg .msg-tag { left: 65px; }
.topbar-info-member { position: relative; z-index: 50; height: 40px; }
.topbar-info-member .topbar-link { padding: 11px 20px 12px; border-width: 0px 1px; border-style: none solid; border-color: -moz-use-text-color transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; min-width: 60px; }
.topbar-info-member:hover .topbar-link { border-color: rgb(204, 204, 204); }
.site-member-items { display: none; background-color: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.topbar-info-member:hover { background-color: rgb(255, 255, 255); }
.topbar-info-member:hover .site-member-items { display: block; }
.topbar-info-member::after, .topbar-info-member::after { display: inline-block; content: " "; position: absolute; top: 20px; margin-top: -2px; right: 6px; width: 7px; height: 4px; background: transparent url('down.png') no-repeat scroll center center; }
.topbar-info-member:hover::after { background-image: url('up.png'); }
.site-member-link { display: block; line-height: 35px; font-size: 12px; color: rgb(102, 102, 102); }
.site-member-link:hover { background: rgb(250, 250, 252) none repeat scroll 0% 0%; }
.site-logout { text-align: center; border-top: 1px solid rgb(239, 239, 239); }
.site-member-name { text-overflow: ellipsis; display: inline-block; max-width: 72px; overflow-x: hidden; white-space: nowrap; vertical-align: bottom; }
.topbar-info-pop { position: relative; float: right; margin-top: 41px; margin-right: -70px; width: 300px; }
#MzMsgPop { position: absolute; right: 0px; top: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(201, 201, 201); padding: 4px 26px 4px 6px; z-index: 999; width: auto; }
#MzMsgPop .triangle { position: absolute; right: 30px; top: -8px; width: 0px; height: 0px; border-left: 6px solid transparent; border-bottom: 8px solid rgb(201, 201, 201); border-right: 6px solid transparent; }
#MzMsgPop .triangle::after { position: absolute; left: -6px; top: 2px; content: ""; width: 0px; height: 0px; border-left: 6px solid transparent; border-bottom: 8px solid rgb(255, 255, 255); border-right: 6px solid transparent; }
#MzMsgPop .title { display: block; overflow: hidden; max-width: 200px; max-height: 30px; word-break: break-all; overflow-wrap: break-word; text-overflow: ellipsis; text-align: left; color: rgb(102, 102, 102); line-height: 15px; font-size: 12px; margin: 0px; padding: 0px; cursor: pointer; transition: all 0.8s ease 0s; }
#MzMsgPop .title:hover { color: rgb(0, 195, 245); }
#MzMsgPop .close { position: absolute; right: 8px; top: 50%; margin-top: -7px; cursor: pointer; }
#MzMsgPop .close::after { cursor: pointer; display: block; border-radius: 100%; width: 14px; height: 14px; font-size: 14px; content: "×"; color: rgb(172, 172, 172); text-align: center; line-height: 12px; transition: all 0.5s ease 0s; padding-left: 1px; }
#MzMsgPop .close:hover::after { background: rgb(224, 224, 224) none repeat scroll 0% 0%; }
.topbar-new { position: relative; display: inline-block; vertical-align: middle; color: rgb(255, 255, 255); background-color: rgb(237, 68, 98); font-size: 12px; margin-left: 5px; height: 13px; line-height: 10px; padding: 0px 2px; top: -1px; border-radius: 2px; }
.topbar-new::before { position: absolute; left: -4px; top: 2px; display: inline-block; content: ""; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-right: 6px solid rgb(237, 68, 98); width: 0px; height: 0px; }
.site-header { height: 80px; border-bottom: 1px solid rgb(239, 239, 239); position: relative; z-index: 150; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.header-logo { float: left; padding: 30px 0px; }
.header-logo img { display: block; }
.header-nav { float: left; margin-left: 124px; height: 80px; }
.nav-list { height: 100%; }
.nav-list .nav-item { float: left; cursor: pointer; position: relative; z-index: 10; }
.nav-item-link { color: rgb(51, 51, 51); font-size: 16px; padding: 30px 18px 0px; display: block; transition: color 0.2s linear 0s; }
.nav-item:hover .nav-item-link { color: rgb(0, 195, 245); }
.nav-item-children { display: none; }
.header-nav-menu { position: absolute; top: 81px; left: 0px; z-index: 30; width: 100%; background-color: rgba(255, 255, 255, 0.95); border-bottom: 1px solid rgb(243, 243, 243); display: none; }
.header-cart { display: none; float: right; margin-top: 20px; position: relative; }
.header-cart-wrap { line-height: 38px; border: 1px solid rgb(204, 204, 204); border-radius: 4px; padding: 0px 18px; color: rgb(51, 51, 51); font-size: 14px; position: relative; }
.header-cart-icon { display: inline-block; height: 20px; width: 20px; background: transparent url('cart-icon.png') no-repeat scroll 0% 0%; vertical-align: middle; margin-right: 3px; margin-top: -2px; }
.header-cart-detail { display: none; position: absolute; z-index: 40; right: 0px; top: 38px; width: 350px; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.header-cart-spacer { display: none; width: 100%; height: 10px; position: absolute; top: 36px; left: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 50; }
.header-cart-empty { height: 50px; line-height: 50px; padding: 15px 0px; text-align: center; font-size: 12px; color: rgb(51, 51, 51); }
.menu-product-list { padding: 0px 50px; }
.menu-product-figure { text-align: center; }
.menu-product-item img { height: 126px; width: 126px; }
.menu-product-item { float: left; padding: 18px 14px; width: 162px; }
.menu-product-name { color: rgb(51, 51, 51); font-size: 12px; text-align: center; }
.menu-product-price { color: rgb(224, 43, 65); font-size: 12px; text-align: center; margin-top: 2px; }
.menu-product-price span.originPrice { text-decoration: line-through; font-size: 12px; color: rgb(153, 153, 153); margin-right: 3px; }
.menu-product-price span { font-size: 16px; }
.menu-product-more { float: left; padding-top: 23px; }
.menu-more-links { height: 126px; border-left: 1px solid rgb(239, 239, 239); padding: 0px 0px 14px 20px; }
.menu-more-links li { margin-top: 2px; }
.menu-more-links a { color: rgb(51, 51, 51); font-size: 12px; margin-bottom: 2px; }
.menu-more-links a:hover { color: rgb(0, 195, 245); }
.menu-more-img { display: inline-block; vertical-align: middle; margin-right: 10px; width: 28px; height: 28px; }
.site-footer { background-color: rgb(250, 250, 252); }
.site-footer-service { padding: 38px 8px 26px; border-bottom: 1px solid rgb(229, 229, 229); }
.site-footer-service li { float: left; }
.service-item { width: 203px; text-align: center; }
.service-icon { display: inline-block; height: 36px; width: 94px; background: transparent none no-repeat scroll 50% 50%; margin-bottom: 12px; }
.service-icon-seven { background-image: url('7.png'); }
.service-icon-fifty { background-image: url('15.png'); }
.service-icon-one { background-image: url('1.png'); }
.service-icon-by { background-image: url('baoyou.png'); }
.service-icon-speed { background-image: url('speed.png'); }
.service-icon-map { background-image: url('map.png'); }
.service-desc-bold, .service-desc-normal { color: rgb(102, 102, 102); font-weight: 700; font-size: 14px; }
.service-desc-normal { font-weight: 400; }
.service-split-line { padding-top: 10px; }
.service-split-line span { display: inline-block; height: 44px; width: 1px; background-color: rgb(229, 229, 229); }
.site-footer-navs { padding: 30px 0px; margin-right: -10px; }
.footer-nav-custom, .footer-nav-item { float: left; width: 244px; text-align: center; margin-right: 5px; }
.footer-nav-title { font-size: 14px; color: rgb(51, 51, 51); margin-bottom: 10px; }
.footer-nav-item li { line-height: 22px; }
.footer-nav-item li a { font-size: 12px; color: rgb(102, 102, 102); transition: color 0.2s linear 0s; }
.footer-nav-item li a:hover { color: rgb(0, 195, 245); }
.nav-custom-title { font-size: 14px; color: rgb(102, 102, 102); }
.nav-custom-number { color: rgb(31, 167, 234); font-size: 24px; margin: 20px 0px 14px; }
.nav-custom-btn { display: inline-block; width: 160px; height: 34px; line-height: 34px; text-align: center; text-decoration: none; color: rgb(255, 255, 255); background-color: rgb(31, 167, 234); border-radius: 2px; font-size: 12px; transition: all 0.2s linear 0s; }
.nav-custom-btn img { vertical-align: middle; }
.nav-custom-btn:hover { background-color: rgb(77, 207, 246); }
.site-footer-end { border-top: 1px solid rgb(229, 229, 229); padding: 38px 0px 56px; text-align: center; color: rgb(102, 102, 102); font-size: 12px; }
.site-footer-end a { margin-left: 10px; color: rgb(102, 102, 102); }
.site-footer-end a img { vertical-align: middle; }
.meizu-footer-wechat { position: relative; }
.meizu-footer-wechat img { position: absolute; z-index: 999; width: 249px; top: -190px; left: 32px; display: none; }
.meizu-footer-wechat:hover img { display: block; }
/* ::::: http://store.res.meizu.com/resources/php/store/static/detail/assets/sass/main-4fc753f.css ::::: */

.btn { display: inline-block; margin-bottom: 0px; font-weight: 400; text-align: center; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 14px; line-height: 1.42857; border-radius: 3px; -moz-user-select: none; }
.btn, .btn:active, .btn.active {  }
.btn:hover, .btn.focus { color: rgb(51, 51, 51); text-decoration: none; }
.btn:active, .btn.active { outline: 0px none; background-image: none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn-primary { color: rgb(255, 255, 255); background-color: rgb(42, 196, 246); border-color: rgb(18, 189, 245); }
.btn-primary:hover { color: rgb(255, 255, 255); background-color: rgb(10, 174, 227); border-color: rgb(8, 148, 193); }
.btn-lg { padding: 10px 30px; font-size: 14px; line-height: 1.33333; border-radius: 3px; }
.hide { display: none; }
.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.clearfix {  }
.clearfix::before, .clearfix::after { display: table; content: ""; }
.clearfix::after { clear: both; }
.row {  }
.row::after { content: ""; display: table; clear: both; }
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }
input:focus, button:focus, textarea:focus, select:focus { outline: 0px none; }
.trans { transition: all 0.3s ease-out 0s; }
.anim { animation-duration: 1s; animation-fill-mode: both; }
body { line-height: 1.5; color: rgb(102, 102, 102); }
a { color: rgb(102, 102, 102); }
.wrapper { padding-top: 1px; }
.container { width: 1240px; margin-left: auto; margin-right: auto; }
.crumbs { height: 40px; line-height: 40px; }
.crumbs .crumbs-title { display: inline-block; max-width: 500px; color: rgb(51, 51, 51); vertical-align: middle; }
.crumbs a { color: rgb(153, 153, 153); }
.preview { float: left; width: 495px; }
.preview .preview-booth { margin: 25px 50px; width: 395px; height: 395px; }
.preview .preview-thumb { overflow: hidden; text-align: center; margin-top: 10px; }
.preview .preview-thumb li { display: inline-block; border: 1px solid transparent; margin: 0px 5px; }
.preview .preview-thumb a { display: block; padding: 5px; position: relative; overflow: hidden; text-align: center; }
.preview .preview-thumb a:focus { outline: 0px none; }
.preview .preview-thumb img { position: relative; max-width: 75px; max-height: 75px; }
.preview .preview-thumb .current { border-color: rgb(229, 229, 229); }
.preview .preview-thumb .current img {  }
.property { position: relative; float: left; width: 675px; font-size: 12px; }
.property .vm-metatit { float: left; padding-left: 10px; width: 65px; font-size: 12px; line-height: 34px; color: rgb(51, 51, 51); }
.property .s-space { padding: 0px 6px; }
.property-set { margin-bottom: 20px; }
.property-set-sale, .property-set-package { margin-bottom: 15px; }
.property-sell-coupon dd, .property-service-item dd, .property-service-provider dd { padding-top: 15px; }
.property-hd, .property-out .mod-hd { position: relative; padding-top: 20px; margin-bottom: 15px; }
.property-hd h1, .property-out .mod-hd h1 { margin-bottom: 10px; font-size: 24px; line-height: 1.2; font-weight: 400; color: rgb(0, 0, 0); }
.property-hd .mod-info, .property-out .mod-hd .mod-info { font-size: 16px; color: rgb(153, 153, 153); }
.property-hd .mod-info.active, .property-out .mod-hd .mod-info.active { color: rgb(226, 40, 65); }
.property-sell { position: relative; margin-bottom: 25px; background: rgb(245, 245, 245) none repeat scroll 0% 0%; }
.property-sell .vm-metatit { height: 55px; }
.property-sell-price { height: 55px; overflow: hidden; }
.property-sell-price .vm-metatit { line-height: 62px; }
.property-sell-price dd { padding-top: 10px; }
.property-sell-price .mod-price, .property-sell-price .mod-original, .property-sell-price .mod-activity, .property-sell-price .mod-countdown { float: left; }
.property-sell-price .mod-price, .property-sell-price .mod-original { color: rgb(226, 40, 65); }
.property-sell-price .mod-price small, .property-sell-price .mod-original small { font-family: arial; font-style: normal; }
.property-sell-price .mod-price { margin-right: 8px; }
.property-sell-price .mod-price small { font-size: 24px; }
.property-sell-price .mod-price .vm-money { color: rgb(226, 40, 65); font-size: 24px; }
.property-sell-price .mod-original { text-decoration: line-through; color: rgb(153, 153, 153); font-size: 12px; margin-top: 12px; margin-right: 10px; }
.property-sell-price .mod-activity { padding-top: 10px; }
.property-sell-price .mod-countdown { padding-top: 10px; margin-left: 5px; font-size: 12px; }
.property-sell-coupon { margin-left: 10px; border-top: 1px solid rgb(229, 229, 229); }
.property-sell-coupon .vm-metatit { padding-left: 0px; line-height: 50px; }
.property-sell-coupon p { display: inline-block; overflow: hidden; cursor: pointer; vertical-align: middle; }
.property-sell-coupon .vm-more { vertical-align: middle; }
.property-set-sale, .package-tab { width: 570px; }
.property-set-sale a, .package-tab a { position: relative; float: left; min-width: 50px; padding: 0px 8px; margin: 0px 10px 5px 0px; background-color: rgb(255, 255, 255); white-space: nowrap; line-height: 32px; border: 1px solid rgb(229, 229, 229); border-radius: 4px; color: rgb(51, 51, 51); text-align: center; text-decoration: none; }
.property-set-sale a.selected, .package-tab a.selected { border-color: rgb(0, 195, 245); }
.property-set-sale { padding-bottom: 5px; }
.property-set-sale .vm-sale-img { position: relative; height: 38px; min-width: inherit; line-height: 38px; padding-left: 50px; padding-right: 13px; }
.property-set-sale .vm-sale-img img { position: absolute; top: 3px; left: 10px; }
.property-set-sale .vm-sale-img span { display: inline-block; font-size: 14px; }
.property-set-sale dd { overflow: hidden; }
.property-set-package dd { overflow: hidden; }
.package-tab { position: relative; z-index: 10; margin-right: -20px; overflow: hidden; }
.package-tab .vm-text { display: block; }
.package-tab .vm-text-price { font-size: 12px; }
.package-tab .vm-text-profits, .package-tab .vm-text-standard { font-size: 12px; margin-left: 5px; color: rgb(226, 40, 65); }
.package-tab .vm-text-profits em, .package-tab .vm-text-standard em { font-weight: 700; }
.package-tab .vm-text-profits { color: rgb(248, 100, 103); }
.package-tab .vm-text-standard { color: rgb(153, 153, 153); }
.package-content { position: relative; padding: 10px 0px; margin-top: 10px; width: 548px; border: 1px solid rgb(229, 229, 229); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 4px; }
.package-content .s-triangle { position: absolute; left: 10px; top: -8px; width: 0px; height: 0px; border-left: 6px solid transparent; border-bottom: 8px solid rgb(201, 201, 201); border-right: 6px solid transparent; }
.package-content .s-triangle::after { position: absolute; left: -6px; top: 2px; content: ""; width: 0px; height: 0px; border-left: 6px solid transparent; border-bottom: 8px solid rgb(255, 255, 255); border-right: 6px solid transparent; }
.property-service { border-top: 1px solid rgb(229, 229, 229); }
.property-service .vm-metatit { line-height: 50px; }
.property-service-item .mod-bd span { position: relative; float: left; padding-left: 22px; margin-right: 20px; }
.property-service-item .mod-bd span i { position: absolute; left: 0px; top: 2px; }
.property-buy { border-top: 1px solid rgb(229, 229, 229); padding-top: 30px; }
.property-buy .vm-message { position: relative; font-size: 18px; color: rgb(226, 40, 65); }
.property-buy .vm-message.error::after { content: ""; position: absolute; left: 0px; top: 1px; width: 24px; height: 24px; background: transparent url('icons.png') no-repeat scroll left -40px; }
.property-buy .mod-control { position: relative; z-index: 1; height: 40px; width: 80px; margin-right: 30px; border-radius: 3px; overflow: hidden; float: left; }
.property-buy .mod-control a { position: absolute; top: 0px; right: 0px; width: 20px; height: 16px; line-height: 16px; font-size: 14px; text-decoration: none; text-align: center; border: 1px solid rgb(229, 229, 229); color: rgb(102, 102, 102); }
.property-buy .mod-control a.disabled { color: rgb(222, 222, 222); }
.property-buy .mod-control input { position: absolute; top: 0px; left: 0px; width: 53px; height: 38px; padding: 0px; line-height: 40px; font-size: 18px; text-align: center; color: rgb(51, 51, 51); border: 1px solid rgb(229, 229, 229); }
.property-buy .mod-control .vm-minus { top: 22px; }
.property-buy .vm-service { padding-top: 20px; padding-left: 185px; }
.property-buy .vm-favorite { position: relative; padding-left: 25px; margin-left: 20px; }
.property-buy .vm-favorite:hover { color: rgb(0, 195, 245); }
.property-buy .vm-favorite i { position: absolute; top: -1px; left: 0px; }
.property-buy .vm-tips { position: relative; margin-left: 15px; padding: 0px 5px; line-height: 20px; border: 1px solid rgb(229, 229, 229); }
.property-buy .vm-tips .s-triangle { position: absolute; top: 2px; left: -6px; width: 0px; height: 0px; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-right: 6px solid rgb(201, 201, 201); }
.property-buy .vm-tips .s-triangle::after { position: absolute; top: -5px; left: 1px; content: ""; width: 0px; height: 0px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 6px solid rgb(255, 255, 255); }
.property-buy .vm-tips em { cursor: pointer; }
.property-buy dd { margin-top: 15px; }
.property-buy .btn { padding-left: 0px; padding-right: 0px; width: 128px; }
.property-related { margin-top: 40px; }
.property-related li { float: left; margin-right: 30px; }
.property-related li a:hover { color: rgb(0, 195, 245); }
.property-related li img { vertical-align: middle; }
.layer-promo { position: absolute; top: 93px; left: 75px; z-index: 12; width: 620px; height: 450px; padding-bottom: 10px; border: 1px solid rgb(229, 229, 229); border-radius: 4px; box-shadow: 0px 0px 15px 2px rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.layer-promo .layer-promo-hd { line-height: 50px; font-size: 18px; text-align: center; color: rgb(51, 51, 51); border-bottom: 1px solid rgb(238, 238, 238); }
.layer-promo .layer-promo-bd { padding-top: 20px; padding-left: 12px; height: 375px; overflow: auto; }
.layer-promo .vm-close { position: absolute; right: 18px; top: 15px; width: 20px; height: 20px; line-height: 20px; font-size: 20px; color: rgb(204, 204, 204); }
.icon { display: inline-block; width: 16px; height: 16px; background: transparent url('icons.png') no-repeat scroll -999em -999em; }
.icon.icon-service { background-position: 0px -100px; }
.icon.icon-favorite { background-position: -20px -100px; height: 18px; width: 18px; }
.detail { margin-top: 80px; }
.detail-fast-float { position: fixed ! important; top: 0px; left: 0px; display: none; border-bottom: 1px solid rgb(229, 229, 229); opacity: 0.9; z-index: 500; }
.detail-fast-float .fixed-container { height: 80px ! important; overflow: hidden; border-bottom: 0px none ! important; }
.detail-fast-float ul { display: none; }
.detail-fast-float ul li a { line-height: 79px; }
.detail-fast-float .mod-total { margin-left: 30px; font-size: 16px; color: rgb(51, 51, 51); opacity: 0; margin-right: 40px; line-height: 1.2; }
.detail-fast-float .mod-total .vm-price { color: rgb(226, 40, 65); font-weight: 700; font-size: 18px; vertical-align: middle; }
.detail-fast-float .mod-total .vm-title { font-size: 12px; line-height: 1.5; color: rgb(153, 153, 153); text-align: right; }
.detail-fast-float .shortcut { position: absolute; top: 20px; right: -120px; opacity: 0; transform: translateY(-100%); }
.detail-fast-float .shortcut > div { float: right; }
.detail-tab { position: relative; width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.detail-tab .fixed-container { position: relative; width: 1240px; height: 60px; margin: 0px auto; border-bottom: 1px solid rgb(229, 229, 229); }
.detail-tab li { float: left; position: relative; z-index: 1; margin-right: 35px; }
.detail-tab li a { display: block; padding: 0px 20px; line-height: 59px; font-size: 16px; color: rgb(51, 51, 51); text-decoration: none; transition: color 0.3s ease 0s; }
.detail-tab li a:hover, .detail-tab li a.current { color: rgb(0, 195, 245); }
.detail-tab li.current a { color: rgb(0, 195, 245); border-bottom: 2px solid rgb(0, 195, 245); }
.detail-content { margin-top: 30px; margin-bottom: 30px; }
.detail-content .introduce, .detail-content .standard, .detail-content .question { display: none; }
.standard-table { width: 100%; border: 1px solid rgb(229, 229, 229); }
.standard-table .standard-table-group { background: rgb(244, 245, 246) none repeat scroll 0% 0%; text-indent: 30px; text-align: left; }
.standard-table th, .standard-table td { border: 1px solid rgb(229, 229, 229); }
.standard-table th { width: 24%; color: rgb(51, 51, 51); font-weight: 400; padding: 14px 0px; }
.standard-table td { padding: 10px 40px; line-height: 28px; color: rgb(153, 153, 153); }
.question { margin-left: auto; margin-right: auto; display: block; color: rgb(153, 153, 153); }
.question .question-list { margin-top: 30px; padding-right: 160px; }
.question .question-list h2 { position: relative; z-index: 2; font-size: 18px; font-weight: 700; color: rgb(0, 195, 245); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.question .question-list .mod-item { padding-top: 35px; margin-bottom: 20px; border-top: 1px solid rgb(229, 229, 229); margin-top: -1px; }
.question .question-list .vm-question { position: relative; padding-left: 65px; font-size: 18px; line-height: 2; color: rgb(51, 51, 51); }
.question .question-list .vm-question::after { content: ""; position: absolute; left: 10px; top: 3px; width: 36px; height: 26px; background: transparent url('icons.png') no-repeat scroll left top; }
.question .question-list .vm-answer { position: relative; padding: 15px 0px 20px 65px; line-height: 1.8; }
.question .question-list .vm-answer::after { content: ""; position: absolute; left: 10px; top: 12px; width: 36px; height: 26px; background: transparent url('icons.png') no-repeat scroll -36px top; }
.site-gotop { position: fixed; width: 44px; bottom: 50px; left: 50%; margin-left: 640px; display: none; }
.gotop-suggest, .gotop-arrow { display: inline-block; width: 44px; height: 44px; background: rgb(180, 180, 180) none no-repeat scroll 50% 50%; cursor: pointer; }
.gotop-suggest { background-image: url('suggest.png'); }
.gotop-arrow { background-image: url('gotop-arrow.png'); margin-top: 5px; }
