/* ::::: http://store.res.meizu.com/resources/php/store/static/common/pkg/site-base.css?_dv=2016906 ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
body { font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体"; font-size: 14px; }
img { vertical-align: top; }
h1, h2, h3, h4, h5, h6, ul, ol, dl, dt, dd, p { margin: 0px; padding: 0px; list-style: outside none none; font-weight: 400; }
address, cite, dfn, em, var { font-style: normal; }
a { text-decoration: none; outline: 0px none; }
a:focus { outline: 0px none; }
.mzcontainer { width: 1240px; margin: 0px auto; }
.mzcontainer::before, .mzcontainer::after, .clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix {  }
.clearfix::after { content: " "; clear: both; height: 0px; visibility: hidden; display: block; }
.site-topbar { background: rgb(250, 250, 252) none repeat scroll 0% 0%; position: relative; z-index: 200; }
.topbar-nav { float: left; }
.topbar-nav a, .topbar-link { padding: 12px 0px; color: rgb(102, 102, 102); font-size: 12px; margin-right: 40px; display: inline-block; text-decoration: none; transition: color 0.2s linear 0s; }
.topbar-info { float: right; }
.topbar-info li a { margin-right: 0px; padding-left: 20px; padding-right: 20px; }
.topbar-nav a:hover, .topbar-link:hover { color: rgb(0, 195, 245); }
.topbar-right { position: relative; float: right; min-width: 500px; }
.topbar-info li { float: left; }
.topbar-info-msg { position: relative; display: none; }
.topbar-order-msg { position: relative; }
.msg-tag { position: absolute; left: 42px; top: 10px; height: 6px; width: 6px; background: rgb(247, 61, 61) none repeat scroll 0% 0%; border-radius: 50%; display: none; }
.topbar-order-msg .msg-tag { left: 65px; }
.topbar-info-member { position: relative; z-index: 50; height: 40px; }
.topbar-info-member .topbar-link { padding: 11px 20px 12px; border-width: 0px 1px; border-style: none solid; border-color: -moz-use-text-color transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; min-width: 60px; }
.topbar-info-member:hover .topbar-link { border-color: rgb(204, 204, 204); }
.site-member-items { display: none; background-color: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.topbar-info-member:hover { background-color: rgb(255, 255, 255); }
.topbar-info-member:hover .site-member-items { display: block; }
.topbar-info-member::after, .topbar-info-member::after { display: inline-block; content: " "; position: absolute; top: 20px; margin-top: -2px; right: 6px; width: 7px; height: 4px; background: transparent url('down.png') no-repeat scroll center center; }
.topbar-info-member:hover::after { background-image: url('up.png'); }
.site-member-link { display: block; line-height: 35px; font-size: 12px; color: rgb(102, 102, 102); }
.site-member-link:hover { background: rgb(250, 250, 252) none repeat scroll 0% 0%; }
.site-logout { text-align: center; border-top: 1px solid rgb(239, 239, 239); }
.site-member-name { text-overflow: ellipsis; display: inline-block; max-width: 72px; overflow-x: hidden; white-space: nowrap; vertical-align: bottom; }
.topbar-info-pop { position: relative; float: right; margin-top: 41px; margin-right: -70px; width: 300px; }
#MzMsgPop .triangle::after { position: absolute; left: -6px; top: 2px; content: ""; width: 0px; height: 0px; border-left: 6px solid transparent; border-bottom: 8px solid rgb(255, 255, 255); border-right: 6px solid transparent; }
#MzMsgPop .close::after { cursor: pointer; display: block; border-radius: 100%; width: 14px; height: 14px; font-size: 14px; content: "×"; color: rgb(172, 172, 172); text-align: center; line-height: 12px; transition: all 0.5s ease 0s; padding-left: 1px; }
#MzMsgPop .close:hover::after { background: rgb(224, 224, 224) none repeat scroll 0% 0%; }
.topbar-new { position: relative; display: inline-block; vertical-align: middle; color: rgb(255, 255, 255); background-color: rgb(237, 68, 98); font-size: 12px; margin-left: 5px; height: 13px; line-height: 10px; padding: 0px 2px; top: -1px; border-radius: 2px; }
.topbar-new::before { position: absolute; left: -4px; top: 2px; display: inline-block; content: ""; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-right: 6px solid rgb(237, 68, 98); width: 0px; height: 0px; }
.site-header { height: 80px; border-bottom: 1px solid rgb(239, 239, 239); position: relative; z-index: 150; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.header-logo { float: left; padding: 30px 0px; }
.header-logo img { display: block; }
.header-nav { float: left; margin-left: 124px; height: 80px; }
.nav-list { height: 100%; }
.nav-list .nav-item { float: left; cursor: pointer; position: relative; z-index: 10; }
.nav-item-link { color: rgb(51, 51, 51); font-size: 16px; padding: 30px 18px 0px; display: block; transition: color 0.2s linear 0s; }
.nav-item:hover .nav-item-link { color: rgb(0, 195, 245); }
.nav-item-children { display: none; }
.header-nav-menu { position: absolute; top: 81px; left: 0px; z-index: 30; width: 100%; background-color: rgba(255, 255, 255, 0.95); border-bottom: 1px solid rgb(243, 243, 243); display: none; }
.header-cart { display: none; float: right; margin-top: 20px; position: relative; }
.header-cart-wrap { line-height: 38px; border: 1px solid rgb(204, 204, 204); border-radius: 4px; padding: 0px 18px; color: rgb(51, 51, 51); font-size: 14px; position: relative; }
.header-cart-icon { display: inline-block; height: 20px; width: 20px; background: transparent url('cart-icon.png') no-repeat scroll 0% 0%; vertical-align: middle; margin-right: 3px; margin-top: -2px; }
.header-cart-detail { display: none; position: absolute; z-index: 40; right: 0px; top: 38px; width: 350px; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.header-cart-spacer { display: none; width: 100%; height: 10px; position: absolute; top: 36px; left: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 50; }
.header-cart-empty { height: 50px; line-height: 50px; padding: 15px 0px; text-align: center; font-size: 12px; color: rgb(51, 51, 51); }
.menu-product-list { padding: 0px 50px; }
.menu-product-figure { text-align: center; }
.menu-product-item img { height: 126px; width: 126px; }
.menu-product-item { float: left; padding: 18px 14px; width: 162px; }
.menu-product-name { color: rgb(51, 51, 51); font-size: 12px; text-align: center; }
.menu-product-price { color: rgb(224, 43, 65); font-size: 12px; text-align: center; margin-top: 2px; }
.menu-product-price span.originPrice { text-decoration: line-through; font-size: 12px; color: rgb(153, 153, 153); margin-right: 3px; }
.menu-product-price span { font-size: 16px; }
.menu-product-more { float: left; padding-top: 23px; }
.menu-more-links { height: 126px; border-left: 1px solid rgb(239, 239, 239); padding: 0px 0px 14px 20px; }
.menu-more-links li { margin-top: 2px; }
.menu-more-links a { color: rgb(51, 51, 51); font-size: 12px; margin-bottom: 2px; }
.menu-more-links a:hover { color: rgb(0, 195, 245); }
.menu-more-img { display: inline-block; vertical-align: middle; margin-right: 10px; width: 28px; height: 28px; }
.site-footer { background-color: rgb(250, 250, 252); }
.site-footer-service { padding: 38px 8px 26px; border-bottom: 1px solid rgb(229, 229, 229); }
.site-footer-service li { float: left; }
.service-item { width: 203px; text-align: center; }
.service-icon { display: inline-block; height: 36px; width: 94px; background: transparent none no-repeat scroll 50% 50%; margin-bottom: 12px; }
.service-icon-seven { background-image: url('7.png'); }
.service-icon-fifty { background-image: url('15.png'); }
.service-icon-one { background-image: url('1.png'); }
.service-icon-by { background-image: url('baoyou.png'); }
.service-icon-speed { background-image: url('speed.png'); }
.service-icon-map { background-image: url('map.png'); }
.service-desc-bold, .service-desc-normal { color: rgb(102, 102, 102); font-weight: 700; font-size: 14px; }
.service-desc-normal { font-weight: 400; }
.service-split-line { padding-top: 10px; }
.service-split-line span { display: inline-block; height: 44px; width: 1px; background-color: rgb(229, 229, 229); }
.site-footer-navs { padding: 30px 0px; margin-right: -10px; }
.footer-nav-custom, .footer-nav-item { float: left; width: 244px; text-align: center; margin-right: 5px; }
.footer-nav-title { font-size: 14px; color: rgb(51, 51, 51); margin-bottom: 10px; }
.footer-nav-item li { line-height: 22px; }
.footer-nav-item li a { font-size: 12px; color: rgb(102, 102, 102); transition: color 0.2s linear 0s; }
.footer-nav-item li a:hover { color: rgb(0, 195, 245); }
.nav-custom-title { font-size: 14px; color: rgb(102, 102, 102); }
.nav-custom-number { color: rgb(31, 167, 234); font-size: 24px; margin: 20px 0px 14px; }
.nav-custom-btn { display: inline-block; width: 160px; height: 34px; line-height: 34px; text-align: center; text-decoration: none; color: rgb(255, 255, 255); background-color: rgb(31, 167, 234); border-radius: 2px; font-size: 12px; transition: all 0.2s linear 0s; }
.nav-custom-btn img { vertical-align: middle; }
.nav-custom-btn:hover { background-color: rgb(77, 207, 246); }
.site-footer-end { border-top: 1px solid rgb(229, 229, 229); padding: 38px 0px 56px; text-align: center; color: rgb(102, 102, 102); font-size: 12px; }
.site-footer-end a { margin-left: 10px; color: rgb(102, 102, 102); }
.site-footer-end a img { vertical-align: middle; }
.meizu-footer-wechat { position: relative; }
.meizu-footer-wechat img { position: absolute; z-index: 999; width: 249px; top: -190px; left: 32px; display: none; }
.meizu-footer-wechat:hover img { display: block; }
/* ::::: http://store.res.meizu.com/resources/php/store/static/list/assets/sass/main-37d634f.css ::::: */

.clearfix {  }
.clearfix::before, .clearfix::after { display: table; content: ""; }
.clearfix::after { clear: both; }
.yahei { font-family: "Hiragino Sans GB","Microsoft Yahei"; }
.row::after { content: ""; display: table; clear: both; }
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }
.selector { border: 1px solid rgb(229, 229, 229); background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 15px 10px; margin-bottom: 10px; overflow: hidden; }
.sl-line-wrap { position: relative; line-height: 46px; height: auto; }
.sl-line-wrap a { transition: all 0.2s ease 0s; }
.sl-line-wrap .mod-key { float: left; width: 75px; padding-left: 10px; white-space: nowrap; overflow: hidden; color: rgb(153, 153, 153); }
.sl-line-wrap .mod-value { margin: 0px 83px 0px 95px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.sl-line-wrap .mod-ext { position: absolute; top: 12px; right: 10px; width: 60px; height: auto; font-size: 12px; line-height: 22px; overflow: hidden; }
.sl-line-wrap .mod-ext .sl-e-more i, .sl-line-wrap .mod-ext .sl-e-multiple i { background: transparent url('more.png') no-repeat scroll center center; transition: all 0.15s ease-in-out 0s; }
.sl-line-wrap .mod-ext .sl-e-more { float: left; margin-right: 10px; position: relative; width: 39px; height: 23px; line-height: 23px; padding: 0px 7px 0px 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; visibility: hidden; color: rgb(153, 153, 153); }
.sl-line-wrap .mod-ext .sl-e-more i { position: absolute; top: 1px; right: 2px; display: block; width: 20px; height: 20px; }
.sl-line-wrap .mod-ext .sl-e-more:hover { text-decoration: none; color: rgb(51, 51, 51); }
.sl-line-wrap .mod-value-list { overflow: hidden; padding-top: 6px; }
.sl-line-wrap .mod-value-list ul { overflow: hidden; position: relative; height: 36px; margin-right: -10px; }
.sl-line-wrap .mod-value-list li { float: left; margin-right: 50px; margin-bottom: 6px; height: 34px; line-height: 34px; }
.sl-line-wrap .mod-value-list li a { float: left; white-space: nowrap; color: rgb(51, 51, 51); }
.sl-line-wrap .mod-value-list li a:hover { text-decoration: none; color: rgb(0, 195, 245); }
.sl-line-wrap::after { content: " "; display: block; clear: both; height: 0px; visibility: hidden; }
.sl-category .mod-value-list, .sl-prop .mod-value-list { position: relative; }
.sl-category .mod-value-list li, .sl-prop .mod-value-list li { margin-right: 62px; }
.sl-category .mod-value-list li a, .sl-prop .mod-value-list li a { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.sl-category .mod-value-list li.vm-all, .sl-prop .mod-value-list li.vm-all {  }
.icon-arrow-down, .icon-arrow-up { background: transparent url('icon-new.png') no-repeat scroll -9999px -9999px; }
.filter { position: relative; margin: 30px 0px 20px; background-color: rgb(255, 255, 255); }
.filter-order { float: left; }
.filter-order a { position: relative; float: left; width: 50px; height: 20px; margin-right: 20px; line-height: 20px; }
.filter-order a i { display: none; position: absolute; top: 6px; right: 8px; width: 8px; height: 10px; }
.filter-order a:hover, .filter-order a.active { transition: all 0.2s ease 0s; color: rgb(0, 195, 245); }
.filter-order a:hover i, .filter-order a.active i { display: block; }
.filter-order .icon-arrow-down { background-position: 0px -13px; }
.filter-condition { float: right; }
.goods-list { position: relative; z-index: 1; margin-bottom: 20px; height: auto; border: 1px solid rgb(229, 229, 229); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.goods-list .goods-list-wrap { height: auto; margin-bottom: -1px; }
.gl-item { width: 25%; height: 406px; float: left; position: relative; border-bottom: 1px solid rgb(229, 229, 229); }
.gl-item .gl-item-wrap { width: 100%; position: absolute; z-index: 1; left: 0px; top: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 38px 0px 10px; transition: border-color 0.1s ease 0s; }
.gl-item .mod-pic { position: relative; height: 220px; margin-bottom: 15px; text-align: center; }
.gl-item .mod-pic img { transition: all 0s ease 0s, all 0.3s ease 0s; }
.gl-item .mod-pic img:hover { transform-origin: 50% 50% 0px; transform: scale(1.0909, 1.0909); }
.gl-item .mod-pic a { display: block; position: relative; overflow: hidden; width: 220px; height: 220px; margin: 0px auto; }
.gl-item .mod-name { padding: 0px 30px; margin-bottom: 6px; overflow: hidden; text-align: center; }
.gl-item .mod-name a { display: block; height: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.gl-item .mod-price { position: relative; overflow: hidden; padding: 0px 30px; margin: 0px 0px 8px; text-align: center; font-size: 20px; color: rgb(224, 43, 65); }
.gl-item .mod-price em { font-size: 16px; }
.gl-item .mod-price i { font-style: normal; }
.empty { width: 380px; margin: 120px auto 380px; }
.empty .empty-bd-pic { float: left; width: 105px; height: 135px; background: transparent url('panda.png') no-repeat scroll 0% 0%; }
.empty .empty-bd-info { margin-left: 30px; float: left; font-size: 14px; color: rgb(102, 102, 102); }
.empty .empty-bd-info h4 { font-size: 18px; color: rgb(0, 195, 245); margin: 15px 0px; }
.recommend { margin-bottom: 60px; }
.recommend-hd { overflow: hidden; margin-top: 60px; margin-bottom: 14px; }
.recommend-hd .mod-title { font-size: 24px; color: rgb(51, 51, 51); font-weight: 400; float: left; }
.recommend-hd .mod-control { float: right; }
.recommend-hd .mod-control a { display: inline-block; width: 28px; height: 28px; line-height: 28px; text-align: center; border: 1px solid rgb(189, 189, 189); cursor: pointer; }
.recommend-hd .mod-control i { font-family: Arial; color: rgb(189, 189, 189); display: inline-block; height: 28px; width: 28px; }
.recommend-hd .mod-control .vm-prev i { background: transparent url('arrow-l.png') no-repeat scroll 50% 50%; }
.recommend-hd .mod-control .vm-prev.flex-disabled i { background: transparent url('arrow-l-disabled.png') no-repeat scroll 50% 50%; }
.recommend-hd .mod-control .vm-next i { background: transparent url('arrow-r.png') no-repeat scroll 50% 50%; }
.recommend-slider { overflow: hidden; margin-right: -10px; border: 1px solid rgb(229, 229, 229); }
.recommend-slider-wrap { margin-right: -100px; }
.rs-item { position: relative; float: left; height: 338px; width: 245.6px; margin-right: 5px; transition: all 0.2s ease 0s; }
.rs-item-wrap { display: block; padding: 36px 10px 5px; text-align: center; }
.rs-item-wrap img { transition: all 0.2s ease 0s; }
.rs-item-wrap:hover img { transform-origin: 50% 50% 0px; transform: scale(1.1111); }
.rs-item-wrap .mod-desc { margin-top: 36px; text-align: center; }
.rs-item-wrap .mod-desc .vm-title { font-size: 14px; color: rgb(85, 87, 87); }
.rs-item-wrap .mod-desc .vm-subtitle { font-size: 12px; color: rgb(153, 153, 153); margin-top: 2px; }
.rs-item-wrap .mod-desc .vm-price { display: inline-block; margin-top: 8px; font-size: 12px; color: rgb(224, 43, 65); }
.rs-item-wrap .mod-desc .vm-price span { font-size: 16px; }
.rs-item-wrap .mod-desc .vm-price em { color: rgb(178, 178, 178); text-decoration: line-through; padding-right: 2px; }
.rs-item-wrap .mod-sign { position: absolute; top: 28px; left: 168px; height: 40px; width: 40px; border-radius: 50%; color: rgb(255, 255, 255); font-size: 12px; line-height: 40px; text-align: center; }
@font-face {
	font-family: "flexslider-icon";
	font-style: normal;
	font-weight: 400;
	src: url('flexslider-icon.eot') format("embedded-opentype"), url('flexslider-icon.woff') format("woff"), url('flexslider-icon.ttf') format("truetype"), url('flexslider-icon.svg') format("svg");
}
.flexslider .slides::after { content: " "; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.flex-viewport { max-height: 2000px; transition: all 1s ease 0s; }
.flex-direction-nav a::before { font-family: flexslider-icon; font-size: 40px; display: inline-block; content: ""; color: rgba(0, 0, 0, 0.8); text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }
.flex-direction-nav a.flex-next::before { content: ""; }
.flex-pauseplay a::before { font-family: flexslider-icon; font-size: 20px; display: inline-block; content: ""; }
.flex-pauseplay a.flex-play::before { content: ""; }
@media screen and (max-width: 860px) {
}
.ui-paginate::after { content: "."; display: block; clear: both; visibility: hidden; height: 0px; }
.ui-paginate { font-family: "microsoft yahei"; font-size: 12px; display: inline-block; height: auto; overflow: hidden; margin-top: 15px; text-align: center; }
.ui-paginate, .ui-paginate a { color: rgb(51, 51, 51); }
.ui-paginate .p-elem { display: inline-block; margin: 0px 4px; vertical-align: middle; text-align: center; line-height: 20px; padding: 5px 15px; }
.ui-paginate .current { color: rgb(0, 195, 245); cursor: default; }
.ui-paginate .p-prev, .ui-paginate .p-next { border: 1px solid rgb(221, 221, 221); height: 20px; cursor: pointer; color: rgb(204, 204, 204); }
.ui-paginate .p-prev { background: transparent url('arrow-l.png') no-repeat scroll 50% 50%; }
.ui-paginate .p-prev.disabled { background: transparent url('arrow-l-disabled.png') no-repeat scroll 50% 50%; }
.ui-paginate .p-next { background: transparent url('arrow-r.png') no-repeat scroll 50% 50%; }
.ui-paginate .p-next.disabled { background: transparent url('arrow-r-disabled.png') no-repeat scroll 50% 50%; }
.ui-paginate .disabled { cursor: default; color: rgb(204, 204, 204); }
body { line-height: 1.5; color: rgb(102, 102, 102); }
a { color: rgb(102, 102, 102); }
.wrapper { padding-top: 1px; }
.container { width: 1240px; margin-left: auto; margin-right: auto; }
.crumbs { height: 40px; line-height: 40px; color: rgb(153, 153, 153); }
.crumbs a { color: rgb(51, 51, 51); }
.bs-checkbox { position: relative; display: inline-block; padding-left: 20px; cursor: pointer; }
.bs-checkbox i { position: absolute; left: 0px; top: 3px; width: 12px; height: 12px; background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); }
.pages { text-align: center; }
.site-gotop { position: fixed; width: 44px; bottom: 50px; left: 50%; margin-left: 640px; display: none; }
.gotop-suggest, .gotop-arrow { display: inline-block; width: 44px; height: 44px; background: rgb(180, 180, 180) none no-repeat scroll 50% 50%; cursor: pointer; }
.gotop-suggest { background-image: url('suggest.png'); }
.gotop-arrow { background-image: url('gotop-arrow.png'); margin-top: 5px; }
