/* ::::: http://store.res.meizu.com/resources/php/store/static/common/pkg/site-base.css?_dv=2016906 ::::: */

audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: 700; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0px; }
body { font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体"; font-size: 14px; }
img { vertical-align: top; }
h1, h2, h3, h4, h5, h6, ul, ol, dl, dt, dd, p { margin: 0px; padding: 0px; list-style: outside none none; font-weight: 400; }
a { text-decoration: none; outline: 0px none; }
a:focus { outline: 0px none; }
.mzcontainer { width: 1240px; margin: 0px auto; }
.mzcontainer::before, .mzcontainer::after, .clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix {  }
.clearfix::after { content: " "; clear: both; height: 0px; visibility: hidden; display: block; }
.site-topbar { background: rgb(250, 250, 252) none repeat scroll 0% 0%; position: relative; z-index: 200; }
.topbar-nav { float: left; }
.topbar-nav a, .topbar-link { padding: 12px 0px; color: rgb(102, 102, 102); font-size: 12px; margin-right: 40px; display: inline-block; text-decoration: none; transition: color 0.2s linear 0s; }
.topbar-info { float: right; }
.topbar-info li a { margin-right: 0px; padding-left: 20px; padding-right: 20px; }
.topbar-nav a:hover, .topbar-link:hover { color: rgb(0, 195, 245); }
.topbar-right { position: relative; float: right; min-width: 500px; }
.topbar-info li { float: left; }
.topbar-info-msg { position: relative; display: none; }
.topbar-order-msg { position: relative; }
.msg-tag { position: absolute; left: 42px; top: 10px; height: 6px; width: 6px; background: rgb(247, 61, 61) none repeat scroll 0% 0%; border-radius: 50%; display: none; }
.topbar-order-msg .msg-tag { left: 65px; }
.topbar-info-member { position: relative; z-index: 50; height: 40px; }
.topbar-info-member .topbar-link { padding: 11px 20px 12px; border-width: 0px 1px; border-style: none solid; border-color: -moz-use-text-color transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; min-width: 60px; }
.topbar-info-member:hover .topbar-link { border-color: rgb(204, 204, 204); }
.site-member-items { display: none; background-color: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.topbar-info-member:hover { background-color: rgb(255, 255, 255); }
.topbar-info-member:hover .site-member-items { display: block; }
.topbar-info-member::after, .topbar-info-member::after { display: inline-block; content: " "; position: absolute; top: 20px; margin-top: -2px; right: 6px; width: 7px; height: 4px; background: transparent url('down.png') no-repeat scroll center center; }
.topbar-info-member:hover::after { background-image: url('up.png'); }
.site-member-link { display: block; line-height: 35px; font-size: 12px; color: rgb(102, 102, 102); }
.site-member-link:hover { background: rgb(250, 250, 252) none repeat scroll 0% 0%; }
.site-logout { text-align: center; border-top: 1px solid rgb(239, 239, 239); }
.site-member-name { text-overflow: ellipsis; display: inline-block; max-width: 72px; overflow-x: hidden; white-space: nowrap; vertical-align: bottom; }
.topbar-info-pop { position: relative; float: right; margin-top: 41px; margin-right: -70px; width: 300px; }
#MzMsgPop { position: absolute; right: 0px; top: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(201, 201, 201); padding: 4px 26px 4px 6px; z-index: 999; width: auto; }
#MzMsgPop .triangle { position: absolute; right: 30px; top: -8px; width: 0px; height: 0px; border-left: 6px solid transparent; border-bottom: 8px solid rgb(201, 201, 201); border-right: 6px solid transparent; }
#MzMsgPop .triangle::after { position: absolute; left: -6px; top: 2px; content: ""; width: 0px; height: 0px; border-left: 6px solid transparent; border-bottom: 8px solid rgb(255, 255, 255); border-right: 6px solid transparent; }
#MzMsgPop .title { display: block; overflow: hidden; max-width: 200px; max-height: 30px; word-break: break-all; word-wrap: break-word; text-overflow: ellipsis; text-align: left; color: rgb(102, 102, 102); line-height: 15px; font-size: 12px; margin: 0px; padding: 0px; cursor: pointer; transition: all 0.8s ease 0s; }
#MzMsgPop .title:hover { color: rgb(0, 195, 245); }
#MzMsgPop .close { position: absolute; right: 8px; top: 50%; margin-top: -7px; cursor: pointer; }
#MzMsgPop .close::after { cursor: pointer; display: block; border-radius: 100%; width: 14px; height: 14px; font-size: 14px; content: "×"; color: rgb(172, 172, 172); text-align: center; line-height: 12px; transition: all 0.5s ease 0s; padding-left: 1px; }
#MzMsgPop .close:hover::after { background: rgb(224, 224, 224) none repeat scroll 0% 0%; }
.topbar-new { position: relative; display: inline-block; vertical-align: middle; color: rgb(255, 255, 255); background-color: rgb(237, 68, 98); font-size: 12px; margin-left: 5px; height: 13px; line-height: 10px; padding: 0px 2px; top: -1px; border-radius: 2px; }
.topbar-new::before { position: absolute; left: -4px; top: 2px; display: inline-block; content: ""; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-right: 6px solid rgb(237, 68, 98); width: 0px; height: 0px; }
.site-header { height: 80px; border-bottom: 1px solid rgb(239, 239, 239); position: relative; z-index: 150; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.header-logo { float: left; padding: 30px 0px; }
.header-logo img { display: block; }
.header-nav { float: left; margin-left: 124px; height: 80px; }
.nav-list { height: 100%; }
.nav-list .nav-item { float: left; cursor: pointer; position: relative; z-index: 10; }
.nav-item-link { color: rgb(51, 51, 51); font-size: 16px; padding: 30px 18px 0px; display: block; transition: color 0.2s linear 0s; }
.nav-item:hover .nav-item-link { color: rgb(0, 195, 245); }
.nav-item-children { display: none; }
.header-nav-menu { position: absolute; top: 81px; left: 0px; z-index: 30; width: 100%; background-color: rgba(255, 255, 255, 0.95); border-bottom: 1px solid rgb(243, 243, 243); display: none; }
.header-cart { display: none; float: right; margin-top: 20px; position: relative; }
.header-cart-wrap { line-height: 38px; border: 1px solid rgb(204, 204, 204); border-radius: 4px; padding: 0px 18px; color: rgb(51, 51, 51); font-size: 14px; position: relative; }
.header-cart-icon { display: inline-block; height: 20px; width: 20px; background: transparent url('cart-icon.png') no-repeat scroll 0% 0%; vertical-align: middle; margin-right: 3px; margin-top: -2px; }
.header-cart-detail { display: none; position: absolute; z-index: 40; right: 0px; top: 38px; width: 350px; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.header-cart-spacer { display: none; width: 100%; height: 10px; position: absolute; top: 36px; left: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 50; }
.header-cart-empty { height: 50px; line-height: 50px; padding: 15px 0px; text-align: center; font-size: 12px; color: rgb(51, 51, 51); }
.menu-product-list { padding: 0px 50px; }
.menu-product-figure { text-align: center; }
.menu-product-item img { height: 126px; width: 126px; }
.menu-product-item { float: left; padding: 18px 14px; width: 162px; }
.menu-product-name { color: rgb(51, 51, 51); font-size: 12px; text-align: center; }
.menu-product-price { color: rgb(224, 43, 65); font-size: 12px; text-align: center; margin-top: 2px; }
.menu-product-price span.originPrice { text-decoration: line-through; font-size: 12px; color: rgb(153, 153, 153); margin-right: 3px; }
.menu-product-price span { font-size: 16px; }
.menu-product-more { float: left; padding-top: 23px; }
.menu-more-links { height: 126px; border-left: 1px solid rgb(239, 239, 239); padding: 0px 0px 14px 20px; }
.menu-more-links li { margin-top: 2px; }
.menu-more-links a { color: rgb(51, 51, 51); font-size: 12px; margin-bottom: 2px; }
.menu-more-links a:hover { color: rgb(0, 195, 245); }
.menu-more-img { display: inline-block; vertical-align: middle; margin-right: 10px; width: 28px; height: 28px; }
.site-footer { background-color: rgb(250, 250, 252); }
.site-footer-service { padding: 38px 8px 26px; border-bottom: 1px solid rgb(229, 229, 229); }
.site-footer-service li { float: left; }
.service-item { width: 203px; text-align: center; }
.service-icon { display: inline-block; height: 36px; width: 94px; background: transparent none no-repeat scroll 50% 50%; margin-bottom: 12px; }
.service-icon-seven { background-image: url('7.png'); }
.service-icon-fifty { background-image: url('15.png'); }
.service-icon-one { background-image: url('1.png'); }
.service-icon-by { background-image: url('baoyou.png'); }
.service-icon-speed { background-image: url('speed.png'); }
.service-icon-map { background-image: url('map.png'); }
.service-desc-bold, .service-desc-normal { color: rgb(102, 102, 102); font-weight: 700; font-size: 14px; }
.service-desc-normal { font-weight: 400; }
.service-split-line { padding-top: 10px; }
.service-split-line span { display: inline-block; height: 44px; width: 1px; background-color: rgb(229, 229, 229); }
.site-footer-navs { padding: 30px 0px; margin-right: -10px; }
.footer-nav-custom, .footer-nav-item { float: left; width: 244px; text-align: center; margin-right: 5px; }
.footer-nav-title { font-size: 14px; color: rgb(51, 51, 51); margin-bottom: 10px; }
.footer-nav-item li { line-height: 22px; }
.footer-nav-item li a { font-size: 12px; color: rgb(102, 102, 102); transition: color 0.2s linear 0s; }
.footer-nav-item li a:hover { color: rgb(0, 195, 245); }
.nav-custom-title { font-size: 14px; color: rgb(102, 102, 102); }
.nav-custom-number { color: rgb(31, 167, 234); font-size: 24px; margin: 20px 0px 14px; }
.nav-custom-btn { display: inline-block; width: 160px; height: 34px; line-height: 34px; text-align: center; text-decoration: none; color: rgb(255, 255, 255); background-color: rgb(31, 167, 234); border-radius: 2px; font-size: 12px; transition: all 0.2s linear 0s; }
.nav-custom-btn img { vertical-align: middle; }
.nav-custom-btn:hover { background-color: rgb(77, 207, 246); }
.site-footer-end { border-top: 1px solid rgb(229, 229, 229); padding: 38px 0px 56px; text-align: center; color: rgb(102, 102, 102); font-size: 12px; }
.site-footer-end a { margin-left: 10px; color: rgb(102, 102, 102); }
.site-footer-end a img { vertical-align: middle; }
.meizu-footer-wechat { position: relative; }
.meizu-footer-wechat img { position: absolute; z-index: 999; width: 249px; top: -190px; left: 32px; display: none; }
.meizu-footer-wechat:hover img { display: block; }
/* ::::: http://store.res.meizu.com/resources/php/store/j/order/css/add.css?v=?20160411 ::::: */

.mz-citys { margin-right: -10px; }
.mz-selectmenu { margin-right: 10px; }
.mask { position: fixed; width: 100%; height: 100%; left: 0px; top: 0px; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; z-index: 9999; }
.mask .main .close::after { position: absolute; left: 0px; top: 0px; content: "ⅹ"; }
.mz-downmenu { position: absolute; z-index: 999; max-height: 200px; overflow-y: auto; overflow-x: hidden; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(227, 228, 228) rgb(227, 228, 228); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; display: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.mz-selectmenu { position: relative; display: inline-block; vertical-align: middle; width: 85px; height: 35px; border: 1px solid rgb(227, 228, 228); overflow: hidden; line-height: 35px; padding: 0px 10px 0px 5px; cursor: pointer; }
.mz-selectmenu input[type="text"] { width: 100%; height: 100%; border: 0px none; outline: 0px none; }
.mz-selectmenu::after { position: absolute; content: " "; background: transparent url('undefined') no-repeat scroll 0% 0%; width: 6px; height: 6px; right: 3px; bottom: 3px; }
.order-address { position: relative; padding: 0px 40px 40px; margin-bottom: 10px; }
.order-address .order-address-title { padding: 20px 0px; text-indent: 10px; font-size: 18px; font-weight: bolder; border-bottom: 1px solid rgb(228, 228, 228); }
.order-address .order-address-title-tips { display: none; vertical-align: middle; font-size: 12px; margin-left: 20px; background-color: rgb(230, 249, 254); border: 1px solid rgb(0, 195, 245); padding: 5px 10px; color: rgb(0, 195, 245); text-indent: 0px; font-weight: 400; }
.order-address .order-address-title-tips .order-address-tips-icon { display: inline-block; font-style: normal; text-align: center; line-height: 14px; border-radius: 100%; background-color: rgb(0, 195, 245); width: 14px; height: 14px; margin-right: 5px; color: rgb(255, 255, 255); }
.order-address .order-address-title-tips .order-address-tips-icon::after { content: "!"; }
.order-address .order-address-list { padding-top: 30px; }
.order-address .order-address-checkbox { float: left; position: relative; width: 275px; height: 144px; border: 1px solid rgb(228, 228, 228); cursor: pointer; margin: 0px 0px 30px 12px; padding: 1px 16px; transition: border-color 0.8s ease 0s; }
.order-address .order-address-checkbox:hover { padding: 0px 15px; border: 2px solid rgb(0, 195, 245); }
.order-address .order-address-checkbox:hover .order-address-checkbox-ctrl { opacity: 1; }
.order-address .order-address-checkbox.checked { padding: 0px 15px; border: 2px solid rgb(0, 195, 245); }
.order-address .order-address-checkbox.checked .order-address-checkbox-checked { display: block; }
.order-address .order-address-checkbox .order-address-checkbox-checked { display: none; position: absolute; overflow: hidden; right: 0px; bottom: 0px; width: 30px; height: 30px; }
.order-address .order-address-checkbox .order-address-checkbox-checked::before { position: absolute; right: 0px; top: 0px; content: ""; width: 0px; height: 0px; border-top: 30px solid transparent; border-right: 30px solid rgb(0, 195, 245); }
.order-address .order-address-checkbox .order-address-checkbox-checked::after { position: absolute; width: 20px; height: 20px; right: 0px; bottom: 0px; background-position: center center; background-repeat: no-repeat; content: ""; background-image: url('undefined'); }
.order-address .order-address-checkbox .order-address-checkbox-top { font-size: 12px; padding-top: 15px; height: 40px; border-bottom: 1px solid rgb(228, 228, 228); font-weight: bolder; }
.order-address .order-address-checkbox .order-address-checkbox-top .order-address-checkbox-name { float: left; width: 125px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.order-address .order-address-checkbox .order-address-checkbox-top .order-address-checkbox-phone { float: right; }
.order-address .order-address-checkbox .order-address-checkbox-content { padding-top: 10px; word-break: break-all; word-wrap: break-word; font-size: 12px; max-height: 70px; overflow: hidden; color: rgb(81, 81, 81); }
.order-address .order-address-checkbox .order-address-checkbox-ctrl { position: absolute; opacity: 0; bottom: -20px; left: 0px; width: 100%; height: 20px; font-size: 14px; padding-top: 5px; color: rgb(0, 195, 245); }
.order-address .order-address-checkbox .order-address-checkbox-delete { float: right; margin-right: 10px; }
.order-address .order-address-checkbox .order-address-checkbox-delete::after { content: "删除"; }
.order-address .order-address-checkbox .order-address-checkbox-edit { float: right; margin-right: 10px; }
.order-address .order-address-checkbox .order-address-checkbox-edit::after { content: "修改"; }
.order-address .order-address-checkbox .order-address-checkbox-perfect::after { display: inline-block; vertical-align: middle; background-color: rgb(0, 195, 245); text-align: center; line-height: 26px; width: 78px; height: 26px; color: rgb(255, 255, 255); cursor: pointer; content: "立即完善"; border-radius: 4px; font-style: normal; }
.order-address .order-address-add { margin-left: 14px; display: none; }
.order-address .order-address-add-icon { display: inline-block; position: relative; width: 16px; height: 16px; border: 2px solid rgb(0, 195, 245); border-radius: 2px; cursor: pointer; }
.order-address .order-address-add-icon .order-address-add-horizontal { position: absolute; width: 8px; height: 0px; left: 2px; top: 5px; border-top: 2px solid rgb(0, 195, 245); }
.order-address .order-address-add-icon .order-address-add-vertical { position: absolute; left: 5px; top: 2px; width: 0px; height: 8px; border-left: 2px solid rgb(0, 195, 245); }
.order-address .order-address-add-icon::after { content: "添加新地址"; position: absolute; right: -100px; top: -4px; text-indent: 5px; font-size: 14px; color: rgb(0, 195, 245); width: 100px; font-weight: bolder; }
.order-address .order-address-form { height: 0px; overflow: hidden; padding: 0px; transition: all 0.8s ease 0s; }
.order-address .order-address-form .order-address-row { height: 36px; margin-bottom: 22px; line-height: 36px; }
.order-address .order-address-form .order-address-row-title { float: left; width: 80px; height: 100%; }
.order-address .order-address-form .order-address-row-content { float: left; }
.order-address .order-address-form .order-address-row-content .btn { margin-right: 5px; }
.order-address .order-address-form .order-address-row-tips { float: left; color: rgb(255, 75, 75); }
.order-address .order-address-form .order-address-row-tips::before { content: "*"; margin: 5px; }
.order-address .order-address-form .order-address-input { position: relative; vertical-align: middle; padding: 0px 5px; width: 442px; height: 36px; outline: 0px none; background-color: rgb(255, 255, 255); border: 1px solid rgb(228, 228, 228); }
.order-address .order-address-form .order-address-prefix { position: relative; display: inline-block; vertical-align: middle; z-index: 2; margin-right: -5px; padding-left: 5px; height: 36px; border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(228, 228, 228) -moz-use-text-color rgb(228, 228, 228) rgb(228, 228, 228); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.order-address .order-address-form .order-address-prefix::after { content: attr(data-prefix); }
.order-address .order-address-form .mz-selectmenu { width: 103px; }
.order-discount-coupon .order-discount-coupon-item::after { position: absolute; }
.order-discount-coupon .order-discount-coupon-item.checked .order-discount-coupon-checkbox::after { display: block; }
.order-discount-coupon .order-discount-coupon-tick::before { position: absolute; background-color: rgb(240, 65, 95); right: -1px; top: -1px; content: ""; height: 106px; width: 11px; border-radius: 0px 4px 4px 0px; }
.order-discount-coupon .order-discount-coupon-tick::after { position: absolute; right: -1px; top: -1px; content: ""; height: 106px; width: 11px; background-image: url('undefined'); background-repeat: no-repeat; }
.order-discount-coupon .order-discount-coupon-tick.single::before { background-color: rgb(240, 150, 70); }
.order-discount-coupon .order-discount-coupon-price::before { font-size: 12px; content: "￥"; vertical-align: super; }
.order-discount-coupon .order-discount-coupon-type::before { content: "（"; }
.order-discount-coupon .order-discount-coupon-type::after { content: "）"; }
.order-discount-coupon .order-discount-coupon-checkbox::after { display: none; position: absolute; content: ""; left: 3px; top: 5px; width: 12px; height: 8px; background-image: url('undefined'); background-repeat: no-repeat; }
.order-discount { position: relative; padding: 0px 40px; margin-top: 10px; overflow: hidden; }
.order-discount .order-discount-header { font-size: 18px; text-indent: 10px; padding: 25px 0px; font-weight: bolder; }
.order-discount .order-discount-list { margin-bottom: 30px; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(228, 228, 228) rgb(228, 228, 228) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.order-discount .order-discount-item { background-color: rgb(255, 255, 255); }
.order-discount .order-discount-item.open .order-discount-item-title::before { content: "-"; }
.order-discount .order-discount-item-header { height: 48px; line-height: 48px; cursor: pointer; background-color: rgb(245, 245, 245); border-bottom: 1px solid rgb(228, 228, 228); }
.order-discount .order-discount-item-header:hover .order-discount-item-title { color: rgb(0, 195, 245); }
.order-discount .order-discount-item-title { float: left; margin-left: 12px; }
.order-discount .order-discount-item-title::before { display: inline-block; content: "+"; width: 12px; }
.order-discount .order-discount-item-right { float: right; margin-right: 10px; }
.order-discount .order-discount-item-price::before { content: "-￥"; }
.order-discount .order-discount-item-content { position: relative; display: none; border-bottom: 1px solid rgb(228, 228, 228); }
.order-discount-content-mask .order-discount-content-tips .order-discount-content-tips-header::before { display: inline-block; content: "!"; width: 20px; height: 20px; border: 1px solid rgb(255, 255, 255); border-radius: 100%; margin-right: 5px; font-size: 12px; line-height: 18px; text-align: center; }
.order-product { padding: 0px 40px 30px; }
.order-product .order-product-title { font-size: 18px; text-indent: 10px; padding: 25px 0px; font-weight: bolder; }
.order-product .order-product-table-name { width: 464px; text-align: left; }
.order-product .order-product-table-price { text-align: center; width: 204px; }
.order-product .order-product-table-price .order-product-price { margin-left: 30px; }
.order-product .order-product-table-num { text-align: center; width: 140px; }
.order-product .order-product-table-total { text-align: center; width: 160px; }
.order-product .order-product-table-express { text-align: center; width: 192px; color: rgb(102, 102, 102); line-height: 25px; }
.order-product table { border: 1px solid rgb(228, 228, 228); }
.order-product thead { font-size: 18px; border-bottom: 1px solid rgb(228, 228, 228); }
.order-product thead tr { height: 62px; }
.order-product tbody tr { height: 150px; border-top: 1px solid rgb(228, 228, 228); }
.order-product tbody .order-product-table-express { border-left: 1px solid rgb(228, 228, 228); }
.order-product tbody .order-product-table-price { text-align: left; }
.order-product tfoot { border-top: 1px solid rgb(228, 228, 228); color: rgb(102, 102, 102); vertical-align: top; }
.order-product tfoot tr { height: 108px; background-color: rgb(245, 245, 245); }
.order-product .order-product-table-child td:first-child::before { position: absolute; display: block; content: ""; left: 0px; top: -1px; height: 2px; width: 40px; background-color: rgb(255, 255, 255); }
.order-product .order-product-table-child td:first-child::after { position: absolute; display: block; content: ""; right: 0px; top: -1px; height: 2px; width: 40px; background-color: rgb(255, 255, 255); }
.order-product .order-product-image { vertical-align: middle; height: 102px; width: 102px; margin-left: 18px; margin-right: 10px; }
.order-product .order-product-name { display: inline-block; vertical-align: middle; font-size: 16px; }
.order-product .order-product-link { color: rgb(102, 102, 102); line-height: 22px; }
.order-product .order-product-price { font-weight: bolder; font-size: 16px; }
.order-product .order-product-price::before { content: "￥"; margin-right: 2px; }
.order-product .order-product-price.sub::before { content: "-￥"; }
.order-product .order-product-price.red { color: rgb(224, 43, 65); }
.order-product .order-product-price.cancel::before { margin-right: 0px; }
.order-product .order-product-discount.more:hover .order-product-discount-title .order-product-discount-triangle::after { border-top: 0px none; border-bottom: 4px solid rgb(255, 75, 75); }
.order-product .order-product-discount .order-product-discount-triangle::after { position: absolute; left: 0px; top: -3px; content: ""; width: 0px; height: 0px; transition: all 0.3s ease 0s; border-width: 4px 4px 0px; border-style: solid solid none; border-color: rgb(255, 75, 75) transparent -moz-use-text-color; }
.order-product .order-product-info { float: left; margin: 15px 0px 0px 25px; font-size: 12px; }
.order-product .order-product-supplier { display: none; position: relative; font-weight: 400; color: rgb(102, 102, 102); font-size: 12px; margin-left: 10px; cursor: pointer; }
.order-product .order-product-supplier:hover .order-product-supplier-tips { display: inline-block; }
.order-product .order-product-supplier .order-product-supplier-name { color: rgb(0, 195, 245); }
.order-product .order-product-supplier .order-product-supplier-tips { display: none; position: absolute; vertical-align: middle; padding: 4px 6px; background-color: rgb(238, 238, 238); border: 1px solid rgb(228, 228, 228); margin-left: 10px; margin-top: -5px; }
.order-product .order-product-supplier .order-product-supplier-tips::before { position: absolute; content: ""; width: 0px; height: 0px; left: -8px; top: 4px; border-top: 8px solid transparent; border-right: 8px solid rgb(228, 228, 228); border-bottom: 8px solid transparent; }
.order-product .order-product-supplier .order-product-supplier-tips::after { position: absolute; content: ""; width: 0px; height: 0px; left: -6px; top: 4px; border-top: 8px solid transparent; border-right: 8px solid rgb(238, 238, 238); border-bottom: 8px solid transparent; }
.order-product .order-product-arrival-icon { display: inline-block; vertical-align: text-bottom; position: relative; width: 20px; height: 20px; border-radius: 4px; background-color: rgb(0, 195, 245); margin-right: 5px; }
.order-product .order-product-arrival-icon::before { position: absolute; content: ""; left: 0px; top: 0px; width: 20px; height: 20px; z-index: 2; text-indent: 15px; line-height: 18px; color: rgb(255, 255, 255); font-size: 14px; background-position: center center; background-repeat: no-repeat; background-image: url('undefined'); }
.order-product .order-product-invoice { margin-bottom: 10px; height: 21px; }
.order-product .order-product-invoice .order-product-invoice-type { float: left; margin-right: 30px; }
.order-product .order-product-invoice .order-product-invoice-icon { display: inline-block; margin-left: 5px; width: 14px; height: 14px; border-radius: 100%; background-color: rgb(0, 195, 245); line-height: 14px; text-align: center; color: rgb(255, 255, 255); cursor: pointer; }
.order-product .order-product-invoice .order-product-invoice-icon::after { content: "?"; }
.order-product .order-product-invoice .order-product-invoice-title { float: left; }
.order-product .order-product-remark { overflow: hidden; }
.order-product .order-product-remark .order-product-remark-title { display: inline-block; margin-top: 5px; }
.order-product .order-product-remark .order-product-remark-input { border: 1px solid rgb(228, 228, 228); margin-left: 5px; width: 552px; height: 48px; background-color: rgb(255, 255, 255); resize: none; outline: 0px none; padding: 5px; }
.order-product .order-product-total { float: right; margin: 40px 20px 0px 0px; font-size: 16px; font-weight: bolder; }
.order-product .order-product-total .order-product-price { font-size: 22px; }
.order-discount-red .order-discount-red-item.checked .order-discount-red-checkbox::after { display: block; }
.order-discount-red .order-discount-red-tick::after { position: absolute; content: ""; right: -1px; top: -1px; width: 18px; height: 106px; background-image: url('undefined'); }
.order-discount-red .order-discount-red-price::before { font-size: 12px; content: "￥"; vertical-align: super; }
.order-discount-red .order-discount-red-checkbox::after { display: none; position: absolute; content: ""; left: 3px; top: 5px; width: 12px; height: 8px; background-image: url('undefined'); background-repeat: no-repeat; }
.order-discount-repo { padding: 25px 0px 10px 35px; margin-top: 10px; }
.order-discount-repo .order-discount-repo-tips { color: rgb(255, 75, 75); margin-left: 10px; }
.order-discount-repo .order-discout-repo-text { margin-bottom: 30px; }
.order-discount-repo .order-discout-repo-text .order-discount-repo-selected-num { margin: 0px 5px; color: rgb(0, 195, 245); font-weight: bolder; }
.order-discount-repo .order-discout-repo-text .order-discount-repo-selected-price { margin-left: 5px; color: rgb(224, 43, 65); font-weight: bolder; }
.order-discount-repo .order-discout-repo-text .order-discount-repo-selected-price::before { content: "￥"; }
.order-discount-repo .order-discount-repo-checkbox::after { content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-repeat: no-repeat; background-image: url('undefined'); }
.order-discount-repo .order-discount-repo-checkbox-title::after { display: block; width: 20px; word-break: break-all; word-wrap: break-word; white-space: normal; overflow: hidden; content: "回购券"; }
.order-discount-repo .order-discount-repo-checkbox-price::before { content: "￥"; }
.order-discount-repo .order-discount-repo-checkbox-checked::after { position: absolute; display: block; content: ""; left: 3px; top: 7px; width: 14px; height: 9px; background-image: url('undefined'); }
.order-discount-repo .order-discount-repo-enter-title { display: inline-block; vertical-align: middle; margin: 40px 0px 35px; font-size: 14px; color: rgb(0, 195, 245); cursor: pointer; }
.order-discount-repo .order-discount-repo-enter-content { position: relative; display: none; }
.order-discount-repo .order-discount-repo-enter-content .order-discount-repo-enter-row { margin-bottom: 50px; }
.order-discount-repo .order-discount-repo-enter-content .order-discount-repo-enter-input { margin: 0px 22px; padding: 10px; width: 230px; height: 36px; border: 1px solid rgb(228, 228, 228); background-color: rgb(255, 255, 255); outline: 0px none; }
* { box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
.btn { display: inline-block; vertical-align: middle; width: 100px; height: 37px; border: 1px solid rgb(0, 195, 245); color: rgb(255, 255, 255); text-align: center; line-height: 37px; background-color: rgb(0, 195, 245); border-radius: 4px; cursor: pointer; }
.btn.cancel { background-color: rgb(246, 246, 246); border: 1px solid rgb(228, 228, 228); color: rgb(102, 102, 102); }
body { position: relative; }
.order { overflow: hidden; width: 100%; background-color: rgb(245, 245, 245); }
.order .mzcontainer { background-color: rgb(255, 255, 255); }
.order-header { margin: 10px auto; }
.order-header .order-title { float: left; font-size: 24px; margin: 25px 0px 25px 45px; }
.order-header .order-bread { float: right; margin: 30px 30px 0px 0px; }
.order-header .order-bread .order-bread-module { float: left; margin-right: 10px; }
.order-header .order-bread .order-bread-module::after { margin-left: 10px; content: ">"; }
.order-header .order-bread .order-bread-module:last-child::after { content: ""; margin-left: 0px; }
.order-header .order-bread .order-bread-module.active { color: rgb(0, 195, 245); }
.order-total { overflow: hidden; margin: 10px auto 38px; padding: 30px; color: rgb(137, 137, 137); }
.order-total .order-total-content { float: right; width: 280px; }
.order-total .order-total-row { padding: 0px 2px; margin-bottom: 20px; }
.order-total .order-total-row.order-total-valid-row { font-size: 0px; }
.order-total .order-total-discount { display: none; }
.order-total .order-total-price { float: right; }
.order-total .order-total-price::before { content: "￥"; }
.order-total .order-total-price.sub { color: rgb(224, 43, 65); }
.order-total .order-total-price.sub::before { content: "-￥"; }
.order-total .order-total-price.total { color: rgb(224, 43, 65); font-size: 20px; font-weight: bolder; }
.order-total .order-total-line { width: 100%; height: 1px; background-color: rgb(228, 228, 228); margin-bottom: 20px; }
.order-total .order-total-valid-input { font-size: 12px; width: 196px; height: 30px; border: 1px solid rgb(228, 228, 228); background-color: rgb(255, 255, 255); outline: 0px none; padding: 0px 10px; margin-right: 0px; }
.order-total .order-total-valid-image { cursor: pointer; width: 80px; height: 30px; }
.order-total .order-total-tips::before { content: "*"; }
.order-total .btn { width: 100%; }
.einvoice { display: none; }
.einvoice .einvoice-detail { position: absolute; left: 50%; top: 50%; margin-left: -395px; margin-top: -300px; width: 790px; height: 600px; background-color: rgb(255, 255, 255); border-radius: 4px; box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5); overflow: hidden; }
.einvoice .einvoice-detail::after { display: block; position: absolute; left: 0px; bottom: 0px; height: 120px; width: 100%; content: ""; background: transparent -moz-linear-gradient(center top , rgba(255, 255, 255, 0.2), rgb(255, 255, 255) 90%) repeat scroll 0% 0%; }
.einvoice .einvoice-detail .einvoice-detail-title { position: relative; width: 100%; height: 60px; border-bottom: 1px solid rgb(228, 228, 228); text-align: center; font-size: 18px; line-height: 60px; }
.einvoice .einvoice-detail .einvoice-detail-main { position: relative; overflow: auto; height: 540px; }
.einvoice .einvoice-detail .einvoice-detail-list { margin: 20px auto 120px; color: rgb(102, 102, 102); width: 560px; line-height: 22px; }
.einvoice .einvoice-detail .einvoice-detail-list .q::before { content: "Q："; }
.einvoice .einvoice-detail .einvoice-detail-list .a { margin-bottom: 30px; }
.einvoice .einvoice-detail .einvoice-detail-list .a::before { content: "A："; }
.einvoice .einvoice-detail .einvoice-detail-list .einvoice-detail-link { color: rgb(0, 195, 245); }
.einvoice .einvoice-detail .einvoice-close { position: absolute; right: 20px; top: 15px; font-size: 24px; color: rgb(102, 102, 102); cursor: pointer; width: 30px; height: 30px; }
.einvoice .einvoice-detail .einvoice-close::after { position: absolute; left: 0px; top: 0px; width: 30px; height: 30px; line-height: 30px; text-align: center; content: "╳"; }
