/* ::::: http://store.res.meizu.com/resources/php/store/static/common/pkg/site-base.css?_dv=2016906 ::::: */

audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
body { font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体"; font-size: 14px; }
img { vertical-align: top; }
h1, h2, h3, h4, h5, h6, ul, ol, dl, dt, dd, p { margin: 0px; padding: 0px; list-style: outside none none; font-weight: 400; }
a { text-decoration: none; outline: 0px none; }
a:focus { outline: 0px none; }
.mzcontainer { width: 1240px; margin: 0px auto; }
.mzcontainer::before, .mzcontainer::after, .clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix {  }
.clearfix::after { content: " "; clear: both; height: 0px; visibility: hidden; display: block; }
.site-topbar { background: rgb(250, 250, 252) none repeat scroll 0% 0%; position: relative; z-index: 200; }
.topbar-nav { float: left; }
.topbar-nav a, .topbar-link { padding: 12px 0px; color: rgb(102, 102, 102); font-size: 12px; margin-right: 40px; display: inline-block; text-decoration: none; transition: color 0.2s linear 0s; }
.topbar-info { float: right; }
.topbar-info li a { margin-right: 0px; padding-left: 20px; padding-right: 20px; }
.topbar-nav a:hover, .topbar-link:hover { color: rgb(0, 195, 245); }
.topbar-right { position: relative; float: right; min-width: 500px; }
.topbar-info li { float: left; }
.topbar-info-msg { position: relative; display: none; }
.topbar-order-msg { position: relative; }
.msg-tag { position: absolute; left: 42px; top: 10px; height: 6px; width: 6px; background: rgb(247, 61, 61) none repeat scroll 0% 0%; border-radius: 50%; display: none; }
.topbar-order-msg .msg-tag { left: 65px; }
.topbar-info-member { position: relative; z-index: 50; height: 40px; }
.topbar-info-member .topbar-link { padding: 11px 20px 12px; border-width: 0px 1px; border-style: none solid; border-color: -moz-use-text-color transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; min-width: 60px; }
.topbar-info-member:hover .topbar-link { border-color: rgb(204, 204, 204); }
.site-member-items { display: none; background-color: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.topbar-info-member:hover { background-color: rgb(255, 255, 255); }
.topbar-info-member:hover .site-member-items { display: block; }
.topbar-info-member::after, .topbar-info-member::after { display: inline-block; content: " "; position: absolute; top: 20px; margin-top: -2px; right: 6px; width: 7px; height: 4px; background: transparent url('down.png') no-repeat scroll center center; }
.topbar-info-member:hover::after { background-image: url('up.png'); }
.site-member-link { display: block; line-height: 35px; font-size: 12px; color: rgb(102, 102, 102); }
.site-member-link:hover { background: rgb(250, 250, 252) none repeat scroll 0% 0%; }
.site-logout { text-align: center; border-top: 1px solid rgb(239, 239, 239); }
.site-member-name { text-overflow: ellipsis; display: inline-block; max-width: 72px; overflow-x: hidden; white-space: nowrap; vertical-align: bottom; }
.topbar-info-pop { position: relative; float: right; margin-top: 41px; margin-right: -70px; width: 300px; }
#MzMsgPop .triangle::after { position: absolute; left: -6px; top: 2px; content: ""; width: 0px; height: 0px; border-left: 6px solid transparent; border-bottom: 8px solid rgb(255, 255, 255); border-right: 6px solid transparent; }
#MzMsgPop .close::after { cursor: pointer; display: block; border-radius: 100%; width: 14px; height: 14px; font-size: 14px; content: "×"; color: rgb(172, 172, 172); text-align: center; line-height: 12px; transition: all 0.5s ease 0s; padding-left: 1px; }
#MzMsgPop .close:hover::after { background: rgb(224, 224, 224) none repeat scroll 0% 0%; }
.topbar-new { position: relative; display: inline-block; vertical-align: middle; color: rgb(255, 255, 255); background-color: rgb(237, 68, 98); font-size: 12px; margin-left: 5px; height: 13px; line-height: 10px; padding: 0px 2px; top: -1px; border-radius: 2px; }
.topbar-new::before { position: absolute; left: -4px; top: 2px; display: inline-block; content: ""; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-right: 6px solid rgb(237, 68, 98); width: 0px; height: 0px; }
.site-header { height: 80px; border-bottom: 1px solid rgb(239, 239, 239); position: relative; z-index: 150; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.header-logo { float: left; padding: 30px 0px; }
.header-logo img { display: block; }
.header-nav { float: left; margin-left: 124px; height: 80px; }
.nav-list { height: 100%; }
.nav-list .nav-item { float: left; cursor: pointer; position: relative; z-index: 10; }
.nav-item-link { color: rgb(51, 51, 51); font-size: 16px; padding: 30px 18px 0px; display: block; transition: color 0.2s linear 0s; }
.nav-item:hover .nav-item-link { color: rgb(0, 195, 245); }
.nav-item-children { display: none; }
.header-nav-menu { position: absolute; top: 81px; left: 0px; z-index: 30; width: 100%; background-color: rgba(255, 255, 255, 0.95); border-bottom: 1px solid rgb(243, 243, 243); display: none; }
.header-cart { display: none; float: right; margin-top: 20px; position: relative; }
.header-cart-wrap { line-height: 38px; border: 1px solid rgb(204, 204, 204); border-radius: 4px; padding: 0px 18px; color: rgb(51, 51, 51); font-size: 14px; position: relative; }
.header-cart-icon { display: inline-block; height: 20px; width: 20px; background: transparent url('cart-icon.png') no-repeat scroll 0% 0%; vertical-align: middle; margin-right: 3px; margin-top: -2px; }
.header-cart-detail { display: none; position: absolute; z-index: 40; right: 0px; top: 38px; width: 350px; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.header-cart-spacer { display: none; width: 100%; height: 10px; position: absolute; top: 36px; left: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 50; }
.header-cart-empty { height: 50px; line-height: 50px; padding: 15px 0px; text-align: center; font-size: 12px; color: rgb(51, 51, 51); }
.menu-product-list { padding: 0px 50px; }
.menu-product-figure { text-align: center; }
.menu-product-item img { height: 126px; width: 126px; }
.menu-product-item { float: left; padding: 18px 14px; width: 162px; }
.menu-product-name { color: rgb(51, 51, 51); font-size: 12px; text-align: center; }
.menu-product-price { color: rgb(224, 43, 65); font-size: 12px; text-align: center; margin-top: 2px; }
.menu-product-price span.originPrice { text-decoration: line-through; font-size: 12px; color: rgb(153, 153, 153); margin-right: 3px; }
.menu-product-price span { font-size: 16px; }
.menu-product-more { float: left; padding-top: 23px; }
.menu-more-links { height: 126px; border-left: 1px solid rgb(239, 239, 239); padding: 0px 0px 14px 20px; }
.menu-more-links li { margin-top: 2px; }
.menu-more-links a { color: rgb(51, 51, 51); font-size: 12px; margin-bottom: 2px; }
.menu-more-links a:hover { color: rgb(0, 195, 245); }
.menu-more-img { display: inline-block; vertical-align: middle; margin-right: 10px; width: 28px; height: 28px; }
.site-footer { background-color: rgb(250, 250, 252); }
.site-footer-service { padding: 38px 8px 26px; border-bottom: 1px solid rgb(229, 229, 229); }
.site-footer-service li { float: left; }
.service-item { width: 203px; text-align: center; }
.service-icon { display: inline-block; height: 36px; width: 94px; background: transparent none no-repeat scroll 50% 50%; margin-bottom: 12px; }
.service-icon-seven { background-image: url('7.png'); }
.service-icon-fifty { background-image: url('15.png'); }
.service-icon-one { background-image: url('1.png'); }
.service-icon-by { background-image: url('baoyou.png'); }
.service-icon-speed { background-image: url('speed.png'); }
.service-icon-map { background-image: url('map.png'); }
.service-desc-bold, .service-desc-normal { color: rgb(102, 102, 102); font-weight: 700; font-size: 14px; }
.service-desc-normal { font-weight: 400; }
.service-split-line { padding-top: 10px; }
.service-split-line span { display: inline-block; height: 44px; width: 1px; background-color: rgb(229, 229, 229); }
.site-footer-navs { padding: 30px 0px; margin-right: -10px; }
.footer-nav-custom, .footer-nav-item { float: left; width: 244px; text-align: center; margin-right: 5px; }
.footer-nav-title { font-size: 14px; color: rgb(51, 51, 51); margin-bottom: 10px; }
.footer-nav-item li { line-height: 22px; }
.footer-nav-item li a { font-size: 12px; color: rgb(102, 102, 102); transition: color 0.2s linear 0s; }
.footer-nav-item li a:hover { color: rgb(0, 195, 245); }
.nav-custom-title { font-size: 14px; color: rgb(102, 102, 102); }
.nav-custom-number { color: rgb(31, 167, 234); font-size: 24px; margin: 20px 0px 14px; }
.nav-custom-btn { display: inline-block; width: 160px; height: 34px; line-height: 34px; text-align: center; text-decoration: none; color: rgb(255, 255, 255); background-color: rgb(31, 167, 234); border-radius: 2px; font-size: 12px; transition: all 0.2s linear 0s; }
.nav-custom-btn img { vertical-align: middle; }
.nav-custom-btn:hover { background-color: rgb(77, 207, 246); }
.site-footer-end { border-top: 1px solid rgb(229, 229, 229); padding: 38px 0px 56px; text-align: center; color: rgb(102, 102, 102); font-size: 12px; }
.site-footer-end a { margin-left: 10px; color: rgb(102, 102, 102); }
.site-footer-end a img { vertical-align: middle; }
.meizu-footer-wechat { position: relative; }
.meizu-footer-wechat img { position: absolute; z-index: 999; width: 249px; top: -190px; left: 32px; display: none; }
.meizu-footer-wechat:hover img { display: block; }
/* ::::: http://store.res.meizu.com/resources/php/store/j/home/pkg-home.css?_dv=20160907 ::::: */

.bx-wrapper { position: relative; margin: 0px auto 60px; padding: 0px; }
.bx-wrapper img { max-width: 100%; display: block; }
.bxslider { margin: 0px; padding: 0px; }
ul.bxslider { list-style: outside none none; }
.bx-viewport { transform: translateZ(0px); }
.bx-wrapper { box-shadow: 0px 0px 5px rgb(204, 204, 204); border: 5px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: -30px; width: 100%; }
.bx-wrapper .bx-pager { text-align: center; font-size: 0.85em; font-family: Arial; font-weight: 700; color: rgb(102, 102, 102); padding-top: 20px; }
.bx-wrapper .bx-pager.bx-default-pager a { background: rgb(102, 102, 102) none repeat scroll 0% 0%; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0px 5px; outline: 0px none; border-radius: 5px; }
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background: rgb(0, 0, 0) none repeat scroll 0% 0%; }
.bx-wrapper .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; }
.bx-wrapper .bx-pager-item { font-size: 0px; line-height: 0; }
.bx-wrapper .bx-prev { left: 10px; background: transparent url('controls.png') no-repeat scroll 0px -32px; }
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus { background-position: 0px 0px; }
.bx-wrapper .bx-next { right: 10px; background: transparent url('controls.png') no-repeat scroll -43px -32px; }
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus { background-position: -43px 0px; }
.bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; margin-top: -16px; outline: 0px none; width: 32px; height: 32px; text-indent: -9999px; z-index: 9999; }
.home-mzad { margin-top: 6px; overflow: hidden; }
.home-service a { font-size: 12px; color: rgb(51, 51, 51); padding: 15px; display: inline-block; }
.home-service p { line-height: 12px; margin-top: 5px; }
.service-module-2, .service-module-3 { float: left; width: 50%; text-align: center; }
.home-service .home-service-icon { display: inline-block; height: 24px; width: 48px; background: transparent none no-repeat scroll center bottom; }
.home-box { float: left; height: 140px; }
.home-service { width: 244px; background: rgb(249, 249, 249) none repeat scroll 0% 0%; }
.home-ad-box { width: 244px; margin-left: 5px; }
.home-ad-box a img { height: 140px; width: 244px; }
.home-category-position { position: relative; z-index: 110; }
.home-category-list { position: absolute; top: 0px; left: 0px; height: 480px; background-color: rgba(248, 247, 247, 0.8); }
.home-category-nav { padding: 12px 0px; }
.home-category-nav-item { height: 57px; line-height: 57px; }
.home-category-nav-item:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.category-nav-link { padding: 0px 30px; width: 184px; color: rgb(58, 58, 58); font-size: 14px; display: block; height: 100%; }
.category-nav-children { position: absolute; top: 0px; left: 244px; height: 480px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: none; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
.nav-children-wrap { float: left; padding: 31px 20px 0px; }
.nav-wrap-col-1 { width: 496px; }
.nav-wrap-col-2 { width: 656px; }
.nav-wrap-col-1 { width: 496px; }
.nav-wrap-col-2 { width: 656px; }
.nav-children-left { float: left; }
.nav-children-item { width: 160px; margin-bottom: 22px; padding: 5px 0px; }
.nav-children-item img { vertical-align: middle; margin-right: 10px; height: 50px; width: 50px; }
.nav-children-item a { font-size: 14px; color: rgb(51, 51, 51); display: table; padding-right: 10px; }
.nav-children-item a:hover { color: rgb(0, 195, 245); }
.nav-children-item a span { display: table-cell; line-height: 18px; padding: 0px; vertical-align: middle; }
.category-item-ad { float: left; width: 296px; height: 480px; }
.site-gotop { position: fixed; width: 44px; bottom: 50px; left: 50%; margin-left: 640px; display: none; }
.gotop-suggest, .gotop-arrow { display: inline-block; width: 44px; height: 44px; background: rgb(180, 180, 180) none no-repeat scroll 50% 50%; cursor: pointer; }
.gotop-suggest { background-image: url('suggest.png'); }
.gotop-arrow { background-image: url('gotop-arrow.png'); margin-top: 5px; }
.home-full-box { background-color: rgb(245, 245, 245); width: 100%; overflow: hidden; }
.home-full-box.white { background-color: rgb(255, 255, 255); }
.home-panel { margin-top: 40px; }
.home-panel-topbar { overflow: hidden; }
.home-panel-title { font-size: 24px; color: rgb(51, 51, 51); font-weight: 400; float: left; }
.home-panel-tools { float: right; }
.more-arrow { font-family: Arial; color: rgb(189, 189, 189); display: inline-block; height: 28px; width: 28px; }
.more-arrow.more-icon { width: 8px; height: 16px; vertical-align: middle; transition: background-image 0.2s linear 0s; background-repeat: no-repeat; }
.home-tool-more:hover .more-arrow.more-icon, .home-panel-subtitle a:hover .more-arrow.more-icon { background-repeat: no-repeat; }
.panel-slider { display: inline-block; width: 28px; height: 28px; line-height: 28px; text-align: center; border: 1px solid rgb(189, 189, 189); cursor: pointer; }
.panel-slider-left .more-arrow { background: transparent url('arrow-l.png') no-repeat scroll 50% 50%; }
.panel-slider-right .more-arrow { background: transparent url('arrow-r.png') no-repeat scroll 50% 50%; }
.panel-slider-disabled { opacity: 0.5; cursor: default; }
.home-rmd-cotent { margin-left: -30px; margin-right: -10px; overflow: hidden; padding-bottom: 40px; padding-left: 30px; padding-top: 20px; width: 1300px; }
.home-floor .home-rmd-cotent { padding-bottom: 34px; }
.rmd-content-list { float: left; position: relative; left: 0px; transition: left 0.5s ease 0s; }
.rmd-content-list .rmd-box { position: relative; height: 338px; width: 247px; border: 1px solid rgb(239, 239, 239); margin-right: -1px; z-index: 1; }
.rmd-content-list .rmd-box.rmd-box:hover { border-color: rgb(204, 204, 204); z-index: 2; }
.home-hot .home-rmd-main { overflow: hidden; border: 0px none; width: 1241px; }
.rmd-box { position: relative; float: left; height: 338px; width: 243px; margin-right: 6px; transition: left 0.2s ease 0s, border 0.5s ease 0s, z-index 0.5s ease 0s; background-color: rgb(255, 255, 255); }
.home-floor .rmd-box { margin-bottom: 6px; }
.home-floor .rmd-box-product { top: 0px; transition: all 0.2s linear 0s; }
.home-floor .rmd-box-product:hover { box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1); transform: translate3d(0px, -2px, 0px); top: -2px; z-index: 2; }
.rmd-box-ad-module { position: absolute; left: 0px; bottom: 0px; height: 0px; width: 100%; background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%; transition: all 0.5s ease 0s; overflow: hidden; }
.rmd-box-ad-module .rmd-box-ad-btn { display: block; width: 188px; height: 40px; border-radius: 5px; background: rgb(255, 90, 89) none repeat scroll 0% 0%; color: rgb(255, 255, 255); margin: 30px auto 0px; outline: 0px none; text-decoration: none; text-align: center; line-height: 40px; cursor: pointer; }
.rmd-box-ad:hover {  }
.rmd-box-ad:hover .rmd-box-ad-module { height: 100px; }
.rmd-box-ad, .rmd-box-ad a img { height: 338px; width: 244px; }
.rmd-product-detail { padding: 36px 10px 5px; text-align: center; }
.rmd-product-detail img { transition: all 0.2s ease 0s; }
.rmd-product-desc { margin-top: 40px; text-align: center; }
.rmd-product-title { font-size: 14px; color: rgb(85, 87, 87); }
.rmd-product-subtitle { font-size: 12px; color: rgb(153, 153, 153); margin-top: 2px; }
.rmd-product-subtitle.red { color: rgb(241, 67, 97); }
.rmd-product-subtitle .rmd-product-subtitle-label { padding: 0px 5px; margin-right: 5px; background: rgb(241, 67, 97) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.rmd-product-oldprice, .rmd-product-price { display: inline-block; margin-top: 5px; font-size: 12px; color: rgb(224, 43, 65); }
.rmd-product-price span { font-size: 16px; }
.rmd-product-oldprice { color: rgb(178, 178, 178); text-decoration: line-through; padding-right: 2px; }
.home-floor-tools { padding-top: 6px; }
.home-tool-more, .home-panel-subtitle a { font-size: 14px; color: rgb(51, 51, 51); margin-right: 10px; transition: color 0.2s linear 0s; }
.home-panel-subtitle { float: left; padding-top: 6px; }
.home-panel-subtitle a { margin-right: 0px; margin-left: 30px; line-height: 24px; }
.home-tool-more:hover, .home-panel-subtitle a:hover, .home-panel-subtitle a:hover { color: rgb(0, 195, 245); }
.rmd-box-product { position: relative; }
.box-product-sign { position: absolute; top: 16px; right: 16px; height: 40px; width: 40px; border-radius: 50%; color: rgb(255, 255, 255); font-size: 12px; line-height: 40px; text-align: center; }
.home-floor-ad { position: relative; width: 100%; }
.home-floor-ad .hot-point { position: absolute; }
.home-slider { height: 480px; width: 100%; overflow: hidden; }
.home-slider-box { position: relative; height: 480px; }
.home-slider-image { position: absolute; display: block; left: 50%; top: 0px; height: 100%; }
.bx-wrapper { border: 0px none; box-shadow: none; background-color: transparent; }
.bx-wrapper .bx-prev { left: 0px; }
.bx-controls { width: 996px; margin: 0px auto; padding-left: 244px; }
.bx-wrapper .bx-pager { bottom: 10px; width: 996px; }
.bx-wrapper .bx-pager.bx-default-pager a { background-color: transparent; border: 1px solid silver; height: 9px; width: 9px; cursor: pointer; transition: all 0.2s linear 0s; }
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background-color: rgb(0, 195, 245); border-color: rgb(0, 195, 245); }
.bx-wrapper .bx-prev, .bx-wrapper .bx-next { background-position: center center; transition: all 0.2s linear 0s; }
.bx-wrapper .bx-prev { background-image: url('left-arrow.png'); }
.bx-wrapper .bx-next { background-image: url('right-arrow.png'); right: 0px; }
.bx-wrapper .bx-controls-direction a { width: 30px; height: 60px; z-index: 100; top: -258px; }
.bx-wrapper .bx-controls-direction { position: relative; }
.bx-wrapper:hover .bx-prev, .bx-wrapper:hover .bx-next { background-color: rgba(51, 51, 51, 0.6); }
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus, .bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus { background-position: center center; }
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { z-index: 100; }
.more-arrow.more-icon { background-position: 0px 0px; }
.home-tool-more:hover .more-arrow.more-icon, .home-panel-subtitle a:hover .more-arrow.more-icon { background-position: 0px -17px; }
.more-arrow.more-icon, .home-tool-more:hover .more-arrow.more-icon, .home-panel-subtitle a:hover .more-arrow.more-icon { background-image: url('pkg-home_z.png'); }
