/* ::::: https://uc-res.meizu.com/resources/uc/wlogin/base/css/base.css?ver=20160630 ::::: */

html { height: 1%; }
body { background: white none repeat scroll 0% 0%; font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif; font-size: 14px; color: rgb(81, 81, 81); margin: 0px; padding: 0px; }
body input, body textarea { font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif; background-color: white; outline: medium none; }
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span, dl, ul, li { margin: 0px; padding: 0px; border: 0px none; list-style: outside none none; }
a { color: rgb(81, 81, 81); text-decoration: none; }
a:hover { color: rgb(0, 0, 0); text-decoration: none; }
a:focus { outline: medium none; }
.i_icon { display: inline-block; width: 100%; height: 100%; overflow: hidden; }
.footerWrap { position: absolute; bottom: 0px; width: 100%; height: 130px; border-top: 1px solid rgb(229, 230, 231); color: black; }
.footerInner { width: 1000px; margin: 24px auto 30px; }
.footer-layer1 { height: 50px; line-height: 50px; overflow: hidden; }
.footer-layer1 a:link { color: black; }
.service-label { margin-right: 10px; }
.service-num { margin-right: 20px; }
#service-online { display: inline-block; height: 20px; line-height: 18px; width: 64px; color: white; background-color: rgb(50, 165, 231); border-radius: 2px; text-align: center; }
.service-online:hover { color: white; }
.footer-language { position: relative; overflow: hidden; cursor: default; background: transparent url('base.png') no-repeat scroll -80px -150px; }
.footer-outerLink a { margin-left: 10px; display: inline-block; overflow: hidden; width: 32px; height: 32px; }
.footer-innerLink, .footer-outerLink { float: left; }
.footer-service { float: left; margin-left: 36px; }
.footer-innerLink {  }
.footer-outerLink { position: relative; float: right; padding-top: 9px; }
.foot-line { background-color: rgb(136, 136, 136); margin: 0px 5px; width: 1px; height: 10px; }
.footer-outerLink i { background: transparent url('base.png') no-repeat scroll 0% 0%; }
.footer-sinaMblog i { background-position: -218px -91px; }
.footer-weChat i { background-position: -302px -91px; }
.footer-qzone i { background-position: -344px -91px; }
.footer-outerLink a { cursor: pointer; }
.footer-sinaMblog:hover i { background-position: -218px -137px; }
.footer-weChat:hover i { background-position: -302px -137px; }
.footer-qzone:hover i { background-position: -344px -137px; }
.copyrightInner a, .copyrightInner span { font-size: 12px; }
#wechatPic { position: absolute; z-index: 1000; width: 310px; height: 270px; background: transparent url('weixin.png') no-repeat scroll 0% 0%; display: none; }
div.footer-language_menu { box-shadow: 0px 0px 10px rgb(225, 228, 232); border-radius: 2px; background-color: rgb(254, 254, 254); position: absolute; border: 1px solid rgb(225, 228, 232); display: none; overflow: hidden; }
.footer-language_menu { bottom: 89px; width: 77px; height: 80px; z-index: 2000; }
.footer-language_menu a { display: block; height: 40px; line-height: 40px; width: 118px; margin: 0px auto; text-decoration: none; border-bottom: 1px solid rgb(228, 231, 233); font-size: 14px; color: rgb(0, 0, 0); text-align: left; padding-left: 10px; outline: medium none; }
.footer-language_menu a.ClobalItem:link { color: rgb(0, 0, 0); }
.footer-language_menu a.ClobalItem:visited { color: rgb(0, 0, 0); }
.footer-language_menu a.ClobalItem:hover { color: rgb(81, 81, 81); }
.footer-language_menu a.checked, .footer-language_menu a.checked:hover { color: rgb(29, 174, 237); text-decoration: none; }
.copyrightWrap { width: 100%; }
.copyrightInner { width: 1000px; margin: 0px auto; }
.copyrightInner span { color: rgb(127, 127, 127); float: left; }
.copyrightInner a { white-space: nowrap; float: left; color: rgb(127, 127, 127); margin-left: 6px; }
.clear { content: ""; clear: both; display: block; height: 0px; overflow: hidden; }
.pointer { cursor: pointer; }
a.linkABlue:link, a.linkABlue:visited { color: rgb(50, 165, 231); }
a.linkABlue:hover { color: rgb(0, 142, 199); }
a.invalidBtn:link, a.invalidBtn:visited { color: rgb(127, 127, 127); cursor: default; }
a.invalidBtn:hover { color: rgb(127, 127, 127); }
a.linkAGray:link, a.linkAGray:visited { color: rgb(127, 127, 127); }
a.linkAGray:hover { color: rgb(43, 43, 43); }
a.fullBtnBlue:hover { background-color: rgb(43, 140, 197); color: rgb(255, 255, 255); }
a.fullBtnBlue { width: 300px; display: block; height: 46px; font-size: 16px; line-height: 46px; text-align: center; margin-bottom: 10px; outline: medium none; cursor: pointer; background-color: rgb(50, 165, 231); color: rgb(255, 255, 255); }
.normalInput { width: 276px; position: relative; padding: 0px 10px; height: 46px; line-height: 22px; font-size: 16px; margin-bottom: 26px; border: 1px solid rgb(218, 218, 218); outline: medium none; color: rgb(71, 71, 71); overflow: hidden; }
div.normalInput { overflow: visible; }
.normalInput input { font-size: 16px; width: 94%; height: 46px; line-height: 22px; }
.normalInput .kapkey {  }
span.error, span.otherError { margin-left: 20px; color: red; height: 14px; }
.mzClose, .mzUpAngle, .mz3AngleL i, .mzAngle, .mzAngle1, .mzAngle2, .radio_unchk, .radio_chk, .check_chk i, .check_unchk i { background: transparent url('elements.png') no-repeat scroll 0% 0%; }
.check_unchk i { background-position: 0px -127px; }
.checkboxPic { display: inline-block; width: 25px; height: 20px; line-height: 20px; cursor: pointer; vertical-align: middle; overflow: hidden; }
.mzchkbox, .mzradio { cursor: pointer; }
@media screen and (max-width: 980px) {
	body { width: 1080px; }
}
input:-moz-placeholder { color: rgb(144, 144, 144); }
*::-moz-placeholder { color: rgb(144, 144, 144); }
.ucSimpleHeader { height: 30px; margin: 0px auto; position: relative; padding-top: 45px; width: 1000px; }
.meizuLogo { float: left; height: 20px; width: 110px; overflow: hidden; display: block; }
.meizuLogo i { width: 100%; height: 100%; display: block; background: transparent url('base.png') no-repeat scroll -2px -4px; }
#trigger { float: right; height: 20px; line-height: 20px; width: 100px; text-align: center; }
.box-geetest { margin-bottom: 10px; }
/* ::::: https://uc-res.meizu.com/resources/uc/wlogin/base/css/cycode.css ::::: */

.cycode-box {  }
.cycode-box .clearfix::after { display: block; content: " "; height: 0px; clear: both; overflow: hidden; visibility: hidden; }
.cycode-selectbox .cycode-selected { display: none; }
.cycode-selected .arrow-down { display: inline-block; width: 14px; height: 8px; background: transparent url('arrow-down.png') no-repeat scroll center center; }
.cycode-selectbox input { vertical-align: middle; font-size: 14px; margin-bottom: 0px ! important; }
.cycode-selected .ipt-cycode { height: 20px; line-height: 20px; width: 60%; color: grey; text-align: center; cursor: pointer; }
.cycode-box .cycode-container { width: 100%; height: 210px; line-height: 30px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(232, 232, 232); overflow-x: hidden; overflow-y: auto; position: absolute; left: -1px; top: 50px; z-index: 500; display: none; color: rgb(0, 0, 0); }
.country-code .head { background: rgb(249, 249, 249) none repeat scroll 0% 0%; padding-left: 10px; }
.country-code li { padding: 0px 10px; clear: both; overflow: hidden; cursor: pointer; }
.country-code li:hover { background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
.country-code li span { height: 30px; overflow: hidden; }
.country-code .record-code { float: right; max-width: 20%; }
.country-code .record-country { float: left; max-width: 74%; cursor: pointer; }
/* ::::: https://uc-res.meizu.com/resources/uc/wlogin/member/css/login.css?ver=20160630 ::::: */

.content { width: 100%; }
#mainForm { width: 298px; margin: 100px auto 0px; }
#toLogin { color: rgb(43, 43, 43); }
.rememberField { margin-bottom: 20px; height: 24px; line-height: 20px; }
.rememberField label { margin-right: 7px; cursor: pointer; font-size: 14px; color: rgb(127, 127, 127); }
.rememberField label:hover { color: rgb(0, 0, 0); }
.rememberFieldForA { margin-left: 90px; }
.checkboxPic { width: 20px; }
.transferField { text-align: right; }
#kapkey { font-size: 16px; width: 190px; border: medium none; outline: medium none; line-height: 22px; overflow: hidden; }
#imgKey { width: 88px; height: 36px; float: right; top: 14px; overflow: hidden; position: absolute; margin-left: 13px; }
#password { width: 100%; display: inline-block; line-height: 22px; font-size: 14px; outline: medium none; color: rgb(71, 71, 71); }
span.error, span.otherError { display: block; margin-left: 0px; margin-bottom: 20px; }
#qrCode_login { display: block; float: right; width: 18px; height: 18px; text-indent: -9999px; background: transparent url('qrbg.png') no-repeat scroll 0px 0px; }
#qrCode_login:hover { background-position: -18px 0px; }
#qrCodePanel { display: none; width: 342px; height: 255px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(255, 255, 255); position: absolute; top: 350px; left: 779px; box-shadow: 0px 0px 19px 0px rgb(102, 102, 102); z-index: 9; }
#qrCodePanel .qrCodePanel_arrow { display: block; width: 0px; height: 0px; border-width: 10px 7px; border-style: solid; border-color: transparent transparent rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; top: -20px; right: 1px; }
#qrCodePanel h3 { text-align: center; font-size: 16px; color: rgb(51, 51, 51); font-weight: lighter; margin: 20px auto 0px; }
#qrCodePanel img { display: block; width: 163px; height: 163px; margin: auto; }
#qrCodePanel .tips { text-align: center; font-size: 12px; color: rgb(51, 51, 51); height: 18px; line-height: 18px; }
#qrCodePanel .qrCodePanel_tips { display: none; width: 260px; height: 18px; margin: 0px auto; line-height: 18px; text-indent: 20px; font-size: 14px; color: rgb(51, 51, 51); background: transparent url('qrbg.png') no-repeat scroll -36px 0px; }
.abnormal-tips { display: none; margin: -10px 0px 10px; }
.form-line { color: rgb(217, 217, 217); height: 40px; display: inline-block; border-left: 1px solid rgb(218, 218, 218); position: absolute; right: 100px; top: 5px; }
.abnormal-tips { color: red; font-size: 12px; padding: 5px 0px; }
.get_kapkey, .kapkey_requested { cursor: pointer ! important; width: 80px; border: medium none; outline: medium none; height: 50px; line-height: 50px; font-size: 16px; position: absolute; right: 10px; top: 0px; display: inline-block; white-space: nowrap; color: rgb(0, 167, 234) ! important; }
.kapkey_requested { text-align: right ! important; color: rgb(127, 127, 127) ! important; cursor: default ! important; }
.ipt-account { position: absolute; color: rgb(0, 0, 0); font-size: 14px; height: 22px; line-height: 22px; }
.number { font-size: 16px; margin-bottom: 28px; width: 300px; text-align: center; }
.register-line { color: rgb(217, 217, 217); display: inline-block; border-width: 1px; border-style: solid solid solid none; border-color: rgb(218, 218, 218) rgb(218, 218, 218) rgb(218, 218, 218) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 16px; line-height: 20px; margin-right: 50px; margin-left: 50px; }
/* ::::: https://static.geetest.com/static/golden/style_https.3.0.23.css ::::: */

.gt_holder.popup .gt_popup_wrap, .gt_holder.popup .gt_popup_cross, .gt_holder .gt_holder_top, .gt_holder .gt_box_tips, .gt_holder.en .gt_box_tips, .gt_holder .gt_curtain_button, .gt_holder .gt_curtain_button.moving, .gt_holder .gt_curtain_button.success, .gt_holder .gt_curtain_button.fail, .gt_holder .gt_flash, .gt_holder .gt_ie_success, .gt_holder .gt_loading .gt_loading_icon, .gt_holder.en .gt_loading, .gt_holder .gt_info, .gt_holder .gt_info .success .gt_info_icon, .gt_holder .gt_info .fail .gt_info_icon, .gt_holder .gt_info .abuse .gt_info_icon, .gt_holder .gt_info .forbidden .gt_info_icon, .gt_holder .gt_info .error .gt_info_icon, .gt_holder .gt_bottom, .gt_holder.en .gt_bottom, .gt_holder .gt_refresh_button, .gt_holder .gt_refresh_button:hover, .gt_holder .gt_refresh_button .gt_refresh_tips, .gt_holder .gt_help_button, .gt_holder .gt_help_button:hover, .gt_holder .gt_help_button .gt_help_tips, .gt_holder .gt_ajax_tip, .gt_holder .gt_ajax_tip.success, .gt_holder .gt_ajax_tip.lock, .gt_holder .gt_ajax_tip.ready, .gt_holder .gt_ajax_tip.fail, .gt_holder .gt_ajax_tip.forbidden, .gt_holder .gt_ajax_tip.error, .gt_holder .gt_slider, .gt_holder .gt_slider_knob, .gt_holder .gt_slider_knob.moving, .gt_holder .gt_curtain_knob { background-repeat: no-repeat; background-image: url('sprite.3.0.23.png'); }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder.popup .gt_popup_wrap, .gt_holder.popup .gt_popup_cross, .gt_holder .gt_holder_top, .gt_holder .gt_box_tips, .gt_holder.en .gt_box_tips, .gt_holder .gt_curtain_button, .gt_holder .gt_curtain_button.moving, .gt_holder .gt_curtain_button.success, .gt_holder .gt_curtain_button.fail, .gt_holder .gt_flash, .gt_holder .gt_ie_success, .gt_holder .gt_loading .gt_loading_icon, .gt_holder.en .gt_loading, .gt_holder .gt_info, .gt_holder .gt_info .success .gt_info_icon, .gt_holder .gt_info .fail .gt_info_icon, .gt_holder .gt_info .abuse .gt_info_icon, .gt_holder .gt_info .forbidden .gt_info_icon, .gt_holder .gt_info .error .gt_info_icon, .gt_holder .gt_bottom, .gt_holder.en .gt_bottom, .gt_holder .gt_refresh_button, .gt_holder .gt_refresh_button:hover, .gt_holder .gt_refresh_button .gt_refresh_tips, .gt_holder .gt_help_button, .gt_holder .gt_help_button:hover, .gt_holder .gt_help_button .gt_help_tips, .gt_holder .gt_ajax_tip, .gt_holder .gt_ajax_tip.success, .gt_holder .gt_ajax_tip.lock, .gt_holder .gt_ajax_tip.ready, .gt_holder .gt_ajax_tip.fail, .gt_holder .gt_ajax_tip.forbidden, .gt_holder .gt_ajax_tip.error, .gt_holder .gt_slider, .gt_holder .gt_slider_knob, .gt_holder .gt_slider_knob.moving, .gt_holder .gt_curtain_knob { background-image: url('sprite2x.3.0.23.png'); background-size: 354px auto; }
}
.gt_box_holder, .gt_box, .gt_holder { box-sizing: content-box; }
.gt_holder { overflow: visible; position: relative; letter-spacing: 0px ! important; font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif ! important; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
.gt_holder a { text-decoration: none; background-color: transparent ! important; }
.gt_holder.float { width: 261px; }
.gt_holder.float .gt_slider { left: 0px; }
.gt_holder.float .gt_widget { position: absolute; left: 0px ! important; margin-left: -15px; bottom: 28px; display: none; opacity: 0; }
.gt_holder.float .gt_widget.gt_hide { display: none; opacity: 0; }
.gt_holder .gt_holder_top { height: 14px; width: 290px; background-position: 0px -1341px; position: relative; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_holder_top { background-position: 0px -1341px; }
}
.gt_holder .gt_box_holder { width: 260px; height: 116px; padding: 0px 15px 2px 13px; position: relative; background-color: rgb(242, 236, 225); border-left: 1px solid rgb(228, 221, 209); border-right: 1px solid rgb(228, 221, 209); }
.gt_holder .gt_box { border: 1px solid rgb(226, 215, 199); height: 100%; width: 260px; overflow: hidden; background-color: rgb(252, 251, 248); text-align: center; position: relative; }
.gt_holder .gt_box:hover .gt_box_tips { display: block; }
.gt_holder .gt_box_tips { height: 16px; width: 73px; background-position: 0px -821px; display: none; position: absolute; right: 0px; bottom: 0px; opacity: 0.7; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_box_tips { background-position: 0px -821px; }
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
.gt_holder a.gt_bg { position: absolute; display: inline-block; width: 100%; height: 100%; left: 0px; top: 0px; margin: 0px ! important; }
.gt_holder a.gt_bg.gt_show { opacity: 1; }
.gt_holder .gt_slice { position: absolute; display: inline-block; left: 0px; background-repeat: no-repeat; width: 60px; height: 60px; }
.gt_holder .gt_slice.gt_show { opacity: 1; }
.gt_holder a.gt_fullbg { position: absolute; display: block; width: 260px; height: 100%; left: 0px; top: 0px; margin: 0px ! important; }
.gt_holder a.gt_fullbg.gt_show { opacity: 1; }
.gt_holder .gt_cut_fullbg, .gt_holder .gt_cut_bg, .gt_holder .gt_cut_curtain { height: 100%; }
.gt_holder .gt_cut_fullbg_slice, .gt_holder .gt_cut_bg_slice, .gt_holder .gt_cut_curtain_slice { float: left; width: 10px; height: 50%; margin: 0px ! important; }
.gt_holder a.gt_curtain { position: absolute; height: 100%; width: 100%; margin: 0px ! important; left: 0px; visibility: hidden; transform: translate(100%, 0px); display: inline-block; }
.gt_holder .gt_curtain_bg_wrap { overflow: hidden; position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; display: inline-block; }
.gt_holder .gt_curtain_bg, .gt_holder .gt_cut_curtain { position: absolute; right: 0px; top: 0px; height: 100%; width: 260px; display: inline-block; }
.gt_holder .gt_cut_curtain { left: 0px ! important; }
.gt_holder .gt_curtain_button { position: absolute; display: inline-block; margin-top: -22px; margin-left: -22px; cursor: pointer; opacity: 0; height: 44px; width: 44px; background-position: 0px -84px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_curtain_button { background-position: 0px -84px; }
}
.gt_holder .gt_curtain_button.gt_hide { opacity: 0; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
.gt_holder .gt_flash { height: 116px; width: 272px; background-position: 0px -440px; position: absolute; left: 100%; top: 0px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_flash { background-position: 0px -440px; }
}
.gt_holder .gt_ie_success { width: 64px; background-position: 0px -610px; display: none; position: absolute; left: 196px; top: 0px; height: 64px ! important; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_ie_success { background-position: 0px -610px; }
}
.gt_holder .gt_loading { width: 100%; height: 100%; }
.gt_holder .gt_loading .gt_loading_icon { height: 37px; width: 52px; background-position: 0px -696px; margin: 25px auto 10px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_loading .gt_loading_icon { background-position: 0px -696px; }
}
.gt_holder .gt_loading .gt_loading_text { text-align: center; color: rgb(183, 170, 150); }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
.gt_holder .gt_info { width: 260px; background-position: 0px -674px; height: 0px; overflow: hidden; position: absolute; bottom: 1px; margin-left: 1px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_info { background-position: 0px -674px; }
}
.gt_holder .gt_info .gt_info_icon { width: 26px ! important; float: left; }
.gt_holder .gt_info .gt_info_tip { font-size: 12px ! important; line-height: 22px ! important; margin: 0px auto; position: relative; }
.gt_holder .gt_info .gt_info_text { text-align: left ! important; color: rgb(75, 63, 51); }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
.gt_holder .gt_bottom { height: 28px; width: 290px; background-position: 0px -56px; line-height: 14px ! important; position: relative; text-align: left; overflow: visible; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_bottom { background-position: 0px -56px; }
}
.gt_holder .gt_bottom a { overflow: visible; display: inline-block; vertical-align: bottom; cursor: pointer; margin-right: 16px ! important; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
.gt_holder .gt_refresh_button { background-color: rgb(241, 233, 222); margin: 6px 0px 0px 18px ! important; height: 14px; width: 14px; background-position: 0px -1179px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_refresh_button { background-position: 0px -1179px; }
}
.gt_holder .gt_refresh_button:hover { height: 14px; width: 14px; background-position: 0px -1193px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_refresh_button:hover { background-position: 0px -1193px; }
}
.gt_holder .gt_refresh_button:hover .gt_refresh_tips { display: block; }
.gt_holder .gt_refresh_button .gt_refresh_tips { display: none; height: 24px; width: 58px; background-position: 0px -1317px; position: relative; left: -10px; top: -28px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_refresh_button .gt_refresh_tips { background-position: 0px -1317px; }
}
.gt_holder .gt_help_button { background-color: rgb(241, 233, 222); position: relative; height: 14px; width: 14px; background-position: 0px -582px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_help_button { background-position: 0px -582px; }
}
.gt_holder .gt_help_button:hover { height: 14px; width: 14px; background-position: 0px -596px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_help_button:hover { background-position: 0px -596px; }
}
.gt_holder .gt_help_button:hover .gt_help_tips { display: block; }
.gt_holder .gt_help_button .gt_help_tips { display: none; height: 24px; width: 58px; background-position: 0px -1317px; position: absolute; left: -10px; top: -28px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_help_button .gt_help_tips { background-position: 0px -1317px; }
}
.gt_holder .gt_refresh_tips, .gt_holder .gt_help_button { text-align: center ! important; color: white ! important; font: 12px/20px Helvetica,SimSun,monospace ! important; }
.gt_holder .gt_logo_button { width: 65px; height: 16px; position: absolute; right: 0px; top: 6px; background-color: transparent; }
.gt_holder .gt_logo_button.no_logo { background-color: rgb(242, 236, 225) ! important; cursor: default; }
.gt_holder .gt_ajax_tip { height: 26px; width: 26px; background-position: 0px -1153px; position: absolute; right: -35px; top: 2px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_ajax_tip { background-position: 0px -1153px; }
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
.gt_holder .gt_ajax_tip.ready { height: 26px; width: 26px; background-position: 0px -1153px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_ajax_tip.ready { background-position: 0px -1153px; }
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
.gt_holder .gt_slider { height: 28px; width: 261px; background-position: 0px 0px; position: relative; left: 15px; overflow: visible; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_slider { background-position: 0px 0px; }
}
.gt_holder .gt_slider_knob { height: 44px; width: 44px; background-position: 0px -84px; cursor: pointer; display: block; position: absolute; left: 6px; top: -9px; box-shadow: none; border-radius: 13px; z-index: 399; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_slider_knob { background-position: 0px -84px; }
}
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
}
.gt_holder .gt_guide_tip { cursor: default; position: absolute; left: 40px; font-size: 12px ! important; color: rgb(72, 108, 128); opacity: 1; height: 28px; line-height: 28px ! important; text-align: center; width: 220px; }
.gt_holder .gt_curtain_knob { height: 28px; width: 260px; background-position: 0px -360px; }
@media not all, not all, (min-resolution: 192dpi), (min-resolution: 1.5dppx) {
	.gt_holder .gt_curtain_knob { background-position: 0px -360px; }
}
.gt_holder .gt_curtain_tip, .gt_holder .gt_curtain_knob { cursor: default; position: absolute; left: 0px; width: 100%; text-align: center; font-size: 12px ! important; color: rgb(182, 169, 152); opacity: 1; height: 28px; line-height: 28px ! important; }
.gt_holder .gt_curtain_tip.gt_hide, .gt_holder .gt_curtain_knob.gt_hide { opacity: 0; visibility: hidden; }
.gt_holder .gt_input { display: none; }
