/* ::::: http://store.res.meizu.com/resources/php/store/static/common/pkg/site-base.css?_dv=2016906 ::::: */

audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
body { font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体"; font-size: 14px; }
img { vertical-align: top; }
h1, h2, h3, h4, h5, h6, ul, ol, dl, dt, dd, p { margin: 0px; padding: 0px; list-style: outside none none; font-weight: 400; }
a { text-decoration: none; outline: 0px none; }
a:focus { outline: 0px none; }
.mzcontainer { width: 1240px; margin: 0px auto; }
.mzcontainer::before, .mzcontainer::after, .clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix {  }
.clearfix::after { content: " "; clear: both; height: 0px; visibility: hidden; display: block; }
.site-topbar { background: rgb(250, 250, 252) none repeat scroll 0% 0%; position: relative; z-index: 200; }
.topbar-nav { float: left; }
.topbar-nav a, .topbar-link { padding: 12px 0px; color: rgb(102, 102, 102); font-size: 12px; margin-right: 40px; display: inline-block; text-decoration: none; transition: color 0.2s linear 0s; }
.topbar-info { float: right; }
.topbar-info li a { margin-right: 0px; padding-left: 20px; padding-right: 20px; }
.topbar-nav a:hover, .topbar-link:hover { color: rgb(0, 195, 245); }
.topbar-right { position: relative; float: right; min-width: 500px; }
.topbar-info li { float: left; }
.topbar-info-msg { position: relative; display: none; }
.topbar-order-msg { position: relative; }
.msg-tag { position: absolute; left: 42px; top: 10px; height: 6px; width: 6px; background: rgb(247, 61, 61) none repeat scroll 0% 0%; border-radius: 50%; display: none; }
.topbar-order-msg .msg-tag { left: 65px; }
.topbar-info-member { position: relative; z-index: 50; height: 40px; }
.topbar-info-member .topbar-link { padding: 11px 20px 12px; border-width: 0px 1px; border-style: none solid; border-color: -moz-use-text-color transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; min-width: 60px; }
.topbar-info-member:hover .topbar-link { border-color: rgb(204, 204, 204); }
.site-member-items { display: none; background-color: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(204, 204, 204) rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.topbar-info-member:hover { background-color: rgb(255, 255, 255); }
.topbar-info-member:hover .site-member-items { display: block; }
.topbar-info-member::after, .topbar-info-member::after { display: inline-block; content: " "; position: absolute; top: 20px; margin-top: -2px; right: 6px; width: 7px; height: 4px; background: transparent url('down.png') no-repeat scroll center center; }
.topbar-info-member:hover::after { background-image: url('up.png'); }
.site-member-link { display: block; line-height: 35px; font-size: 12px; color: rgb(102, 102, 102); }
.site-member-link:hover { background: rgb(250, 250, 252) none repeat scroll 0% 0%; }
.site-logout { text-align: center; border-top: 1px solid rgb(239, 239, 239); }
.site-member-name { text-overflow: ellipsis; display: inline-block; max-width: 72px; overflow-x: hidden; white-space: nowrap; vertical-align: bottom; }
.topbar-info-pop { position: relative; float: right; margin-top: 41px; margin-right: -70px; width: 300px; }
#MzMsgPop { position: absolute; right: 0px; top: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(201, 201, 201); padding: 4px 26px 4px 6px; z-index: 999; width: auto; }
#MzMsgPop .triangle { position: absolute; right: 30px; top: -8px; width: 0px; height: 0px; border-left: 6px solid transparent; border-bottom: 8px solid rgb(201, 201, 201); border-right: 6px solid transparent; }
#MzMsgPop .triangle::after { position: absolute; left: -6px; top: 2px; content: ""; width: 0px; height: 0px; border-left: 6px solid transparent; border-bottom: 8px solid rgb(255, 255, 255); border-right: 6px solid transparent; }
#MzMsgPop .title { display: block; overflow: hidden; max-width: 200px; max-height: 30px; word-break: break-all; word-wrap: break-word; text-overflow: ellipsis; text-align: left; color: rgb(102, 102, 102); line-height: 15px; font-size: 12px; margin: 0px; padding: 0px; cursor: pointer; transition: all 0.8s ease 0s; }
#MzMsgPop .title:hover { color: rgb(0, 195, 245); }
#MzMsgPop .close { position: absolute; right: 8px; top: 50%; margin-top: -7px; cursor: pointer; }
#MzMsgPop .close::after { cursor: pointer; display: block; border-radius: 100%; width: 14px; height: 14px; font-size: 14px; content: "×"; color: rgb(172, 172, 172); text-align: center; line-height: 12px; transition: all 0.5s ease 0s; padding-left: 1px; }
#MzMsgPop .close:hover::after { background: rgb(224, 224, 224) none repeat scroll 0% 0%; }
.topbar-new { position: relative; display: inline-block; vertical-align: middle; color: rgb(255, 255, 255); background-color: rgb(237, 68, 98); font-size: 12px; margin-left: 5px; height: 13px; line-height: 10px; padding: 0px 2px; top: -1px; border-radius: 2px; }
.topbar-new::before { position: absolute; left: -4px; top: 2px; display: inline-block; content: ""; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-right: 6px solid rgb(237, 68, 98); width: 0px; height: 0px; }
.site-header { height: 80px; border-bottom: 1px solid rgb(239, 239, 239); position: relative; z-index: 150; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.header-logo { float: left; padding: 30px 0px; }
.header-logo img { display: block; }
.header-nav { float: left; margin-left: 124px; height: 80px; }
.nav-list { height: 100%; }
.nav-list .nav-item { float: left; cursor: pointer; position: relative; z-index: 10; }
.nav-item-link { color: rgb(51, 51, 51); font-size: 16px; padding: 30px 18px 0px; display: block; transition: color 0.2s linear 0s; }
.nav-item:hover .nav-item-link { color: rgb(0, 195, 245); }
.nav-item-children { display: none; }
.header-nav-menu { position: absolute; top: 81px; left: 0px; z-index: 30; width: 100%; background-color: rgba(255, 255, 255, 0.95); border-bottom: 1px solid rgb(243, 243, 243); display: none; }
.header-cart { display: none; float: right; margin-top: 20px; position: relative; }
.header-cart-wrap { line-height: 38px; border: 1px solid rgb(204, 204, 204); border-radius: 4px; padding: 0px 18px; color: rgb(51, 51, 51); font-size: 14px; position: relative; }
.header-cart-icon { display: inline-block; height: 20px; width: 20px; background: transparent url('cart-icon.png') no-repeat scroll 0% 0%; vertical-align: middle; margin-right: 3px; margin-top: -2px; }
.header-cart-detail { display: none; position: absolute; z-index: 40; right: 0px; top: 38px; width: 350px; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.header-cart-spacer { display: none; width: 100%; height: 10px; position: absolute; top: 36px; left: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 50; }
.header-cart-empty { height: 50px; line-height: 50px; padding: 15px 0px; text-align: center; font-size: 12px; color: rgb(51, 51, 51); }
.menu-product-list { padding: 0px 50px; }
.menu-product-figure { text-align: center; }
.menu-product-item img { height: 126px; width: 126px; }
.menu-product-item { float: left; padding: 18px 14px; width: 162px; }
.menu-product-name { color: rgb(51, 51, 51); font-size: 12px; text-align: center; }
.menu-product-price { color: rgb(224, 43, 65); font-size: 12px; text-align: center; margin-top: 2px; }
.menu-product-price span.originPrice { text-decoration: line-through; font-size: 12px; color: rgb(153, 153, 153); margin-right: 3px; }
.menu-product-price span { font-size: 16px; }
.menu-product-more { float: left; padding-top: 23px; }
.menu-more-links { height: 126px; border-left: 1px solid rgb(239, 239, 239); padding: 0px 0px 14px 20px; }
.menu-more-links li { margin-top: 2px; }
.menu-more-links a { color: rgb(51, 51, 51); font-size: 12px; margin-bottom: 2px; }
.menu-more-links a:hover { color: rgb(0, 195, 245); }
.menu-more-img { display: inline-block; vertical-align: middle; margin-right: 10px; width: 28px; height: 28px; }
.site-footer { background-color: rgb(250, 250, 252); }
.site-footer-service { padding: 38px 8px 26px; border-bottom: 1px solid rgb(229, 229, 229); }
.site-footer-service li { float: left; }
.service-item { width: 203px; text-align: center; }
.service-icon { display: inline-block; height: 36px; width: 94px; background: transparent none no-repeat scroll 50% 50%; margin-bottom: 12px; }
.service-icon-seven { background-image: url('7.png'); }
.service-icon-fifty { background-image: url('15.png'); }
.service-icon-one { background-image: url('1.png'); }
.service-icon-by { background-image: url('baoyou.png'); }
.service-icon-speed { background-image: url('speed.png'); }
.service-icon-map { background-image: url('map.png'); }
.service-desc-bold, .service-desc-normal { color: rgb(102, 102, 102); font-weight: 700; font-size: 14px; }
.service-desc-normal { font-weight: 400; }
.service-split-line { padding-top: 10px; }
.service-split-line span { display: inline-block; height: 44px; width: 1px; background-color: rgb(229, 229, 229); }
.site-footer-navs { padding: 30px 0px; margin-right: -10px; }
.footer-nav-custom, .footer-nav-item { float: left; width: 244px; text-align: center; margin-right: 5px; }
.footer-nav-title { font-size: 14px; color: rgb(51, 51, 51); margin-bottom: 10px; }
.footer-nav-item li { line-height: 22px; }
.footer-nav-item li a { font-size: 12px; color: rgb(102, 102, 102); transition: color 0.2s linear 0s; }
.footer-nav-item li a:hover { color: rgb(0, 195, 245); }
.nav-custom-title { font-size: 14px; color: rgb(102, 102, 102); }
.nav-custom-number { color: rgb(31, 167, 234); font-size: 24px; margin: 20px 0px 14px; }
.nav-custom-btn { display: inline-block; width: 160px; height: 34px; line-height: 34px; text-align: center; text-decoration: none; color: rgb(255, 255, 255); background-color: rgb(31, 167, 234); border-radius: 2px; font-size: 12px; transition: all 0.2s linear 0s; }
.nav-custom-btn img { vertical-align: middle; }
.nav-custom-btn:hover { background-color: rgb(77, 207, 246); }
.site-footer-end { border-top: 1px solid rgb(229, 229, 229); padding: 38px 0px 56px; text-align: center; color: rgb(102, 102, 102); font-size: 12px; }
.site-footer-end a { margin-left: 10px; color: rgb(102, 102, 102); }
.site-footer-end a img { vertical-align: middle; }
.meizu-footer-wechat { position: relative; }
.meizu-footer-wechat img { position: absolute; z-index: 999; width: 249px; top: -190px; left: 32px; display: none; }
.meizu-footer-wechat:hover img { display: block; }
/* ::::: http://store.res.meizu.com/resources/php/store/static/member/style/aio.css?v=?20160411 ::::: */

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th, figcaption { font-size: 14px; font-weight: 400; font-style: normal; }
table { border-collapse: collapse; border-spacing: 0px; }
html { background-color: rgb(255, 255, 255); }
body { font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体"; font-size: 14px; min-width: 1080px; }
ol, ul, li { list-style: outside none none; }
i { font-style: normal; }
.f-fr { float: right ! important; }
.f-fl { float: left ! important; }
.clearfix::after { display: block; clear: both; height: 0px; content: ""; }
.clearfix {  }
.b-b { border-bottom: 1px solid rgb(239, 239, 239) ! important; }
.b-r { border-right: 1px solid rgb(239, 239, 239) ! important; }
.b-l { border-left: 1px solid rgb(239, 239, 239) ! important; }
.ml { margin-left: 20px ! important; }
input:-moz-placeholder { color: rgb(219, 219, 219); }
​ html, body, div, ul, li, h1 { margin: 0px; padding: 0px; }
a { text-decoration: none; color: rgb(81, 81, 81); }
ul, li { list-style: outside none none; }
body { font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体"; font-size: 14px; color: rgb(81, 81, 81); }
.iconfont { font-family: iconfont ! important; font-size: 16px; font-style: normal; font-weight: 400; }
.icon-orderCenter::before { content: ""; }
.icon-fanyejiantou::before { content: ""; }
.icon-serverCenter::before { content: ""; }
.icon-selfCenter::before { content: ""; }
.icon-arrow-down::before { content: ""; }
.icon-moneyCenter::before { content: ""; }
.icon-fanyejiantou2::before { content: ""; }
.icon-close::before { content: ""; }
.icon-default::before { content: ""; }
.icon-more::before { content: ""; }
.icon-arrow-left::before { content: ""; }
.icon-arrow-right::before { content: ""; }
.icon-waitingDeliver::before { content: ""; }
.icon-waitingPay::before { content: ""; }
.icon-back-01::before { content: ""; }
.icon-back-02::before { content: ""; }
.icon-back-03::before { content: ""; }
.icon-back-04::before { content: ""; }
.icon-back-05::before { content: ""; }
.icon-address-arrow::before { content: ""; }
.icon-meilan::before { content: ""; }
.icon-mx::before { content: ""; }
.icon-pro::before { content: ""; }
.icon-zhuyi::before { content: ""; }
.icon-backDetail-01::before { content: ""; }
.icon-backDetail-02::before { content: ""; }
.icon-backDetail-03::before { content: ""; }
.icon-pagingL::before { content: ""; }
.icon-pagingR::before { content: ""; }
.icon-question::before { content: ""; }
.icon-delivering::before { content: ""; }
.icon-speedr::before { content: ""; }
.icon-addcombo::before { content: ""; }
.icon-delete::before { content: ""; }
.icon-addcombo::before { content: ""; }
.icon-couponCard::before { content: ""; }
.icon-senvenDay::before { content: ""; }
.icon-fifteenDay::before { content: ""; }
.icon-checkOk::before { content: ""; }
.icon-arrowScalRight::before { content: ""; }
@font-face {
	font-family: "title-font";
	src: url('webfont.eot');
}
@font-face {
	font-family: "buy-font";
	src: url('webfont_001.eot');
}
.store-wrap { width: 1240px; margin: 0px auto; padding: 0px 20px; }
.crumbs { margin: 10px 0px 24px; width: 100%; }
.crumbs a { display: inline-block; text-decoration: none; color: rgb(81, 81, 81); }
.crumbs .active { color: rgb(0, 195, 245); }
#tableList { min-height: 300px; }
.main { margin-bottom: 40px; }
.main .left-nav { font-size: 14px; color: rgb(81, 81, 81); width: 15%; min-height: 580px; }
.main .left-nav a { display: block; color: rgb(81, 81, 81); text-decoration: none; line-height: 34px; width: 85px; }
.main .left-nav .active { color: rgb(0, 195, 245) ! important; }
.main .left-nav .type-title { line-height: 56px; font-weight: bolder; cursor: default; }
.main .left-nav .type-title:hover { color: rgb(81, 81, 81); }
.main .left-nav .type-title .iconfont { padding-right: 5px; }
.main .left-nav .type-title:first-child { line-height: 14px; padding: 15px 0px 20px; }
.main .nav-main { margin-top: 10px; background: rgb(250, 250, 252) none repeat scroll 0% 0%; padding: 0px 0px 54px 20px; }
.main .nav-main a:hover { color: rgb(0, 195, 245); }
.right-content { width: 83%; display: inline-block; }
.type-tab-btn { height: 41px; margin-top: 20px; border-bottom: 1px solid rgb(238, 238, 238); }
.type-tab-btn .line { color: rgb(238, 238, 238); font-size: 12px; display: inline-block; }
.type-tab-btn a { text-decoration: none; color: rgb(81, 81, 81); display: inline-block; line-height: 30px; width: 100px; text-align: center; padding-bottom: 10px; font-size: 18px; font-weight: 700; margin: 0px 20px; }
.type-tab-btn a .amount { display: inline-block; background: rgb(245, 99, 19) none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 0px 2px; line-height: 12px; font-size: 12px; border-radius: 3px; position: absolute; margin-left: 2px; font-weight: 400; }
.type-tab-btn a:hover { color: rgb(0, 195, 245); border-bottom: 2px solid rgb(0, 195, 245); }
.type-tab-btn .active { color: rgb(0, 195, 245); border-bottom: 2px solid rgb(0, 195, 245); }
.info-main .type-contain .info-list .splitTime::after { content: ""; width: 6px; display: block; height: 6px; border-radius: 6px; border: 1px solid rgb(224, 224, 224); position: absolute; margin: -12px 0px 0px 60px; z-index: 1; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.order-main { width: 100%; color: rgb(81, 81, 81); }
.order-main .orderSearch { display: block; position: absolute; font-size: 14px; color: rgb(81, 81, 81); text-align: right; margin: 7px 0px 0px 811px; text-decoration: none; }
.order-main .orderSearch:hover { color: rgb(0, 195, 245); }
.order-main .list-head { width: 100%; background: rgb(250, 250, 252) none repeat scroll 0% 0%; line-height: 40px; margin: 20px 0px; }
.order-main .list-head ul .w50 { width: 50%; }
.order-main .list-head ul .w125 { width: 12.5%; }
.order-main .list-head ul li { text-align: center; float: left; }
.order-main .orderItem { width: 100%; }
.order-main .orderItem tr { display: block; width: 100%; }
.order-main .orderItem tr.empty { height: 20px; }
.order-main .orderItem tr.empty td { height: 20px; }
.order-main .orderItem tr td { position: relative; }
.order-main .orderItem tr td .content { display: block; font-size: 12px; position: absolute; width: 210px; background-color: rgb(255, 255, 255); z-index: 1; padding: 15px; text-align: left; margin-left: -242px; margin-top: -85px; box-shadow: 0px 0px 26px 1px rgb(221, 221, 221); border: 1px solid rgb(239, 239, 239); }
.order-main .orderItem tr.trHead { border: 1px solid rgb(243, 243, 243); }
.order-main .orderItem tr .state .stateDiv { position: absolute; top: 35px; text-align: center; width: 100%; }
.order-main .orderItem tr .opreat ul { position: absolute; top: 34px; left: 31px; }
.order-main .orderItem tr .opreat a { display: inline-block; text-decoration: none; color: rgb(81, 81, 81); }
.order-main .orderItem tr .price { font-weight: 700; }
.order-main .orderItem tr .price .priceDiv { position: absolute; top: 35px; width: 100%; margin: 0px auto; }
.order-main .orderItem tr .vertic { display: table-cell; height: 142px; }
.order-main .orderItem tr ul li { margin: 0px auto 5px; cursor: pointer; }
.order-main .orderItem tr ul li.goPay { width: 70px; height: 24px; background: rgb(237, 80, 63) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-align: center; line-height: 24px; border-radius: 4px; }
.order-main .orderItem tr ul li.goPay a { color: rgb(255, 255, 255); }
.order-main .orderItem .center { text-align: center; }
.order-main .orderItem .title { background: rgb(250, 250, 252) none repeat scroll 0% 0%; line-height: 40px; color: rgb(189, 189, 189); padding-left: 30px; display: block; }
.order-main .orderItem .title span { color: rgb(81, 81, 81); margin-right: 45px; }
.order-main .orderItem .list { width: 640px; }
.order-main .orderItem .list .item { position: relative; width: 640px; border-top: 1px solid rgb(243, 243, 243); }
.order-main .orderItem .list .item:first-child { border: 0px none; }
.order-main .orderItem .list img { width: 102px; height: 102px; margin: 15px 25px; }
.order-main .orderItem .list .describe { display: table; width: 348px; height: 142px; }
.order-main .orderItem .list .describe .nameWidth { display: block; width: 348px; margin-right: 20px; overflow-x: hidden; word-wrap: break-word; }
.order-main .orderItem .list .describe span { display: inline-block; text-align: left; width: 348px; }
.order-main .orderItem .list .describe span:first-child { margin: 35px auto 10px; }
.order-main .orderItem .list .seeDeliverBox .content { display: none; z-index: 9999; margin: 15px 629px; width: 320px; line-height: 20px; padding: 0px; min-height: 100px; }
.order-main .orderItem .w125 { width: 12.5%; }
.backCouponDetail-main .process .line i.con1::before { content: "1"; }
.backCouponDetail-main .process .line i.con2::before { content: "2"; }
.backCouponDetail-main .process .line i.con3::before { content: "3"; }
.backCouponDetail-main .process .line i.con4::before { content: "4"; }
.backCouponDetail-main .process .line i.active::before { background: rgb(0, 195, 245) none repeat scroll 0% 0%; }
.backCouponDetail-main .process .line i::before { display: inline-block; width: 50px; height: 50px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; border-radius: 25px; position: absolute; margin: -25px -50px; text-align: center; line-height: 50px; font-size: 22px; color: rgb(255, 255, 255); }
@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot') format("embedded-opentype"), url('iconfont.woff') format("woff"), url('iconfont.ttf') format("truetype"), url('iconfont.svg') format("svg");
}
.iconfont { font-family: iconfont ! important; font-size: 16px; font-style: normal; font-weight: 400; }
.icon-orderCenter::before { content: ""; }
.icon-fanyejiantou::before { content: ""; }
.icon-serverCenter::before { content: ""; }
.icon-selfCenter::before { content: ""; }
.icon-arrow-down::before { content: ""; }
.icon-moneyCenter::before { content: ""; }
.icon-fanyejiantou2::before { content: ""; }
.icon-close::before { content: ""; }
.icon-default::before { content: ""; }
.icon-more::before { content: ""; }
.icon-arrow-left::before { content: ""; }
.icon-arrow-right::before { content: ""; }
.icon-waitingDeliver::before { content: ""; }
.icon-waitingPay::before { content: ""; }
.icon-back-01::before { content: ""; }
.icon-back-02::before { content: ""; }
.icon-back-03::before { content: ""; }
.icon-back-04::before { content: ""; }
.icon-back-05::before { content: ""; }
.icon-address-arrow::before { content: ""; }
.icon-meilan::before { content: ""; }
.icon-mx::before { content: ""; }
.icon-pro::before { content: ""; }
.icon-zhuyi::before { content: ""; }
.icon-backDetail-01::before { content: ""; }
.icon-backDetail-02::before { content: ""; }
.icon-backDetail-03::before { content: ""; }
.icon-pagingL::before { content: ""; }
.icon-pagingR::before { content: ""; }
.icon-question::before { content: ""; }
.icon-delivering::before { content: ""; }
.icon-speedr::before { content: ""; }
.icon-addcombo::before { content: ""; }
.icon-delete::before { content: ""; }
.icon-addcombo::before { content: ""; }
.icon-couponCard::before { content: ""; }
.icon-senvenDay::before { content: ""; }
.icon-fifteenDay::before { content: ""; }
.icon-checkOk::before { content: ""; }
@font-face {
	font-family: "title-font";
	src: url('webfont_002.eot') format("embedded-opentype"), url('webfont.woff') format("woff"), url('webfont.ttf') format("truetype"), url('webfont.svg') format("svg");
}
@font-face {
	font-family: "buy-font";
	src: url('webfont_003.eot') format("embedded-opentype"), url('webfont_001.woff') format("woff"), url('webfont_001.ttf') format("truetype"), url('webfont_001.svg') format("svg");
}
