/* ::::: https://uc-res.meizu.com/resources/uc/web/base/css/base.css?ver=20140707 ::::: */

html { height: 1%; }
body { background: white none repeat scroll 0% 0%; font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif; font-size: 14px; color: rgb(81, 81, 81); margin: 0px; padding: 0px; }
body input, body textarea { font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif; background-color: white; outline: medium none; }
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span, dl, ul, li { margin: 0px; padding: 0px; border: 0px none; list-style: outside none none; }
a { color: rgb(81, 81, 81); text-decoration: none; }
a:hover { color: rgb(0, 0, 0); text-decoration: none; }
a:focus { outline: medium none; }
.flymeContent { width: 1000px; }
.i_icon { display: inline-block; width: 100%; height: 100%; overflow: hidden; }
.footerWrap { position: absolute; bottom: 0px; width: 100%; height: 130px; border-top: 1px solid rgb(229, 230, 231); background-color: rgb(255, 255, 255); color: black; }
.footerInner { width: 1000px; margin: 24px auto 30px; }
.footer-layer1 { height: 50px; line-height: 50px; overflow: hidden; }
.footer-layer1 a:link { color: black; }
.service-label { margin-right: 10px; }
.service-num { margin-right: 20px; }
#service-online { display: inline-block; height: 20px; line-height: 18px; width: 64px; color: white; background-color: rgb(50, 165, 231); border-radius: 2px; text-align: center; }
.service-online:hover { color: white; }
.footer-language { position: relative; overflow: hidden; cursor: default; background: transparent url('base.png') no-repeat scroll -80px -150px; }
.footer-outerLink a { margin-left: 10px; display: inline-block; overflow: hidden; width: 32px; height: 32px; }
.footer-innerLink, .footer-outerLink { float: left; }
.footer-service { float: left; margin-left: 36px; }
.footer-innerLink {  }
.footer-outerLink { position: relative; float: right; padding-top: 9px; }
.foot-line { background-color: rgb(136, 136, 136); margin: 0px 5px; width: 1px; height: 10px; }
.footer-outerLink i { background: transparent url('base.png') no-repeat scroll 0% 0%; }
.footer-sinaMblog i { background-position: -218px -91px; }
.footer-weChat i { background-position: -302px -91px; }
.footer-qzone i { background-position: -344px -91px; }
.footer-outerLink a { cursor: pointer; }
.footer-sinaMblog:hover i { background-position: -218px -137px; }
.footer-weChat:hover i { background-position: -302px -137px; }
.footer-qzone:hover i { background-position: -344px -137px; }
.copyrightInner a, .copyrightInner span { font-size: 12px; }
#wechatPic { position: absolute; z-index: 1000; width: 310px; height: 270px; background: transparent url('weixin.png') no-repeat scroll 0% 0%; display: none; }
div.footer-language_menu { box-shadow: 0px 0px 10px rgb(225, 228, 232); border-radius: 2px; background-color: rgb(254, 254, 254); position: absolute; border: 1px solid rgb(225, 228, 232); display: none; overflow: hidden; }
.footer-language_menu { bottom: 90px; width: 70px; height: 40px; z-index: 2000; }
.footer-language_menu a { display: block; height: 40px; line-height: 40px; width: 118px; margin: 0px auto; text-decoration: none; border-bottom: 1px solid rgb(228, 231, 233); font-size: 14px; color: rgb(0, 0, 0); text-align: left; padding-left: 10px; outline: medium none; }
.footer-language_menu a.ClobalItem:link { color: rgb(0, 0, 0); }
.footer-language_menu a.ClobalItem:visited { color: rgb(0, 0, 0); }
.footer-language_menu a.ClobalItem:hover { color: rgb(81, 81, 81); }
.copyrightWrap { width: 100%; }
.copyrightInner { width: 1000px; margin: 0px auto; }
.copyrightInner span { color: rgb(127, 127, 127); float: left; }
.copyrightInner a { white-space: nowrap; float: left; color: rgb(127, 127, 127); margin-left: 6px; }
.fleft { float: left; }
.clear { content: ""; clear: both; display: block; height: 0px; overflow: hidden; }
.blue { color: rgb(50, 165, 231); }
.noselect { -moz-user-select: none; }
.bold { font-weight: bold; }
.pointer { cursor: pointer; }
.grayBorderB { border-bottom: 1px solid rgb(242, 242, 242); }
.grayBorderT { border-top: 1px solid rgb(242, 242, 242); }
a.linkABlue:link, a.linkABlue:visited { color: rgb(0, 167, 234); }
a.linkABlue:hover { color: rgb(0, 142, 199); }
a.invalidBtn:link, a.invalidBtn:visited { color: rgb(127, 127, 127); cursor: default; }
a.invalidBtn:hover { color: rgb(127, 127, 127); }
a.linkAGray:link, a.linkAGray:visited { color: rgb(127, 127, 127); }
a.linkAGray:hover { color: rgb(43, 43, 43); }
a.fullBtnBlue:hover { background-color: rgb(43, 140, 197); color: rgb(255, 255, 255); }
a.fullBtnBlue { display: inline-block; height: 50px; width: 342px; font-size: 20px; line-height: 50px; text-align: center; margin-bottom: 20px; outline: medium none; cursor: pointer; background-color: rgb(50, 165, 231); color: rgb(255, 255, 255); }
a.fullBtnGray { display: inline-block; width: 156px; height: 50px; line-height: 50px; font-size: 20px; text-align: center; outline: medium none; cursor: pointer; background-color: rgb(217, 217, 217); color: rgb(255, 255, 255); }
a.fullBtnGray:hover { background-color: rgb(195, 195, 195); color: rgb(255, 255, 255); }
.normalInput { position: relative; display: inline-block; padding: 0px 10px; width: 320px; height: 50px; line-height: 50px; font-size: 16px; margin-bottom: 20px; border: 1px solid rgb(218, 218, 218); outline: medium none; color: rgb(71, 71, 71); overflow: hidden; }
div.normalInput { overflow: visible; }
.normalInput input { font-size: 16px; width: 100%; height: 50px; line-height: 50px; }
.grayTip { color: rgb(127, 127, 127); }
.flymeContent { width: 1000px; margin: 0px auto; overflow: hidden; background: transparent none repeat scroll 0% 0%; position: relative; }
#mail { width: 340px; border: 1px solid silver; position: absolute; z-index: 10; }
#mail .item { background-color: rgb(255, 255, 255); color: rgb(81, 81, 81); cursor: pointer; height: 22px; line-height: 22px; letter-spacing: 1px; font-size: 13px; padding-left: 5px; }
.boxShadow10 { box-shadow: 0px 0px 15px rgb(20, 20, 20); }
.bRadius2 { border-radius: 2px; outline: medium none; }
@media screen and (max-width: 980px) {
	body { width: 1080px; }
}
input:-moz-placeholder { color: rgb(144, 144, 144); }
*::-moz-placeholder { color: rgb(144, 144, 144); }
/* ::::: https://uc-res.meizu.com/resources/uc/web/base/css/head.css?ver=20140707 ::::: */

.headWrap { position: relative; height: 70px; width: 1000px; margin: 0px auto; overflow: hidden; clear: both; font-size: 14px; padding-bottom: 30px; background-color: white; }
.headLogo { margin-top: 38px; float: left; margin-right: 65px; display: block; width: 112px; height: 45px; border: medium none; overflow: hidden; }
.i_icon { display: inline-block; width: 100%; height: 100%; overflow: hidden; }
.headLogo i, .headLeft i { background: transparent url('base.png') no-repeat scroll -2px 0px; }
.headLeft { margin-top: 39px; float: left; z-index: 2; width: 580px; height: 26px; overflow: hidden; }
.headLeft li { float: left; height: 24px; position: relative; margin-right: 50px; }
.headLeft a { display: block; width: 100%; height: 24px; border: medium none; float: left; position: relative; overflow: hidden; cursor: pointer; }
li.head-store { width: 73px; }
.head-store a i { background-position: -168px 0px; }
li.head-products { width: 37px; }
.head-products a i { background-position: -288px 0px; }
li.head-retail { width: 55px; }
.head-retail a i { background-position: -374px 0px; }
li.head-flyme { width: 60px; }
.head-flyme a i { background-position: -473px 0px; }
li.head-services { width: 39px; }
.head-services a i { background-position: -577px 0px; }
li.head-bbs { width: 39px; margin-right: 0px; }
.head-bbs a i { background-position: -661px 0px; }
.head-store a:hover i { background-position: -168px -27px; }
.head-products a:hover i { background-position: -288px -27px; }
.head-retail a:hover i { background-position: -374px -27px; }
.head-flyme a:hover i { background-position: -473px -27px; }
.head-services a:hover i { background-position: -577px -27px; }
.head-bbs a:hover i { background-position: -661px -27px; }
.headRight { margin-top: 38px; float: right; width: 210px; text-align: right; }
.headRight .line_head { display: inline-block; font-size: 12px; margin: 0px 5px; color: rgb(216, 216, 216); vertical-align: middle; }
.headRight a { display: inline-block; height: 20px; line-height: 20px; vertical-align: middle; }
#head-name { max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/* ::::: https://uc-res.meizu.com/resources/uc/wlogin/base/css/cycode.css ::::: */

.show-cycode #cycode, .show-cycode #account, .show-cycode #phone { padding: 0px; }
.cycode-box {  }
.cycode-box .clearfix::after { display: block; content: " "; height: 0px; clear: both; overflow: hidden; visibility: hidden; }
.cycode-selectbox .cycode-selected { display: none; }
.show-cycode .cycode-selected { display: inline-block; width: 60px; border-right: 1px solid rgb(221, 221, 221); cursor: pointer; }
.cycode-selected .arrow-down { display: inline-block; width: 14px; height: 8px; background: transparent url('arrow-down.png') no-repeat scroll center center; }
.cycode-selectbox input { vertical-align: middle; font-size: 14px; margin-bottom: 0px ! important; }
.cycode-selected .ipt-cycode { height: 20px; line-height: 20px; width: 60%; color: grey; text-align: center; cursor: pointer; }
.cycode-box .cycode-container { width: 100%; height: 210px; line-height: 30px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(232, 232, 232); overflow-x: hidden; overflow-y: auto; position: absolute; left: -1px; top: 50px; z-index: 500; display: none; color: rgb(0, 0, 0); }
.country-code .head { background: rgb(249, 249, 249) none repeat scroll 0% 0%; padding-left: 10px; }
.country-code li { padding: 0px 10px; clear: both; overflow: hidden; cursor: pointer; }
.country-code li:hover { background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
.country-code li span { height: 30px; overflow: hidden; }
.country-code .record-code { float: right; max-width: 20%; }
.country-code .record-country { float: left; max-width: 74%; cursor: pointer; }
/* ::::: https://uc-res.meizu.com/resources/uc/web/member/css/actmanage.css?ver=201609 ::::: */

body, .mz_header { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
html { overflow-y: scroll; }
.top-leftWrap { float: left; width: 100px; height: 100px; position: relative; }
.top-rightWrap { float: left; padding-left: 20px; width: 80%; }
.getFunnyNameTitle { color: white; width: 65px; height: 35px; line-height: 35px; background-color: rgb(50, 164, 229); text-align: center; margin-top: 10px; margin-bottom: 10px; }
.getFunnyName { height: 57px; width: 450px; margin: -15px 0px 0px -18px; position: relative; z-index: 99; }
#nickNameCon, #setaccount { position: relative; z-index: 10000; height: auto; overflow: hidden; }
#setaccount div { height: auto; overflow: hidden; }
#setaccount .fBtnleft { margin-bottom: 0px; }
#funnyNameClose { margin-top: -40px; margin-left: -25px; width: 340px; height: 135px; background: transparent url('close.png') no-repeat scroll -8px -67px; }
.funnyNameClose { position: absolute; right: 15px; top: 0px; width: 25px; height: 20px; line-height: 25px; display: inline-block; }
.funnyNameClose i { background: transparent url('close.png') no-repeat scroll -2px -4px; }
.funnyNameClose:hover i { background-position: -26px -4px; }
.funnyNameWrap { width: 340px; height: 135px; line-height: 135px; color: white; margin-left: 88px; }
#userImg { width: 100px; height: 100px; position: absolute; left: 0px; top: 0px; z-index: 4; }
.nickname { position: relative; height: 30px; }
.nickname_tips { position: relative; width: 300px; overflow: hidden; }
#nickName { font-size: 18px; float: left; }
#nickNameEdite { display: inline-block; overflow: hidden; margin: 4px 0px 0px 5px; width: 16px; height: 17px; float: left; position: relative; }
#nickNameEdite i { background: transparent url('elements.png') no-repeat scroll 0px 0px; }
#safeLevelTip { display: inline-block; overflow: hidden; width: 25px; height: 21px; margin-left: 5px; vertical-align: -4px; }
#safeLevelTip i { background: transparent url('elements.png') no-repeat scroll -65px -62px; }
.edit { margin-top: 20px; }
.mainWrap { width: 800px; }
.titleWrap { height: 72px; line-height: 72px; font-size: 18px; }
.title-leftWrap { float: left; }
.title-rightWrap { float: right; }
.mainWrap .lineWrap { height: 75px; }
.item-left { height: 100%; width: 115px; float: left; }
.item-middle { height: 100%; float: left; }
.item-right { height: 100%; float: right; }
#changeEmailWrap-unactive, #bindEmailWrap, #changeTelWrap-unactive, #bindTelWrap { padding-left: 17px; }
.cEmail-titleWrap, .bindEmail-titleWra, .cTel-titleWrap, .bindTel-titleWrap, .bindEmail-titleWrap, .setQuestion-titleWrap, .cQuestion-titleWrap { font-size: 18px; height: 80px; line-height: 80px; }
.bodyWrap form label { display: inline-block; width: 114px; }
a.save_form, a.cancel_form { width: 158px; height: 50px; line-height: 50px; font-size: 18px; }
a.cancel_form { margin-left: 25px; }
#changeEmailWrap-unactive, #bindEmailWrap, #changeTelWrap-unactive, #bindTelWrap, #changeTelWrap-code { margin-bottom: 30px; }
#kapkey, #ce-u-passwordvalidate_code, #ce-u-passwordvalidate_codeone, #ce-u-passwordvalidate_codetwo, #kapkeyEmail, #kapkeyTelNew { font-size: 16px; width: 220px; border: medium none; outline: medium none; line-height: 22px; padding: 14px 0px; height: 22px; }
.get_kapkey { width: 80px; border: medium none; outline: medium none; height: 50px; line-height: 50px; font-size: 16px; position: absolute; right: 10px; top: 0px; display: inline-block; white-space: nowrap; }
.kapkey_requested { position: absolute; left: 250px; white-space: nowrap; top: 0px; }
#flyme { width: 220px; height: 100%; }
span.flymeSpan { height: 50px; line-height: 50px; width: 50px; }
.form-line { color: rgb(217, 217, 217); height: 40px; display: inline-block; border-left: 1px solid rgb(218, 218, 218); position: absolute; right: 100px; top: 5px; }
.current_email { border: 0px solid rgb(218, 218, 218); height: 40px; line-height: 40px; padding-top: 0px; padding-bottom: 0px; }
.ftipright { margin-right: 30px; }
.username { width: 220px; border: medium none; outline: medium none; font-size: 16px; height: 20px; line-height: 20px; }
.leftLabel { display: inline-block; width: 96px; }
.leftWrap { float: left; height: 52px; line-height: 52px; }
.questionlineWrap, #currentEmail .leftWrap { height: 40px; }
#currentEmail { height: 50px; }
.questionlineWrap .leftWrap, #currentEmail .leftLabel { float: left; height: 40px; line-height: 40px; }
.fBtnleft { margin-top: 20px; margin-bottom: 20px; }
#editSave, #editCancel, #newSave, #newCancel { margin-bottom: 0px; }
#nickNameCon form { width: 880px; }
.topWrap { margin: 20px auto 20px 17px; }
.topWrap .top-leftWrap:hover a { display: block; color: rgb(255, 255, 255); }
.modifyIconTip { color: rgb(255, 255, 255); width: 100px; height: 20px; text-align: center; bottom: 0px; cursor: pointer; z-index: 200; display: none; position: absolute; }
.modifyIconTip-bg { display: none; width: 100px; height: 20px; left: 0px; bottom: 0px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; opacity: 0.2; overflow: hidden; z-index: 100; cursor: pointer; position: absolute; }
.ftop { margin-top: 10px; }
#setQuestionSave { display: block; margin: 0px auto; }
.grayTip { height: 50px; vertical-align: top; display: inline-block; width: 100%; }
#setUserNameWrap { height: 30px; }
a.getFunnyNameTitle:hover { background-color: rgb(43, 140, 197); color: rgb(255, 255, 255); }
.nameWrapTop { margin-top: 10px; height: 30px; }
.bodyWrap .modify_content { margin-bottom: 20px; }
.pwdWrapTop { margin-top: 20px; }
.nickNameCon { margin-bottom: 0px; }
#flyme, #kapkey, #kapkeyEmail { line-height: 22px; padding: 14px 0px; height: 22px; }
#newnickName, #ce-u-current_pwd, #ce-u-active_email, #ce-u-cTelNew, #ce-u-passwordNew, #ce-u-new_pwd, #ce-u-bind_email, #setQuestion_pwd, #qanswer1, #qanswer2, #answer1, #answer2, #resetanswer1, #resetanswer2, #ce-u-new_pwd1, #ce-u-new_pwd2 { line-height: 22px; padding: 14px 10px; height: 22px; }
#nickNameCon, #setaccount { clear: both; }
#setTelCheckPass { width: 770px; }
.flymeTip { padding-left: 0px; color: red; }
#pwdBtn { margin-top: 13px; margin-bottom: 10px; }
.pwdBtn, .pwdBtnShow { outline: medium none; position: relative; display: inline-block; width: 30px; height: 30px; cursor: pointer; overflow: hidden; float: right; margin-right: 5px; }
.pwdBtnShow i, .pwdBtn i { background: transparent url('elements.png') no-repeat scroll 0% 0%; }
.pwdBtnShow i { background-position: -30px -93px; }
#ce-u-new_pwd1, #ce-u-new_pwd2 { float: left; width: 255px; line-height: 22px; padding-left: 0px; }
.normalInput { margin-bottom: 0px; vertical-align: middle; }
.grayBorderTop { border-top: 0px solid rgb(242, 242, 242); }
.red { color: red; }
.top-rightWrap { padding-left: 17px; }
.title-leftWrap span, .bodyWrap .item-left, #changePasswordWrap, #changeEmailWrap-activeone, #setQuestion-stepOne, #changeEmailWrap-active-two, #setQuestion-stepTwo, #changeQuestionWrap, #resetQuestion, #changeTelWrap-activeNew, #setTelCheckPass { padding-left: 17px; }
.dropdown { height: 52px; text-align: left; padding-left: 10px; margin: 0px; line-height: 52px; width: 342px; border: 1px solid rgb(218, 218, 218); color: rgb(71, 71, 71); outline: medium none; font-size: 16px; vertical-align: middle; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.dropdown_arrow { width: 0px; height: 0px; border-width: 5px; border-style: solid; border-color: rgb(119, 119, 119) transparent transparent; font-size: 0px; line-height: 0; position: absolute; }
.dropdown_menu { margin: 0px; padding: 0px; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(166, 193, 215) rgb(166, 193, 215); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 5px 10px rgb(204, 204, 204); display: none; }
.dropdown_menu li { list-style: outside none none; margin: 0px; padding: 0px 0px 0px 10px; height: 30px; line-height: 30px; color: rgb(51, 51, 51); background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: left; cursor: pointer; }
.cycode-box {  }
.show-cycode input[name="phone"] { width: 78%; height: auto; line-height: 40px; }
#kapkeyTelOld { width: 220px; }
.navWrap { height: 58px; border-bottom: 1px solid rgb(228, 231, 233); }
.navWrap .nav { display: block; float: left; line-height: 58px; }
.navWrap .nav li { position: relative; display: inline-block; margin-right: 40px; width: 100px; height: 100%; float: left; }
.navWrap .nav li a { display: inline-block; width: 100%; height: 56px; font-size: 16px; text-align: center; }
.navWrap .nav .current { margin: 0px auto; height: 2px; width: 100px; overflow: hidden; background-color: rgb(29, 174, 237); }
