/* ::::: https://uc-res.meizu.com/resources/uc/web/base/css/base.css?ver=20140707 ::::: */

html { height: 1%; }
body { background: white none repeat scroll 0% 0%; font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif; font-size: 14px; color: rgb(81, 81, 81); margin: 0px; padding: 0px; }
body input, body textarea { font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif; background-color: white; outline: medium none; }
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span, dl, ul, li { margin: 0px; padding: 0px; border: 0px none; list-style: outside none none; }
a { color: rgb(81, 81, 81); text-decoration: none; }
a:hover { color: rgb(0, 0, 0); text-decoration: none; }
a:focus { outline: medium none; }
.i_icon { display: inline-block; width: 100%; height: 100%; overflow: hidden; }
.footerWrap { position: absolute; bottom: 0px; width: 100%; height: 130px; border-top: 1px solid rgb(229, 230, 231); background-color: rgb(255, 255, 255); color: black; }
.footerInner { width: 1000px; margin: 24px auto 30px; }
.footer-layer1 { height: 50px; line-height: 50px; overflow: hidden; }
.footer-layer1 a:link { color: black; }
.service-label { margin-right: 10px; }
.service-num { margin-right: 20px; }
#service-online { display: inline-block; height: 20px; line-height: 18px; width: 64px; color: white; background-color: rgb(50, 165, 231); border-radius: 2px; text-align: center; }
.service-online:hover { color: white; }
.footer-language { position: relative; overflow: hidden; cursor: default; background: transparent url('base.png') no-repeat scroll -80px -150px; }
.footer-outerLink a { margin-left: 10px; display: inline-block; overflow: hidden; width: 32px; height: 32px; }
.footer-innerLink, .footer-outerLink { float: left; }
.footer-service { float: left; margin-left: 36px; }
.footer-innerLink {  }
.footer-outerLink { position: relative; float: right; padding-top: 9px; }
.foot-line { background-color: rgb(136, 136, 136); margin: 0px 5px; width: 1px; height: 10px; }
.footer-outerLink i { background: transparent url('base.png') no-repeat scroll 0% 0%; }
.footer-sinaMblog i { background-position: -218px -91px; }
.footer-weChat i { background-position: -302px -91px; }
.footer-qzone i { background-position: -344px -91px; }
.footer-outerLink a { cursor: pointer; }
.footer-sinaMblog:hover i { background-position: -218px -137px; }
.footer-weChat:hover i { background-position: -302px -137px; }
.footer-qzone:hover i { background-position: -344px -137px; }
.copyrightInner a, .copyrightInner span { font-size: 12px; }
#wechatPic { position: absolute; z-index: 1000; width: 310px; height: 270px; background: transparent url('weixin.png') no-repeat scroll 0% 0%; display: none; }
div.footer-language_menu { box-shadow: 0px 0px 10px rgb(225, 228, 232); border-radius: 2px; background-color: rgb(254, 254, 254); position: absolute; border: 1px solid rgb(225, 228, 232); display: none; overflow: hidden; }
.footer-language_menu { bottom: 90px; width: 70px; height: 40px; z-index: 2000; }
.footer-language_menu a { display: block; height: 40px; line-height: 40px; width: 118px; margin: 0px auto; text-decoration: none; border-bottom: 1px solid rgb(228, 231, 233); font-size: 14px; color: rgb(0, 0, 0); text-align: left; padding-left: 10px; outline: medium none; }
.footer-language_menu a.ClobalItem:link { color: rgb(0, 0, 0); }
.footer-language_menu a.ClobalItem:visited { color: rgb(0, 0, 0); }
.footer-language_menu a.ClobalItem:hover { color: rgb(81, 81, 81); }
.copyrightWrap { width: 100%; }
.copyrightInner { width: 1000px; margin: 0px auto; }
.copyrightInner span { color: rgb(127, 127, 127); float: left; }
.copyrightInner a { white-space: nowrap; float: left; color: rgb(127, 127, 127); margin-left: 6px; }
.clear { content: ""; clear: both; display: block; height: 0px; overflow: hidden; }
.noselect { -moz-user-select: none; }
.pointer { cursor: pointer; }
a.linkABlue:link, a.linkABlue:visited { color: rgb(0, 167, 234); }
a.linkABlue:hover { color: rgb(0, 142, 199); }
a.invalidBtn:link, a.invalidBtn:visited { color: rgb(127, 127, 127); cursor: default; }
a.invalidBtn:hover { color: rgb(127, 127, 127); }
a.linkAGray:link, a.linkAGray:visited { color: rgb(127, 127, 127); }
a.linkAGray:hover { color: rgb(43, 43, 43); }
a.fullBtnBlue:hover { background-color: rgb(43, 140, 197); color: rgb(255, 255, 255); }
a.fullBtnBlue { display: inline-block; height: 50px; width: 342px; font-size: 20px; line-height: 50px; text-align: center; margin-bottom: 20px; outline: medium none; cursor: pointer; background-color: rgb(50, 165, 231); color: rgb(255, 255, 255); }
.normalInput { position: relative; display: inline-block; padding: 0px 10px; width: 320px; height: 50px; line-height: 50px; font-size: 16px; margin-bottom: 20px; border: 1px solid rgb(218, 218, 218); outline: medium none; color: rgb(71, 71, 71); overflow: hidden; }
div.normalInput { overflow: visible; }
.normalInput input { font-size: 16px; width: 100%; height: 50px; line-height: 50px; }
.grayTip { color: rgb(127, 127, 127); }
span.error, span.otherError { margin-left: 20px; color: red; height: 14px; }
.mzClose, .mzUpAngle, .mz3AngleL i, .mzAngle, .mzAngle1, .mzAngle2, .radio_unchk, .radio_chk, .check_chk i, .check_unchk i { background: transparent url('elements.png') no-repeat scroll 0% 0%; }
.check_chk i { background-position: -31px -127px; }
.checkboxPic { display: inline-block; width: 25px; height: 20px; line-height: 20px; cursor: pointer; vertical-align: middle; overflow: hidden; }
.mzchkbox, .mzradio { cursor: pointer; }
#mail { width: 340px; border: 1px solid silver; position: absolute; z-index: 10; }
#mail .item { background-color: rgb(255, 255, 255); color: rgb(81, 81, 81); cursor: pointer; height: 22px; line-height: 22px; letter-spacing: 1px; font-size: 13px; padding-left: 5px; }
.boxShadow10 { box-shadow: 0px 0px 15px rgb(20, 20, 20); }
.bRadius2 { border-radius: 2px; outline: medium none; }
@media screen and (max-width: 980px) {
	body { width: 1080px; }
}
input:-moz-placeholder { color: rgb(144, 144, 144); }
*::-moz-placeholder { color: rgb(144, 144, 144); }
.ucSimpleHeader { height: 30px; margin: 0px auto; position: relative; padding-top: 45px; width: 1000px; }
.meizuLogo { float: left; height: 20px; width: 110px; overflow: hidden; display: block; }
.meizuLogo i { width: 100%; height: 100%; display: block; background: transparent url('base.png') no-repeat scroll -2px -4px; }
#trigger { float: right; height: 20px; line-height: 20px; width: 100px; text-align: center; }
/* ::::: https://uc-res.meizu.com/resources/uc/web/member/css/nameRegister.css?ver=20140707 ::::: */

.content { width: 100%; }
#toRegister { color: rgb(71, 71, 71); cursor: pointer; }
#mainForm { width: 100%; margin: 100px auto 0px; overflow: hidden; }
.middle { width: 343px; margin: 0px auto; }
.number { font-size: 20px; margin-left: -5px; margin-bottom: 30px; width: 350px; text-align: center; }
.register-line { color: rgb(217, 217, 217); display: inline-block; border-width: 1px; border-style: solid solid solid none; border-color: rgb(218, 218, 218) rgb(218, 218, 218) rgb(218, 218, 218) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 16px; margin-right: 50px; margin-left: 50px; }
.rememberField { margin-bottom: 30px; height: 20px; line-height: 20px; }
.normalInput .username { width: 220px; border: medium none; outline: medium none; font-size: 16px; height: 50px; line-height: 22px; }
#kapkey { font-size: 16px; width: 220px; border: medium none; outline: medium none; height: 50px; line-height: 22px; overflow: hidden; position: relative; }
.lineWrap {  }
#pwdBtn { margin-top: 13px; margin-bottom: 10px; }
#password, #password1 { width: 200px; display: inline-block; height: 50px; line-height: 22px; font-size: 16px; outline: medium none; color: rgb(71, 71, 71); float: left; }
#mainForm input { line-height: 22px; padding: 14px 0px; height: 22px; }
.pwdBtn, .pwdBtnShow { outline: medium none; position: relative; display: inline-block; width: 30px; height: 30px; cursor: pointer; overflow: hidden; float: right; margin-right: 5px; }
.pwdBtnShow i, .pwdBtn i { background: transparent url('elements.png') no-repeat scroll 0% 0%; }
.pwdBtnShow i { background-position: -30px -93px; }
span.error, span.otherError { display: block; margin-left: 0px; margin-bottom: 20px; }
.grayTip { height: 50px; line-height: 50px; vertical-align: top; display: inline-block; }
.form-line { color: rgb(217, 217, 217); height: 40px; display: inline-block; border-left: 1px solid rgb(218, 218, 218); position: absolute; right: 100px; top: 5px; }
#getKey { width: 84px; text-align: center; border: medium none; outline: medium none; height: 50px; line-height: 50px; font-size: 16px; position: absolute; right: 10px; top: 0px; }
